<div class="row container-fluid body bg-light">

    <div class="col-md-3 ps-4 pe-4 pt-3  border-end border-dark ">

        <div class="border-bottom">
            <h2 >Vehicle Detail's</h2>
        </div>

        <div class="mt-4">
            <app-add-vehicle (saveEventEmitter)="getSavedData()"></app-add-vehicle>
        </div>

    </div>

    <div class="col-md-9 p-4 fh-config">

      <div class="col-md-12">
          <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput #vehicleSearch type="search" class="text-secondary">
        </mat-form-field>
      </div>


        <div>
            <table class="table-logix2" *ngIf="crudList.r">

                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Vehicle Name</th>
                        <th>Vehicle No</th>
                        <th>Contact No</th>
                        <!-- <th>Description</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of savedDataList|filter:vehicleSearch.value index as index">
                        <td>{{index +1}}</td>
                        <td>{{item.vehicleName}}</td>
                        <td>{{item.vehicleNo}}</td>
                        <td>{{item.contactNo}}</td>
                        <!-- <td>{{item.description}}</td> -->
                        <td>
                            <mat-icon (click)="edit(item)" class="text-success cursorPointer">edit</mat-icon>
                            <mat-icon (click)="delete(item)" class="text-danger cursorPointer">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

</div>