<div class="row container-fluid body bg-light">


    <!-- Left Side of the page  -->
    <div class="col-lg-6 mt-2 border-end">
        <div class="border-bottom">
            <h2>Party Information</h2>
        </div>
       
            <div class="col-lg-12 row mt-3">
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Party Type</mat-label>
                    <mat-select [(ngModel)]="partyType">
                        <mat-option value="Customer">Customer</mat-option>
                        <mat-option value="Supplier">Supplier</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Party Name</mat-label>
                    <input [(ngModel)]="partyName"  matInput type="text">
                </mat-form-field>
                
                
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Party CNIC</mat-label>
                    <input [(ngModel)]="partyCNIC" [textMask]="{mask:cnicMask}" maxlength="15"   matInput type="text">
                    <mat-hint>{{partyCNIC.length}} / 15</mat-hint>
                </mat-form-field>
                
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Passport no.</mat-label>
                    <input [(ngModel)]="passportNo"   matInput type="text">
                </mat-form-field>
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Mobile no.</mat-label>
                    <input [(ngModel)]="partyMobileno" maxlength="12"  [textMask]="{mask:mobileMask}"  matInput type="text">
                    <mat-hint>{{partyMobileno.length}} / 12</mat-hint>
                </mat-form-field>
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Telephone no.</mat-label>
                    <input  [(ngModel)]="partyTelephoneno" maxlength="11"  [textMask]="{mask:telephoneMask}"  matInput type="text">
                    <mat-hint>{{partyTelephoneno.length}} / 11</mat-hint>
                </mat-form-field>

                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Bank Name</mat-label>
                    <input  [(ngModel)]="bankName"   matInput type="text">
                </mat-form-field>

                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Account Title</mat-label>
                    <input  [(ngModel)]="accountTitle"   matInput type="text">
                </mat-form-field>

                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Account No.</mat-label>
                    <input  [(ngModel)]="accountNo"   matInput type="text">
                </mat-form-field>
             
                    <mat-form-field  class="col-lg-6 matSmall" appearance="outline"> 
                        <mat-label>City</mat-label>
                        <mat-select [(ngModel)]="City" #city>
                            <mat-option><ngx-mat-select-search #citySearch
                                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                name="search"></ngx-mat-select-search></mat-option>
                            <mat-option *ngFor="let item of CitiesNames |filter:citySearch.value" value="{{item.cityID}}">{{item.cityName}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix (click)="addCity()">add</mat-icon>
                    </mat-form-field>
                    
            
               
                
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea [(ngModel)]="partyAddress" matInput type="text"></textarea>
                </mat-form-field>
                
                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea [(ngModel)]="description" matInput type="text"></textarea>
                </mat-form-field>
            </div>


       <div class="d-flex justify-content-center">
        <Button class="btnsave m-2 w-25" *ngIf="crudList.c && btnType == 'Save'" (click)="saveParty()">{{btnType}}</Button>
        <Button class="btnsave m-2 w-25" *ngIf="crudList.u && btnType == 'Update'" (click)="saveParty()">{{btnType}}</Button>
        <Button class="btnreset m-2 w-25" (click)="reset()">Reset</Button>
        <mat-checkbox [(ngModel)]="autoEmpty">Auto Empty</mat-checkbox>
       </div>
    </div>


    <!-- Saved Record Side of the page  -->
    <div class="mt-2 col-lg-6 border-start">
        <div class="border-bottom ">
            <h2 style="margin-left:10px;">Saved Record </h2>
        </div>
        <div class="m-3">
       <div>
        <mat-form-field class="col-md-8 me-1 matSmall" appearance="outline">
            <mat-label>Search</mat-label>
            <input [(ngModel)]="searchtxt" matInput type="search" class="text-secondary">
        </mat-form-field>
        <mat-form-field appearance="outline" class="matSmall">
            <mat-label>Search</mat-label>
            <mat-select [(ngModel)]="srPartyType" (selectionChange)="getParty()">
                <mat-option value="Customer">Customer</mat-option>
                <mat-option value="Supplier">Supplier</mat-option>
            </mat-select>
        </mat-form-field>
       </div>

        <mat-progress-bar mode="indeterminate" *ngIf="loadingBar == 'start'"></mat-progress-bar>
            <table class="table" *ngIf="crudList.r">
                <thead>
                    <th >S.#</th>
                    <th >Party Name</th>
                    <th >Type</th>
                <th >CNIC</th>
                <th >Mobile</th>
                <th >City</th>
                <!-- <th >Address</th> -->
                <th  colspan="2 ">Action</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of partyData |filter : searchtxt |paginate:{
                        itemsPerPage : tableSize,
                        currentPage : page,
                        totalItems :    count,
                    } ;index as index">
                        <td>{{index+1}}</td>
                        <td>{{item.partyName}}  </td>
                        <td >{{item.partyType}}</td>
                        <td>{{item.partyCNIC}}</td>
                        <td>{{item.partyMobileNo}}</td>
                        <td>{{item.cityName}}</td>
                        <!-- <td>{{item.partyAddress}}</td> -->
                        <td >
                            <div >
                                <mat-icon class="text-success cursorPointer"(click)="editParty(item)">edit</mat-icon>
                            <mat-icon class="text-danger cursorPointer" *ngIf="crudList.d" (click)="DeleteParty(item)"> delete</mat-icon>
                            </div>
                        </td>
                     
                    </tr>
                </tbody>
            </table>

            <div class="d-flex" >
                <mat-hint class="me-1 text-secondary">Total Rows : ({{partyData.length}})    </mat-hint>
                <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
                ></pagination-controls>
                

                <mat-hint class=" me-1 text-secondary">Rows Per Page </mat-hint>
                <select class="text-white" style="width: 50px; height: 25px;background-color: rgb(75, 164, 248);" (change)="onTableSizeChange($event)">
                    <option *ngFor=" let item of tableSizes">{{item}}</option>
                </select>
                
            </div>



        </div>
    </div>
</div>
