      <div>

                    <div class="text-end p-2">
                        <mat-form-field appearance="outline" class="w-100 matSmall">
                            <mat-label>Search...</mat-label>
                            <input matInput type="text" #searchSavedBill />
                        </mat-form-field>
                    </div>
                    <div class="p-2" style="max-height: 400px;overflow-y: scroll;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S#</th>
                                    <th>Bill #</th>
                                    <th>Order</th>
                                    <th>Date</th>
                                    <th>Table No</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Print</th>
                                    <th>Detail</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of savedbillList |filter:searchSavedBill.value index as index">
                                    <td>{{index+1}}</td>
                                    <td>{{item.invBillNo}}</td>
                                    <td>{{item.orderNo}}</td>
                                    <td>{{item.invDate|date:'dd-MM-yyyy'}} ({{item.createdOn|date:'hh:mm:a'}})</td>
                                    <td>{{item.tableTitle}}</td>
                                    <td>{{item.paymentType}}</td>
                                    <td>{{item.netTotal |number:'1.0-0'}}</td>
                                    <td class="cursorPointer"><mat-icon class="text-primary "
                                            (click)="printDuplicateBill(item)">print</mat-icon>
                                        <mat-icon *ngIf="FBRFeature && !item.fbrStatus && item.paymentType !== 'Complimentary'" (click)="sendToFbr(item)">send</mat-icon>
                                        </td>
                                    <td class="text-success cursorPointer"><mat-icon
                                            (click)="billDetails(item)">receipt</mat-icon></td>
                                </tr>
                            </tbody>

                        </table>


                    </div>

              




                    <!------------------------------ Design For Bill Pirnt  --------------------->

                    <app-rest-sale-bill-print id="print-bill" class="hide"></app-rest-sale-bill-print>

                   

                    <!---------------------------------------------------------------------------------->

                </div>
