

.form-drawer { width: 70vw; padding: 0 24px 24px; }
.drawer-header { display: flex; justify-content: space-between; align-items: center; }

.fab { position: fixed; left: 1vw; top: 85px; z-index: 10; }