<div  class="row no-scroll vh-100 bg-gra body ">

    <div class="col-lg-4 bg-white p-5 border">
        <h2 class="border-bottom">Brand Detail's</h2>
        


        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Brand Title</mat-label>
            <input matInput type="text" [(ngModel)]="brandTitle" >
        </mat-form-field>

        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput type="text" [(ngModel)]="brandCode" >
        </mat-form-field>

        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="description" ></textarea>
        </mat-form-field>

    

        <div class="row justify-content-around">
            <button class="btnsave w-25" *ngIf="crudList.u && btnType == 'Update'" (click)="save()">{{btnType}}</button>
            <button class="btnsave w-25" *ngIf="crudList.c && btnType == 'Save'" (click)="save()">{{btnType}}</button>
            <button class="btnreset w-25" (click)="reset()">Reset</button>
        </div>
        

    </div>

    <div class="col-lg-8 p-4" style="min-height: 90vh;max-height: 90vh;overflow-y: scroll;">


        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Search.....</mat-label>
            <input [(ngModel)]="txtSearch" matInput type="search" class="text-secondary">
        </mat-form-field>


        <div>
            <table class="table-logix2" *ngIf="crudList.r">
                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Title</th>
                        <th>Code</th>
                        <th *ngIf="crudList.u">Edit</th>
                        <th *ngIf="crudList.d">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of BrandList | filter:txtSearch  index as index">
                        <td>{{index+1}}</td>
                        <td class="text-start">{{item.brandTitle}}</td>
                        <td class="text-start">{{item.brandCode}}</td>
                        <td *ngIf="crudList.u"><button mat-mini-fab  class="bg-success text-white h30px w30px" (click)="edit(item)"><mat-icon >edit</mat-icon></button></td>
                        <td *ngIf="crudList.d"><button mat-mini-fab  color="warn" class="h30px w30px" (click)="delete(item)"><mat-icon>delete</mat-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    


    </div>


</div>





