<div class="p-4">

    <div class="d-flex justify-content-between">
        <h3 class="text-uppercase">Opening Balance</h3>
   </div>
    <hr>
<div class="row">
    <mat-form-field appearance="outline"  class="col-lg-12">
        <mat-label>Invoice Date</mat-label>
        <input [(ngModel)]="invoiceDate"  readonly="true" matInput type="text" name="invDate"
            [matDatepicker]="iDate">
        <mat-datepicker-toggle matSuffix [for]="iDate"></mat-datepicker-toggle>
        <mat-datepicker #iDate></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>Type</mat-label>
        <mat-select   [(ngModel)]="paymentType" (selectionChange)="getCoaList()">
         <mat-option *ngFor="let item of paymentTypeList" [value]="item.value">{{item.title}}</mat-option>
        </mat-select>
    </mat-form-field>

   <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>COA</mat-label>
        <mat-select   [(ngModel)]="coaID">
         <mat-option *ngFor="let item of coaList" [value]="item.coaID">{{item.coaTitle}}</mat-option>
        </mat-select>
    </mat-form-field>

  

    <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Amount</mat-label>
       <input matInput [(ngModel)]="amount" (keydown)="global.handleNumKeys($event)" />
    </mat-form-field>


    <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Remarks</mat-label>
       <textarea matInput [(ngModel)]="remarks" ></textarea>
    </mat-form-field>
</div>


</div>

<div class="bg-mf text-end p-3">
    <button class="btnsave me-1" (click)="Save()">{{btnType}}</button>
    <button class="btnclose" (click)="closeDialog()">Close</button>
</div>

