.btblbtn{
    width: 90px;
     height: 90px;
    //  border-radius: 5px;
     text-align: center;
    //  justify-content:right;
     font-weight: bold;
     font-size: 15px;
     margin: 10px;
     border: 1px solid Black;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
   
   }