<div class="row pt-1">


    <div class="d-flex justify-content-center" *ngIf="this.MobUserID > 0">

        <div class="avatar-upload ">
            <div class="avatar-edit">
                <input type="file" accesskey="g" id="prodimg" accept="" #prodimg (change)="onImgSelected($event)" />
                <label for="prodimg"><mat-icon class=" mt-1">edit</mat-icon></label>
            </div>
            <div class="avatar-del">
                <label (click)="partyImg = ''"><mat-icon class=" mt-1">delete</mat-icon></label>
            </div>
            <div class="avatar-preview">
                <div accesskey="i" id="imagePreview" [ngStyle]="{ 'background-image': 'url(' + partyImg + ')' }">
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-6 mt-2">
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>First Name *</mat-label>
            <input [(ngModel)]="FirstName" id="partyName" matInput type="text">
        </mat-form-field>
    </div>

    <div class="col-md-6 mt-2">
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Last Name *</mat-label>
            <input [(ngModel)]="LastName" id="partyName" matInput type="text">
        </mat-form-field>
    </div>

    <div class="col-md-6 ">
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Email *</mat-label>
            <input [(ngModel)]="Email" id="partyName" matInput type="text">
        </mat-form-field>
    </div>




    <div class="col-md-6">
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Contact no *</mat-label>
            <input [(ngModel)]="MobileNo" maxlength="12" (keydown)="global.handleNumKeysandMinut($event)" matInput
                type="text">
            <mat-hint>{{MobileNo?.length}} / 12</mat-hint>
        </mat-form-field>
    </div>

        <div class="col-md-12">
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Address *</mat-label>
            <textarea rows="1" [(ngModel)]="userAddress" matInput
                type="text"></textarea>
        </mat-form-field>
    </div>


    <!-- <div class="col-md-12">

        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea rows="1" [(ngModel)]="partyAddress" matInput type="text"></textarea>
        </mat-form-field>
    </div> -->

    <div class="col-md-12" >
        <mat-form-field appearance="outline" class="w-100 matSmall">
            <mat-label>Password *</mat-label>
            <input [disabled]="MobUserID > 0" matInput type="password" [(ngModel)]="Password" id="pwd" #pwd>
            <mat-icon matSuffix (click)="global.showPassword($event,'#pwd')">{{pwd.type == 'password'
                ?'visibility_off':'visibility'}}</mat-icon>

        </mat-form-field>
    </div>


</div>


<div class="d-flex flex-wrap justify-content-between">
    <div class="col-md-4 pe-1" *ngIf="crudList.c"><button class="btnsave w-100" (click)="save()">{{btnType}}</button>
    </div>
    <div class="col-md-4 "><button class="btnreset w-100" (click)="reset()">Reset</button></div>
</div>