input:focus{
  
    outline: none;
}

.prodBtn:focus{
    outline: none;
    color: rgb(255, 255, 255) !important;
    background-color: black !important;
    zoom: 1;
   
}



#psearchProduct{
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    background-color:transparent;
    border: 1px solid rgb(13, 110, 253);
    border-radius: 5px 0px 0px 5px;
    width: 1080px;
}


a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    padding: 5px;

}

.example-viewport {
    height: 350px;
    width: 100%;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
    width: 100%;
  }

.SearchConatiner{
// border: 0px solid rgb(180, 180, 180);
// background-color: rgb(249, 249, 249);

// margin-top: 55px;
width: 100%;
// z-index:1000;
// position: absolute;
margin-top: -20px;
max-height: 45vh;
overflow: hidden;

// max-width: 470px;


.SearchConatiner , .card{
    background-color: rgb(247, 242, 242);
    // padding: 10px;
    // margin: 1px;
    
    
}



.SearchConatiner, p{
    padding: 10px;
    text-decoration: none;
    // color:rgb(255, 253, 253);
    height: 30px;
    display: block;
    // border-bottom: 1px solid rgb(174, 174, 174);
 }

}

.table-Card{
    height: 340px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.tableHead{
    background-color: rgb(244, 207, 140);
    height: 40px;
}




::ng-deep .cdk-overlay-container{
    z-index:2000;
  }
 

//   @media only screen and (max-width:1000px){
//         .body{

//             overflow-x: scroll;
//             // .d-flex{
//             //     flex-wrap: wrap;
//             // }

          

//             .row1{
//                 display: flex;
//                 flex-direction: column;
//                 position: absolute;
            
    
//                 div{
//                     display: flex;
//                     flex-wrap: wrap;
//                 }
//             }   
    
//             .row2{
//                 display: flex;
//                 flex-direction: column;
               
//                 top: 400px !important;

//                 div{
//                     position: relative;
//                 }
//                 .billArea{
//                     position:sticky;
//                     width: 70%;
                   
//                 }

//                 .totalArea{
//                     position: static;
//                     width: 30%;
//                 }
//             }
//         }
      

//   }


//   @media only screen and (max-width:1400px){
//     .row1{
//         display: flex;
//         flex-direction: column;
//         position: absolute;
//         width: 70%;

//         div{
//             display: flex;
//             flex-wrap: wrap;
//         }
//     }   

//   }


