

.font-barcode{
    font-family:'barcode' !important;
    font-size: 40px;
    border: 0px solid red;
    height: 60px;

    overflow: hidden;
  }
  
  
  
  .bcodep{
    width: 50%;
    font-weight: bold;
    font-size: 30px;
  }
  
  .bcodet{
    width: 50%;
    font-weight: 400;
    font-size: 20px;
  }
  .bcodeC{
    font-weight: bold;
  }