
/* @font-face {
    font-family: 'barcode128';
    font-style: normal;
    src: url('./assets/fonts/barcode/code128.ttf');
  }
  
  @font-face {
    font-family: 'barcode39';
    src: url('./assets/fonts/barcode/BarCode39Lesbar-3yDM.ttf ');
  } */


  .cmpName{
    /* margin-top: 10px !important; */
        
 margin-bottom: -3px;
    font-size: 15px !important;
    display:flex  ;
    text-align: center !important;
    justify-content: center !important  ;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;
    
  }
  
  .barcode{
 
    font-size: 10px;
    display: flex;
    justify-content: center;
     /*font-family:'code 128' !important;*/
    /*font-size: 35px;*/
    
    /* padding-top: 10px; */
    /* border: 1px solid red; */
    /* height: 40px; */
    /* overflow: hidden; */
  }


  .bcodep{

    font-weight: bold;
    font-size: 12px;
    text-align: center !important;
    display: flex;
    justify-content: center;
    line-height: 13px;

   
  }

  .mb-8px{
    margin-bottom: -8px !important;
  }
  
  .bcodet {
    /* padding-left: 1px;
    padding-right: 1px; */
    /* margin-top: -3px; */
    display: flex;
    justify-content: center;
    text-align: center !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    line-height: 11px !important;
  }

  .barcodeText{
    font-size: 8px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    
  }

  .expiry{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    line-height: 10px;
    font-size: 8px;
  }
   .expiry span{
    line-height: 15px;
    text-align: center !important;
  }
  .bcodeC{
    margin-top: -10px;
    font-weight: bold;
    font-size: 10px;
  }

  .barcodeName{
    margin-top: -5px;

  }
  

  .w-50{
    width: 50% !important;
  }
  .w-25{
    width: 25% !important;
  }

  .w-75{
    width: 75% !important;
  }

  .w-60{
    width: 60% !important;
  }

  .w-40{
    width: 30% !important;
  }
  .w-80{
    width: 80% !important;
  }




 