
@font-face {
    font-family: 'barcode128';
    font-style: normal;
    src: url('./assets/fonts/barcode/code128.ttf');
  }
  
  @font-face {
    font-family: 'barcode39';
    src: url('./assets/fonts/barcode/BarCode39Lesbar-3yDM.ttf ');
  }


  .cmpName{
    font-size: 12px !important;
    margin-bottom: -3.5px;
    text-transform: uppercase;
    
  }
  
  .font-barcode{
    margin-top: -25px;
    font-family:'code 128' !important;
    font-size: 35px;
    
    /* padding-top: 10px; */
    /* border: 1px solid red; */
    /* height: 40px; */
    overflow: hidden;
  }


  .bcodep{
    
    font-weight: bold;
    font-size: 17px;
   
  }
  
  .bcodet{
 
    font-weight: 500;
    font-size: 15px;
    word-spacing: -2px;
    line-height: 20px;
    
  }
  .bcodeC{
    margin-top: -10px;
    font-weight: bold;
    font-size: 10px;
  }

  .barcodeName{
    margin-top: -5px;
  }
  

  .w-50{
    width: 50% !important;
  }

  .w-80{
    width: 80% !important;
  }

 