:root {
  /**  --dark : #484e4a; **/
  --app-primary: #060636;
  --primary: #0d6efd;
  --primary-light: #2e81fe;
  --primary-2: #DCD7C9;
  --secondary: #FDF6E2;
  --territory: #CBAA4A;
  --text-primary: #736745;
  --text-secondary: #a1a1a1;
  --body-primary: #D1BC7E;
  --body-secondary: #DCD7C9;

  --btn-primary-default: #198754;
  --btn-primary-hover: #20c997;
  --btn-primary-press: #198754;

  --btn-secondary-default: #0a58ca;
  --btn-secondary-hover: #0d6efd;
  --btn-secondary-press: #0a58ca;

  --btn-territory-default: #495057;
  --btn-territory-hover: #6c757d;
  --btn-territory-press: #495057;
  --btn-disable: #E1E1E1;

  --dark: #2a2829;
  --dark-light: #c5c1bb;
  --grey: #686969;
    --grey-light: #8c8f8f;
  --light: #eff0eb;
  --orange: #f5b121;
  --nha-orange: #1d6340;
  --darktone1: #9fa8a3;
  --sun-red: #d8705c;
  --white: #ffffff;
  --nha-blue: #3c1874;
  --royal-blue: #0041c2;
  --light-blue: #dff2fa;
  --primary-color: #4758b8;
  --golden: rgba(204, 174, 104);
  --golden-hover: rgb(107, 89, 46);
  --success: #157347;
  --success-light: #029450;
  --info: #0dcaf0;
  --warn: #ffc107;
  --danger: #dc3545;
  --danger-light: #ed4657;
  /* --primary:#0d6efd;*/
  --btn-focus-text: #e0e0e0;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h2 {
  font-family: 'Oswald';
  font-size: 1.8em !important;
  /** color: var(--nha-blue);**/
  letter-spacing: 0.05em !important;
}

h3 {
  font-family: 'Lato';
  font-size: 1.5em !important;
  /** color: var(--nha-blue);**/
}

h4 {
  font-family: 'Lato';
  font-size: 1.2em !important;
  letter-spacing: 0.1em !important;
  /** font-weight: 600 !important;**/
}

h5 {
  font-family: 'Raleway';
  font-size: 0.5em;
  color: var(--sun-red);
}

.h3-panel {
  font-family: 'Lato' !important;
  font-size: 1.1em !important;
  letter-spacing: 0.1em !important;
  /** font-weight: 600;**/
}

.fullWidth {
  width: 100% !important;
}

button {
  outline: none !important;
}

.noneOutline {
  outline: none !important;
}

/********************** headings ************************/
.h1-page-header {
  padding-left: 0.5em;
  color: var(--dark);
  font-family: 'Raleway';
  font-size: 1.7em;
}


/**************** background colors *******************/
.bg-dark-light {
  background-color: var(--dark-light);
}

.bg-light {
  background-color: var(--light);
}

/******************** borders ************************/
.border-bottom-page-header {
  border-bottom: 2px solid var(--white);
}

.border-right-dark {
  border-right: 1px solid var(--dark-light);
}

.border-top-light {
  border-top: var(--dark-light) !important;
}

.border-bottom-light {
  border-bottom: var(--dark-light) !important;
}

/****************** buttons ***********************/
.cursorPointer {
  cursor: pointer !important;
}

.button-page-header {
  position: relative;
  padding: 0.25em 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}

.button-page-header.type2 {
  color: var(--dark);
}

.button-page-header.type2.type2:after,
.button-page-header.type2.type2:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  transition: all 0.3s ease;
  transform: scale(0.85);
}

.button-page-header.type2.type2:hover:before {
  top: 0;
  transform: scale(1);
}

.button-page-header.type2.type2:hover:after {
  transform: scale(1);
}

/******* button with half bg color ***************/
.btn-half {
  margin: 20px auto;
  border: none;
  padding: 10px 30px;
  font-size: 0.9em;
  position: relative;
  font-family: 'Montserrat';
  letter-spacing: 0.2em;
}

.btn-half::before {
  -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: '';
  width: 50%;
  height: 100%;
  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
}

.btn-half .btn-text {
  color: var(--white);
  mix-blend-mode: difference;
}

.btn-half:hover::before {
  background: var(--dark);
  width: 100%;
}

.btn__text {
  font-size: 14px;

  font-weight: 700;
  color: #fff;
}

/**
 * Button 03
 */
.btn--3 {
  background: transparent;
}

.btn--3 .btn__text {
  position: relative;
  z-index: 1;
  color: var(--dark);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn--3::after {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  content: '';
  background-color: var(--sun-red);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--3:hover::after {
  top: 0;
  height: 100%;
}

.btn--3:hover .btn__text {
  color: #fff;
}

/********************************************************/
/************** Scroll bar *************/
/********************************************************/
.simplebar-scrollbar {
  background-color: var(--sun-red);
  width: 0.2em;
  padding: 0;
  margin: 0;
}

.scroll-verticle {
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.scroll-horizontal {
  overflow-x: auto;
  overflow-y: hidden !important;
}

.no-scroll {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}

/*
 *  STYLE 3
 */

.style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(203, 167, 11, 0.3) !important;
  background-color: var(--dark-light) !important;
}

.style-3::-webkit-scrollbar {
  width: 6px !important;
  background-color: var(--dark-light) !important;
}

.style-3::-webkit-scrollbar-thumb {
  background-color: var(--dark) !important;
}

.style-1::-webkit-scrollbar {
  width: 8px;
}

.style-1::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--dark-light));
  border-radius: 6px;
}

.style-1::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--dark));
  border-radius: 6px;
}

/*************** end Scroll bar ****************/

/*************** Angular Material ***************/
.mat-tab-group {
  height: calc(100%-0px);
  min-height: calc(100%-0px);
  max-height: calc(100%-0px);
  width: 100%;
  min-width: 100%;
}

.my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
  margin-top: -0.75em;
}

.mat-card-title {

  font-size: 1.2em;
  color: var(--sun-red);
}

.mat-tab-body-content {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.mat-tab-body {
  flex-grow: 1 !important;
}

.mat-panel-title {
  letter-spacing: 0.1em !important;
  font-weight: 800 !important;
}

button.mat-raised-button.savebtn {
  background-color: var(--nha-orange) !important;
  color: #fff !important;
  padding-left: 3em !important;
  padding-right: 3em !important;
}

button.mat-raised-button.resetbtn {
  background-color: var(--nha-blue) !important;
  color: #fff !important;
  padding-left: 3em !important;
  padding-right: 3em !important;
}

button.mat-raised-button.uploadbtn {
  background-color: var(--dark) !important;
  padding-left: 3em !important;
  padding-right: 3em !important;
  color: white !important;
}




/*************** end Angular Material ************/




::ng-deep.ng-select-container {
  border-bottom: 1px solid rgb(10, 10, 10) !important;
}

::ng-deep.ng-option-container {
  border-bottom: 1px solid rgb(14, 13, 13) !important;
}

::ng-deep .ng-select-container {
  min-height: 40px !important;
}


/************* Image Avatars ***************/
.avatar-border {
  border: 3px solid var(--white);
}

.picFrame {
  border: 10px solid white;
  width: 300px;
  height: auto;
}

/*********** end Image Avatars *************/

/***************** bootstrap classes ***************/
.row [class*='col-'] {
  transition: flex 0.5s ease-in-out, max-width 0.5s ease-in-out;
}

/************** end bootstrap classes **************/

/*************** div images *****************/
.img-mts {
  height: 3em;
  /** background-image: url(../assets/images/payroll/mts.png);**/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/************* end div images ***************/

/************* text & background colors ****************/
.sunred-text {
  color: var(--sun-red) !important;
}

.blue-text {
  color: var(--nha-blue) !important;
}

.royal-blue-text {
  color: var(--royal-blue) !important;
}

.sunred-bg {
  background-color: var(--sun-red) !important;
}

.dark-bg {
  background-color: var(--dark) !important;
}

.light-blue-bg {
  background-color: var(--nha-light-blue) !important;
}

.sun-red-bg {
  background-color: var(--sun-red) !important;
}

.nha-orange-bg {
  background-color: var(--nha-orange) !important;
}

.primary-color {
  background-color: var(--primary-color) !important;
}

.nha-orange-text {
  color: var(--nha-orange) !important;
}

.orange-bg {
  background-color: var(--orange) !important;
}

.yellow-text {
  color: yellow !important;
}

.dark-light-bg {
  background-color: var(--dark-light) !important;
}

.darktone1-bg {
  background-color: var(--darktone1) !important;
}

/****************** side Nav css ********************/
.side-nav-container {

  width: 100%;

  background: var(--orange);

  padding: 10px 0px 20px 0px;

  border-radius: 0px;

}

.side-nav-container-white {

  width: 100%;

  background: var(--nha-light-blue);

  padding: 10px 0px 20px 0px;

  border-radius: 0px;

}

.side-nav-link {
  font-size: 16px;
  font-weight: 350;
  text-align: center;
  position: relative;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  cursor: pointer;
}

.side-nav-link:after {
  content: '';
  position: absolute;
  width: 80%;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  bottom: 50%;
  left: -100%;
  transition-delay: all 0.5s;
  transition: all 0.5s;
}

.side-nav-link:hover:after,
.side-nav-link.hover:after {
  left: 100%;
}

.side-nav-link .text {
  text-shadow: 0px -40px 0px rgba(0, 0, 0, 1);
  transition: all 0.75s;
  transform: translateY(100%) translateZ(0);
  transition-delay: all 0.25s;
}

.side-nav-link:hover .text,
.side-nav-link.hover .text {
  text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
  color: #000;
  transform: translateY(0%) translateZ(0) scale(1.1);
  font-weight: 600;
}

/*************** End side Nav css *******************/

/************** Module Box Div *********************/
.cardTxtYellow {
  background-color: var(--nha-light-blue);
  border-radius: 30px;
  color: var(--dark);
  font-size: 1em;
}

.cardTxtGreen {
  background-color: green;
  border-radius: 30px;
  color: white;
}

/************** Panel Height *****************/

/***************** Margins and Paddings ****************/
.zeroMargin {
  margin-top: -10.25em !important;
}

.pay-register-item-width {
  width: 120px;

}

.txtDarkGrey {
  color: #32332e !important;
}

.h1Report {
  font-size: 1.5em !important;
  font-weight: 500 !important;
  padding-bottom: 2px !important;
  color: #000;
}

.h2Report {
  font-size: 1.5em !important;
  font-weight: 300 !important;
  padding-bottom: 2px !important;
  color: #000;
}

.h3Report {
  font-size: 1.2em !important;
  font-weight: 400 !important;
  padding-bottom: 2px !important;
  color: #000;
}

.h4Report {
  font-size: 1em !important;
  font-weight: 600 !important;
  padding-bottom: 2px !important;
  color: #000;
}

.h5Report {
  font-size: 0.8em !important;
  font-weight: 600 !important;
  padding-bottom: 2px !important;
  color: #000;
}



.hr {
  margin: 1rem 0;
  color: #0b5ed7;
  border: 0;
  border-top: 1px solid #084298;
}


label {
  color: #000 !important;
  font-size: 12px;
}








.font-digit {
  font-family: 'digital';
}

/*Font Sizes & height */

.fs-40 {
  font-size: 40px;
}

.fs-50 {
  font-size: 50px;
}

.fs-9px {
  font-size: 9px !important;
}

.fs-10px {
  font-size: 10px !important;
}

.fs-11px {
  font-size: 11px !important;
}

.fs-12px {
  font-size: 12px !important;
}

.fs-13px {
  font-size: 13px !important;
}

.fs-14px {
  font-size: 14px !important;
}

.fs-15px {
  font-size: 15px !important;
}

.fs-16px {
  font-size: 16px !important;
}

.fs-17px {
  font-size: 17px !important;
}

.fs-18px {
  font-size: 18px !important;
}

.fs-19px {
  font-size: 19px !important;
}

.fs-20px {
  font-size: 20px !important;
}

.fs-30px {
  font-size: 30px !important;
}

.fs-40px {
  font-size: 40px;
}

.h55px {
  height: 55px;

}


.h30px {
  height: 30px !important;

}

.h30px>mat-icon {
  font-size: 15px;
  margin-top: 8px;

}

.w30px {
  width: 30px !important;
}

.min-300 {
  min-height: 300px !important;
}

.min-350 {
  min-height: 350px !important;
}

.min-600 {
  min-height: 600px !important;
}


/*Font Sizes End*/


.bg-mf {
  background-color: var(--app-primary) !important;
}

.bg-mf-blue {
  background-color: var(--app-primary) !important;
}

.bg-dg {
  background-color: gainsboro;
}



.bg-gray {
  background-color: rgba(244, 244, 244, 0.934);
}





/*//////////////////////main page css ////////////////////////*/


:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-drawer {
  width: 200px;

}

.mat-drawer-container {

  height: 100%;

}




/*///////////////////////// logix Table Designs /////////////////////*/


.table-logix {
  width: 100%;
  font-size: 12px;
  border: 1px solid black !important;
}

.table-logix>thead {
  border: 1px solid black;
}

/*********** Table Stripped *******/
.table-logix>thead>tr {
  border: 1px solid black;
}

.table-logix>thead>tr>th {
  /*background-color:#D2101B;*/
  /*color:#fff;*/
  font-weight: bold;
  text-align: center;
  border: 1px solid #fff !important;

  padding: 10px;
  background-color: var(--app-primary);
  color: #fff !important;
}

.stickyHeader {
  position: sticky !important;
  top: 5em !important;
  z-index: 100 !important;
}

.table-logix>thead>th {
  /*background-color:#D2101B;*/
  /*color:#fff;*/
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.table-logix>thead>tr>td {
  /*background-color:#D2101B;*/
  /*color:#fff;*/
  text-align: left;
  border: 1px solid black;
}

.table-logix>tbody>tr {
  border: 1px solid #000 !important;
}

.table-logix>tbody>tr>td {
  padding: 2.5px;
  border: 1px solid #000 !important;
}

.table-logix>tbody>tr>th {
  border: 1px solid #000 !important;
  font-weight: bold;
  text-align: center;
}





.table-logix2 {
  font-size: 12px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.table-logix2>thead>tr>th {
  padding: 10px;
  border: 1px solid #fff !important;
  background-color: var(--app-primary);
  color: #fff !important;

}

.table-logix2>tbody>tr>td {

  padding: 2.5px;
  border: 1px solid rgb(148, 146, 146);

}






.borderb {
  border-bottom: 1px sold blue !important;
}





.total {
  text-align: right;
  font-weight: bold;
}




.projtitl {
  font-size: 60px !important;
}

.btn-rpt {
  min-height: 56px;
  min-width: 100px;
}

.btn-form {
  min-height: 30px;
}





.dialogueTitle {
  color: #aaa7a7;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  font-size: 15px;

}



.input-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}




.ml-10 {
  margin-left: 10px;
}


.searchBar {
  height: 40px;
  width: 100%;
  border: 1px solid rgb(199, 195, 195);
  background-color: gainsboro;
  border-radius: 25px;
  padding-left: 10px;
}

.btnTransparent {
  background-color: transparent;
  border: none;
}


.psearchbar {
  height: 40px;
  width: 100%;
  border-color: lightgray;
  border-radius: 5px;
}



.cursorPointer {
  cursor: pointer;
}


.fontroboto {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



////////////////// hide number field updown /////////////////

input[type="number"]::-webkit-inner-spin-button {
  display: none;

}


/************* Scroll Bar Design ********************/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffdfd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll Bar Design End*/

.mytable {
  width: 100%;

}



/**************Drop Down Design for Layout Top Navigation Bar ***************/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {

  /*position: absolute;*/
  background-color: #f9f9f9;
  /* min-height: 30vh;
  max-height: 70vh;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*Drop Down Design for Layout Top Navigation Bar End */

.btn-transpatent {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
}




.attTable {
  width: 100%;


  thead {

    th {
      border: 1px solid black;
      text-align: center;
      width: 30px;
    }
  }

  td {
    border: 1px solid black;
    text-align: center;
  }

}

.presentIcon {
  color: green !important;
  font-size: 30px;
}

.absentIcon {
  color: red;
  font-size: 30px;
}






.btn {
  min-width: 80px;
}

.hide {
  display: none !important;
}


/** Restaurant Sale page design **/

.billTable {
  overflow-y: scroll;
}

.bg-blue {
  background-color: rgb(68, 68, 177) !important;
  color: white !important;
}


.scrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  height: 80px;
  cursor: grab;
  user-select: none;
  /* border: 1px solid black;*/
  display: flex;

}

.scrollContainer:hover::-webkit-scrollbar-thumb {
  background: #d0d0d0;
}

.scrollContainer::-webkit-scrollbar {
  /* height: 5px !important;  */
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  /* border-radius: 20px;*/
}

.scrollContainer::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.scrollContainer .item {
  height: 44px;
  min-width: 110px;
  font-size: 15px;

  border-radius: 10px;
}

.recipecard:hover {
  transform: translateX(10px);
  z-index: 5;
}



::ng-deep .cdk-overlay-container {
  z-index: 2000;
}


.btblbtn {
  width: 90px;
  height: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
  border: 1px solid Black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}


/*** restaurant Sale 2 design *****/

.btnSale {
  height: 350px !important;
  font-size: 5rem !important
}



.btnsave {
  min-width: 80px;
  height: 40px;
  background-color: var(--success);
  color: white;
  border-radius: 8px;
  border: none;

  &:hover {
    border: 1px solid var(--success);
    background-color: var(--success-light) !important;
  }

  &:focus {
    border: 1px solid var(--success);
    background-color: var(--success-light) !important;
  }

}



.btnreset {
  min-width: 80px;
  height: 40px;
  background-color: var(--danger);
  color: white;
  border-radius: 8px;
  border: none;

  &:hover {
    border: 1px solid var(--danger);
    background-color: var(--danger-light) !important;
  }

  &:focus {
    border: 1px solid var(--danger);
    background-color: var(--danger-light) !important;
  }

}

.btnclose {
  min-width: 80px;
  height: 40px;
  background-color: var(--grey);
  color: white;
  border-radius: 8px;
  border: none;

  &:hover {
   border: 1px solid var(--grey);
    background-color: var(--grey-light) !important;
  }

  &:focus {
    border: 1px solid var(--grey);
    background-color: var(--grey-light) !important;
  }
}

.btnduplicate {
  min-width: 80px;
  height: 40px;
  background-color: var(--danger);
  color: white;
  border-radius: 8px;
  border: none;

  &:hover {
    border: 1px solid var(--danger);
    background-color: var(--danger-light) !important;
  }

  &:focus {
    border: 1px solid var(--danger);
    background-color: var(--danger-light) !important;
  }

}

.btnhold {
  min-width: 80px;
  height: 40px;
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
  border: none;

  &:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary-light) !important;
  }

  &:focus {
    border: 1px solid var(--primary);
    background-color: var(--primary-light) !important;
  }

}

.btnload {
  min-width: 80px;
  height: 40px;
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
  border: none;

  &:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary-light) !important;
  }

  &:focus {
    border: 1px solid var(--primary);
    background-color: var(--primary-light) !important;
  }

}

.btn-rpt-success {
  min-height: 44px !important;
  min-width: 100px !important;
  background-color: var(--success);
  color: var(--white);
  border-radius: 8px;
  border: none;

  &:hover {
    border: 1px solid var(--success);
    background-color: var(--success-light) !important;
  }

  &:focus {
    border: 1px solid var(--success);
    background-color: var(--success-light) !important;
  }
}

.btn-rpt-primary {
  min-height: 44px !important;
  min-width: 100px !important;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  border: none;

  &:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary-light) !important;
  }

  &:focus {
    border: 1px solid var(--primary);
    background-color: var(--primary-light) !important;
  }

}

.h48px {
  height: 48px !important;
}


.txtsm {
  font-size: 12px !important;
}

.txtmed {
  font-size: 14px !important;
}

.txtlg {
  font-size: 18px !important;
}



.btnadd {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.bg-golden {
  background-color: var(--golden) !important;
  color: white !important;
}


.font-sm-1 {
  font-size: 10px !important;
}


.lgx-primary-bg {
  background-color: var(--body-primary) !important;
}

.lgx-secondary-bg {
  background-color: var(--body-secondary) !important;
}

.lgx-text-primary {
  color: var(--text-primary);
}

.lgx-text-secondary {
  color: var(--text-secondary);
}


.lgx-primary-btn {
  background-color: var(--btn-primary-default);
  color: black;
  height: 32px;
  border-radius: 5px;
  font-size: 12px;
  min-width: 80px !important;

  &:hover {
    background-color: var(--btn-primary-hover);
  }

  &:focus {
    background-color: var(--btn-primary-press);
  }

  &:disabled {
    background-color: var(--btn-disable);
  }
}

.lgx-secondary-btn {
  background-color: var(--btn-secondary-default);
  height: 32px;
  border-radius: 5px;
  font-size: 12px;
  min-width: 80px !important;

  &:hover {
    background-color: var(--btn-secondary-hover);
  }

  &:focus {
    background-color: var(--btn-secondary-press);
  }

  &:disabled {
    background-color: var(--btn-disable);
  }
}

.lgx-territory-btn {
  background-color: var(--btn-territory-default);
  height: 32px;
  border: 1px solid #736745 !important;
  min-width: 80px !important;
  color: #736745;
  border-radius: 5px;
  font-size: 12px;

  &:hover {
    background-color: var(--btn-territory-hover);
  }

  &:focus {
    background-color: var(--btn-territory-press);
  }

  &:disabled {
    background-color: var(--btn-disable);
  }
}








.excellentEmoji {
  background: url(../../assets/Images/Icons/excellentEmoji.svg);
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.badEmoji {
  background: url(../../assets/Images/Icons/badEmoji.svg);
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.GoodEmoji {
  background: url(../../assets/Images/Icons/GoodEmoji.svg);
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.FairEmoji {
  background: url(../../assets/Images/Icons/FairEmoji.svg);
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





.fh-config {
  min-height: 84vh !important;
  max-height: 84vh !important;
  overflow-y: auto !important;
}


.prodImg {
  width: 350px;
  height: 140px;
  align-content: center;
  object-fit: contain;
  display: block;


}