
@font-face {
    font-family: 'digital';
    src: url('./assets/fonts/digital-7.ttf');
  }
  @font-face {
    font-family: 'ubuntu';
    src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
  }
  @font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'barcode128_';
    font-style: normal;
    src: url('./assets/fonts/barcode/code128.ttf');
  }
  
  @font-face {
    font-family: 'barcode39';
    src: url('./assets/fonts/barcode/BarCode39Lesbar-3yDM.ttf ');
  }