@font-face {
    font-family: 'digital';
    src: url('../fonts/digital/digital-7.ttf');
  }
  
  @font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
  }
  
  @font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
  }
  
  
  @font-face {
    font-family: 'barcode128';
    font-style: normal;
    src: url('../fonts/barcode/code128.ttf');
  }
  
  @font-face {
    font-family: 'barcode39';
    src: url('../fonts/barcode/BarCode39Lesbar-3yDM.ttf ');
  }