@media screen {
  .print-only {
    display: none;
  }
}

@media print {



  body {
    -webkit-print-color-adjust: exact !important;
    overflow: visible !important;
    height: auto !important;
    /* page-break-after: always !important;  */
    print-color-adjust: exact !important;
    /* Standard property */
    color-adjust: exact !important;
    /* text-wrap: wrap;
    text-wrap-mode: wrap;
    text-wrap-style: pretty; */
  }

  .whiteText {
    -webkit-text-fill-color: white !important;
    /* Forces white text */
    color: white !important;
  }

}


/* @media (max-width: 650px) {
  body * {
    visibility: hidden;
  }

  #print-bill,
  #print-bill * {
    visibility: visible !important;
  }

  #print-bill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
} */




.rptTable {
  width: 100%;
  /* margin-left: 15px; */
  background-color: rgb(252, 242, 242);
}


.rptTable th {
  border: 1px solid black;
  font-size: 15px;
  font-weight: bold;

}

.rptTable td {
  border: 1px solid black;
  font-size: 12px;
}


/* .col-lg-2 {
    color: red !important;
  } */

* {
  color: black !important;
  border-color: black !important;
  /* font-family: Arial, Helvetica, sans-serif; */



}



/*# sourceMappingURL=bootstrap.css.map */

/****  logix Table Design****/



.attTable {
  width: 100%;


}

.attTable>thead>tr>th {
  border: 1px solid black;
  text-align: center;
  width: 30px;
}

.attTable>tbody>tr>td {


  border: 1px solid black;
  text-align: center;


}

.presentIcon {
  /* color: green !important; */
  font-size: 30px;
}

.absentIcon {
  /* color: red; */
  font-size: 30px;
}





.table-logix {
  background-color: #fff;
  border: 1px solid #000000;
  width: 100%;
  border-collapse: collapse;
}

.table-logix>thead {
  border: 1px solid #000 !important;
}

/*********** Table Stripped *******/
.table-logix>thead>tr {
  border: 1px solid #000 !important;
}

.table-logix>thead>tr>th {
  /*background-color:#D2101B;*/
  /*color:#fff;*/
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #fff !important;
  padding: 10px !important;
  background-color: rgb(6, 6, 54);
  color: #fff !important;


}

.table-logix>thead>tr>th:last-child {
  border-right: 1px solid #000 !important;
}

.table-logix>thead>th {
  /*background-color:#D2101B;*/
  /*color:#fff;*/
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.table-logix>thead>tr>td {
  /*background-color:#D2101B;*/
  /*color:#fff;*/
  text-align: left;
  border: 1px solid black;
}

.table-logix>tbody>tr {
  border: 1px solid #000 !important;
}

.table-logix>tbody>tr>td {
  padding: 5px;
  border: 1px solid #000 !important;
}

.table-logix>tbody>tr>th {
  border: 1px solid #000 !important;
  font-weight: bold;
  text-align: center;
}




.table-logix2 {
  font-size: 12px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.table-logix2>thead>tr>th {
  padding: 10px;
  border: 1px solid black !important;
  /* background-color: rgb(6, 6, 54); */
  color: black !important;

}

.table-logix2>tbody>tr>td {

  padding: 2.5px;
  border: 1px solid rgb(148, 146, 146);

}

.urdu {
  font-family: Arial, Helvetica, sans-serif;
}





/* .table{
  border: 1px solid #000 !important;
} */

.companyName {
  font-size: 25px !important;
  font-weight: bold;
}

.companyName2 {
  font-size: 15px;

}

.rptTitle {
  font-size: 20px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rptPartyName {
  font-size: 20px;
  font-weight: bold;
}


.wide {
  width: 120px;
}

.table-purchase {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background-color: #fff;
  border: 1px solid black;
  padding-bottom: 40px !important;
}

.table-purchase>thead {
  border: 1px solid black !important;
}

/*********** Table Stripped *******/
.table-purchase>thead>tr {
  border: 1px solid black !important;
}


.table-purchase>tbody>tr {
  border: 1px solid #000 !important;
}













/* Design for Sale Bill Print*/



.table-sale {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black !important; */
}

.table-sale>thead>tr>th {
  padding: 5px;
  border: 1px solid rgb(148, 146, 146);
  text-transform: uppercase;

}

.table-sale>tbody>tr>td {
  padding: 5px;
  border: 1px solid rgb(148, 146, 146);
  font-size: 12px !important;


}

.table-sale>tbody>tr {
  padding: 5px;
  border-bottom: 1px solid black !important;


}


/* Design for Garment Sale Bill Print*/

.table-garment-sale {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black !important;
}

.table-garment-sale>thead>tr>th {
  padding: 2px;
  border: 1px solid rgb(148, 146, 146);
  text-transform: uppercase;
  /* font-size: 12px; */

}

.table-garment-sale-Urdu {
  width: 100%;
  text-align: center;
  border: 1px solid black !important;
}

.table-garment-sale-Urdu-Bottom {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-transform: uppercase;
}

.table-garment-sale-Urdu>thead>tr>th {
  padding: 2px;
  border: 1px solid rgb(148, 146, 146);
  text-transform: uppercase;
  /* font-size: 12px; */

}

.table-garment-sale-2 {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px !important;
}

.table-garment-sale-2>tbody>tr {
  /* padding: 2px; */
  border-bottom: 1px solid rgb(12, 12, 12) !important;
}

.table-garment-sale-2>tbody>tr>td {
  border-top: 1px solid rgb(14, 14, 14);
  border-bottom: 0px;

  border-right: 1px solid rgb(10, 10, 10);
  border-left: 1px solid rgb(11, 11, 11);
}



.fs-6px {
  font-size: 6px !important;
}

.fs-7 {
  font-size: 7px !important;
}

.fs-8px {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}


.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}


.fs-20 {
  font-size: 20px !important;
}




.table-restaurant-sale {
  width: 100%;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid black !important; */
}

.table-restaurant-sale>thead>tr {
  padding: 5px;
  border: 1px dashed rgb(6, 6, 6) !important;
  border-right: none !important;
  border-left: none !important;
  text-transform: uppercase;
  font-size: 12px;

}

.table-restaurant-sale>thead>tr>th {
  padding: 5px;
}

.table-restaurant-sale>tbody>tr>td {
  padding: 5px;
}


.table-restaurant-sale>tbody>tr {
  padding: 5px;
  border: 1px dashed rgb(6, 6, 6) !important;
  border-right: none !important;
  border-left: none !important;
  font-size: 12px;

}



.dark {
  background-color: black !important;
  color: white !important;
}


.table-kot {
  width: 100%;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid black !important; */
}

.table-kot>thead>tr {
  padding: 5px;
  border: 1px dashed rgb(6, 6, 6) !important;
  border-right: none !important;
  border-left: none !important;
  text-transform: uppercase;
  font-size: 15px;

}

.table-kot>thead>tr>th {
  padding: 5px;
}

.table-kot>tbody>tr>td {
  padding: 5px;
}


.table-kot>tbody>tr {
  padding: 5px;
  border: 1px dashed rgb(6, 6, 6) !important;
  border-right: none !important;
  border-left: none !important;
  font-size: 20px;

}


.hide-in-print {
  display: none;
}


.bgNorthedge {
  background-color: #5E5E5E !important;
  color: white !important;
}





.table-sale-Furniture {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black !important; */
}

.table-sale-Furniture>thead>tr>th {
  padding: 5px;
  /* border: 1px solid rgb(148, 146, 146); */
  text-transform: uppercase;
  border-right: 1px solid white !important;

}

.table-sale-Furniture>tbody>tr>td {
  padding: 5px;
  border: none !important;
  font-size: 12px !important;


}

.table-sale-Furniture>tbody>tr {
  padding: 5px;
  /* border-bottom: 1px solid black !important; */


}

.invoice-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.invoice-title::before,
.invoice-title::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  /* line color */
}

.invoice-title:not(:empty)::before {
  margin-right: 10px;
}

.invoice-title:not(:empty)::after {
  margin-left: 10px;
}

.invoice-title span {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  /* text color */
  letter-spacing: 2px;
}







.orderPrintCompanyInfo {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  font-size: 16px;
}


.orderPrintTotals {
  margin-top: 20px;
  float: right;
  width: 50%;
}

.orderPrintTotals table {
  width: 100%;
  border: none;
}

.orderPrintTotals table td {
  padding: 8px 0;
  font-size: 14px;
}

.orderPrintTotals table tr:last-child td {
  font-weight: bold;
  font-size: 16px;
  border-top: 2px solid #000;
}

.orderPrintFooter {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: column;


}

.orderPrintFooter {
  display: flex;
}



.StrongText {
  font-weight: bold;
  display: block;
  margin: 0px 0;
  font-size: 26px;
  color: #000;
}





/*************************   Sale Bill Token Design    *************************************/




/* Voucher Box */
.saleToken {
  width: 800px;
  max-width: 100%;
  background: #ffffff;
  /* display: flex; */
  overflow: hidden;
  margin: 10px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.saleTokenStore {
  border-style: dashed;
  border-radius: 10px;


}

.saleTokenCustomer {
  border-style: dashed;
  border-radius: 10px;

}

.saleTokenCustomer .left {
  width: 40% !important;
  background: #fff;
  color: #000;
  padding: 20px !important;
  text-align: start;
  position: relative;
}


.saleTokenCustomer .left h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 800;
  line-height: 40px;
}



.saleTokenCustomer .right {
  width: 60% !important;
  background: #fff;
  font-size: 12px;
  color: #000;
  padding: 0px !important;
  text-align: left;
  position: relative;
}



/* Left Part */
.saleToken .left {
  width: 40% !important;
  background: #fff;
  color: #000;
  padding: 20px !important;
  text-align: center;
  position: relative;
}

.saleToken .left .amount {
  font-size: 50px;
  font-weight: bold;
}

.saleToken .left .value-text {
  font-size: 18px;
  margin-top: 0px;
  letter-spacing: 2px;
}

/* Right Part */
.saleToken .middle {

  width: 60% !important;
  padding: 20px !important;
  background: #FFF;
  color: #000;
}

.saleToken .middle h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 800;
  line-height: 40px;
}

.saleToken .middle p {
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
}


.saleToken .left {
  width: 30%;
  background: #fff;
  color: #000;
  padding: 40px;
  text-align: center;
  position: relative;
}