<div class="body ">

    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
        <mat-tab label="Charts of Accounts" class="h-100">


            <mat-card class="container bg-light border p-5 mt-5 shadow">

                <div class="d-flex">
                    <span class=" mt-3 pt-4  col-lg-6">


                        <!-- Coa Types Selected Here -->

                        <mat-form-field appearance="outline" class="col-lg-12 matSmall">
                            <mat-label>Select Type </mat-label>
                            <mat-select [(ngModel)]="CoaType" (selectionChange)="onCoaTypeChange()">
                                <mat-option *ngFor="let item of coaTypesList "
                                    [value]="item.coaTypeID">{{item.coaTypeTitle}}</mat-option>

                            </mat-select>
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="col-lg-12 matSmall">
                            <mat-label>Select Level</mat-label>
                            <mat-select (selectionChange)="setvalue();onCoaLevelChange()" [(ngModel)]="coaLevel"
                                class="" #AccountHeadLabel>
                                <mat-option *ngFor="let item of LevelList"
                                    [value]="item.value">{{item.level}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Coa Level 1 Selected Here -->

                        <mat-form-field appearance="outline" *ngIf="coaLevel > 1 " class="col-lg-12 matSmall">
                            <mat-label>Level 1</mat-label>
                            <mat-select class="" (selectionChange)="onlevel1Change();setvalue()" [(ngModel)]="level1">
                                <mat-option *ngFor="let item of coaLevel1List" [value]="item.level1"
                                    [disabled]="item.transactionAllowed">
                                    {{item.coaTitle}} ({{item.level1}})
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" *ngIf="coaLevel == 1" class=" col-lg-12 matSmall">
                            <mat-label>Enter Level 1</mat-label>
                            <input (keydown)="globalData.handleNumKeys($event)" matInput type="text" min="1" #EnterLevel
                                aria-label="level1" (keyup)="setvalue()" [(ngModel)]="level1">
                            <mat-hint>Must Be a Number</mat-hint>
                        </mat-form-field>

                        <!-- Coa Level 2 Selected Here -->

                        <mat-form-field appearance="outline" *ngIf="coaLevel > 2" class="col-lg-12 matSmall">
                            <mat-label>Level 2</mat-label>
                            <mat-select class="" (selectionChange)="onlevel2Change();setvalue()" [(ngModel)]="level2">
                                <mat-option *ngFor="let item of coaLevel2List" [value]="item.coaTypeID"
                                    [disabled]="item.transactionAllowed">
                                    {{item.coaTitle}} ({{item.level2}})
                                </mat-option>


                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" *ngIf="coaLevel == 2" class="col-lg-12 matSmall">
                            <mat-label>Enter Level 2</mat-label>
                            <input (keydown)="globalData.handleNumKeys($event)" matInput type="text" min="1" #EnterLevel
                                aria-label="level2" (keyup)="setvalue();" [(ngModel)]="level2">
                            <mat-hint>Must Be a Number</mat-hint>
                        </mat-form-field>

                        <!-- Coa level 3 Iput Field -->
                        <mat-form-field appearance="outline" *ngIf="coaLevel > 3" class="col-lg-12 matSmall">
                            <mat-label>Level 3</mat-label>
                            <mat-select class="" (selectionChange)="onlevel3Change();setvalue()" [(ngModel)]="level3">
                                <mat-option *ngFor="let item of coaLevel3List" [value]="item.coaTypeID"
                                    [disabled]="item.transactionAllowed">
                                    {{item.coaTitle}} ({{item.level3}})
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" *ngIf="coaLevel == 3" class="col-lg-12 matSmall">
                            <mat-label>Enter Level 3</mat-label>
                            <input (keydown)="globalData.handleNumKeys($event)" matInput type="text" min="1" #EnterLevel
                                aria-label="level3" (keyup)="setvalue();" [(ngModel)]="level3">
                            <mat-hint>Must Be a Number</mat-hint>
                        </mat-form-field>


                        <!-- Coa level 4 Iput Field -->


                        <mat-form-field appearance="outline" *ngIf="coaLevel == 4" class="col-lg-12 matSmall">
                            <mat-label>Enter Level 4</mat-label>
                            <input (keydown)="globalData.handleNumKeys($event)" matInput type="text" min="1" #EnterLevel
                                aria-label="level4" (keyup)="setvalue();" [(ngModel)]="level4">
                            <mat-hint>Must Be a Number</mat-hint>
                        </mat-form-field>


                    </span>

                    <span class="ms-4 col-lg-6 ">

                        <h4>Account Head Label: {{AccountLabelHeadValue}}</h4>




                        <mat-form-field appearance="outline" class="w-100 matSmall">
                            <mat-label>Enter Head Title</mat-label>
                            <input matInput type="text" [(ngModel)]="CoaTitle" autofocus>
                        </mat-form-field>




                        <div class="d-flex flex-column">
                            <h1 class="text-danger mt-3">Is Transaction Allowed in this head?</h1>
                            <mat-checkbox class="example-margin" [(ngModel)]="TransactionAllowed"
                                *ngFor="let item of Allow" value="{{item.value}}">
                                {{item.text}}
                            </mat-checkbox>

                            <mat-radio-group [disabled]="CoaType !== 1" [(ngModel)]="alias" name="cashBankCheck">
                                <mat-radio-button value="other">None</mat-radio-button>
                                <mat-radio-button value="cash">Cash</mat-radio-button>
                                <mat-radio-button value="bank">Bank</mat-radio-button>
                            </mat-radio-group>
                        </div>




                        <mat-form-field appearance="outline" class="w-100 mt-2 matSmall"
                            *ngIf="(CoaType == 1 || CoaType == 4 || CoaType == 5) && TransactionAllowed ">
                            <mat-label>Enter Note</mat-label>
                            <mat-select [(ngModel)]="NoteID">
                                <mat-option [disabled]="item.coaTypeID != CoaType" *ngFor="let item of notesList"
                                    [value]="item.noteID">{{item.noteTitle}}</mat-option>
                            </mat-select>

                            <!-- <mat-hint>Must Be a Number</mat-hint> -->
                        </mat-form-field>
                    </span>


                </div>



                <!-- Save And Reset Button -->
                <br><br>
                <div class=" text-center">
                    <button class="btnsave col-md-1 ml-10" *ngIf="crudList.c" (click)="Save()">{{actionbtn}}</button>


                    <button class="btnreset col-md-1 ml-10" (click)="reset()">Reset</button>
                </div>
            </mat-card>


        </mat-tab>

        <!-- -------------------------Saved Record Tab------------------------ -->
        <mat-tab label="Saved Record" class="h-100">
            <div class="pt-4 container ">
                <div class="row">

                    <mat-form-field class="col-md-6 matSmall" appearance="outline">
                        <mat-label class="ps-5">Search.....</mat-label>
                        <input #coaSearch name="search" matInput type="text" class="text-secondary">
                        <mat-icon matPrefix class="text-secondary">search</mat-icon>
                    </mat-form-field>
                     <mat-form-field appearance="outline" class="col-md-2 matSmall">
                            <mat-label>Note</mat-label>
                            <mat-select [(ngModel)]="filterNoteID" (selectionChange)="filterCOA('note')">
                                <mat-option [disabled]="item.coaTypeID !== filterCoaType && filterCoaType !== 0"  *ngFor="let item of notesList"
                                    [value]="item.noteID">{{item.noteTitle}}</mat-option>
                            </mat-select>

                            <!-- <mat-hint>Must Be a Number</mat-hint> -->
                        </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2 matSmall">
                        <mat-label>Select Type </mat-label>
                        <mat-select [(ngModel)]="filterCoaType" name="filterCoa" (selectionChange)="filterCOA('coaType')">
                            <mat-option [value]="0">ALL</mat-option>

                            <mat-option *ngFor="let item of coaTypesList"
                                [value]="item.coaTypeID">{{item.coaTypeTitle}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2 matSmall">
                        <mat-label>Transaction Allowed </mat-label>
                        <mat-select [(ngModel)]="filterTransactionType" name="filterCoa"
                            (selectionChange)="filterCOA('transactionAllowed')">
                            <mat-option value="all">ALL</mat-option>
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <table class="table table-hover bg-light" *ngIf="crudList.r">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th (click)="sortData('code')" class="cursorPointer">Account Code</th>
                            <th (click)="sortData('title')" class="cursorPointer">Account Title</th>
                            <th *ngIf="filterCoaType === 0" (click)="sortData('type')" class="cursorPointer">Type</th>
                            <th>Note</th>
                            <th class="text-center">
                               Trans Alwd
                            </th>
                            <th *ngIf="crudList.d">Action</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of ChartsofAccountsData |filter:coaSearch.value ; index as index">
                            <td>{{index+1}}</td>
                            <td class="cursorPointer text-right" (click)="updateCoa(item)">{{item.accountCode}}</td>
                            <td class="text-right">{{item.coaTitle}}</td>
                            <td *ngIf="filterCoaType === 0" class="text-right">{{item.coaTypeTitle}}</td>
                            <td>{{item.noteID}}</td>

                            <td   class="text-center"  ><mat-icon
                                    [ngClass]=" item.transactionAllowed ? 'text-success' : 'text-danger'">{{item.transactionAllowed ? 'remove_circle' : 'remove_circle'}} </mat-icon></td>

                            <td *ngIf="crudList.d">
                                <!-- <button class="btnTransparent text-success"><mat-icon >edit</mat-icon></button> -->
                                <mat-icon class="text-danger cursorPointer" (click)="deleteCoa(item)">delete</mat-icon>
                                 <mat-icon class="text-dark cursorPointer" *ngIf="!item.level4 && !item.transactionAllowed" (click)="insertNewCoa(item)">add</mat-icon>

                            </td>


                        </tr>

                    </tbody>
                </table>

            </div>





            <div class="modal fade" id="addCoaForm" tabindex="-1" aria-labelledby="voucherDocumentLabel"
                aria-hidden="true" data-bs-backdrop="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title" id="voucherDocumentLabel">COA Details</span>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <app-add-chart-of-account [notesList]="notesList"></app-add-chart-of-account>

                        </div>
                        <div class="modal-footer bg-mf">
                            <button type="button" class="btnsave" (click)="saveNewCoa()">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>


        </mat-tab>
    </mat-tab-group>


</div>