

.category{
    overflow: hidden;
    
}

.category:hover{
    overflow-x: scroll;
   
}



.billTable{
    overflow-y: scroll;

}

.bg-blue{
    background-color: rgb(68, 68, 177) !important;
    color: white !important;
}