
<div class="container-fluid h-100 d-flex bg-gray body">

    <div class="col-lg-8 " style="min-height: 650px;">


        <!-----------   categories Row ------------------->

      <div class="d-flex border-bottom"  >

        

        <mat-form-field class="w-25 m-1" appearance="outline" style="min-height: 55px; min-width: 150px;border-radius: 10px ;" >
            <mat-label >Search.....</mat-label>
            <input #carSearch  matInput type="search" class="text-secondary" >
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>

        

       <div class="scrollContainer">

            <button  *ngFor="let item of categoriesList|filter:carSearch.value"
             (click)="categoryID = item.recipeCatID"
             [ngClass]="item.recipeCatID == categoryID  ? 'bg-blue' : ''"  class="border item text-center m-1 p-1">{{item.recipeCatTitle}}</button>
       </div>
      </div>


       <!-----------   Products Area ------------------->
  <div class="row cursorPointer">
    <div *ngFor="let item of RecipeList"  style="width: 150px;"  >
        <mat-card  *ngIf="item.recipeCatID == categoryID"  style="width:120px; height: 130px;" class="m-1" (click)="productSelected(item)">
          
                <img *ngIf="item.recipeImage" [src]="item.recipeImage" alt="" height="80px" width="120px">
        
            <mat-card-footer class="text-center" style="font-size: x-small;">{{item.recipeTitle}}</mat-card-footer>
            <mat-card-footer class="text-center text-success">{{item.recipeSalePrice}}</mat-card-footer>
        </mat-card>
      </div>
  </div>




    </div>


    <div class="col-lg-4 border " style="left: 65.6%; height: 630px;position:fixed;">

         <!-----------   Table Side First Row ------------------->

        <div class=" d-flex ">
            <span class="col-lg-2 p-2  border">
                <p  class="text-center p-2 " style="height: 40px;width: 40px;background-color: rgb(219, 249, 223);color: #088203; border-radius: 100%;">F3</p>

            </span>
            <span class="col-lg-4 p-1  border">
            
              <select class="w-100 h-100 border-0 bg-gray" >
                <option *ngFor="let item of TablesList" [value]="item.id">{{item.name}}</option>
                </select>

            </span>
            <span class="col-lg-6 p-1 border">
             
               <select class="w-100 h-100 border-0 bg-gray" >
                <option *ngFor="let item of orderTypes" [value]="item.id">{{item.title}}</option>
                </select>
  
              </span>
        </div>

        <div style="min-height: 400px;" class="p-2" >

             <!-----------   Bill Area ------------------->
            <div class="billTable" style="height: 350px;">

                <table class="table-logix cursorPointer" >
                    <thead>
                        <tr>
                            <th class="col-lg-4">Desc</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>total</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData index as index">
                        <td>{{item.recipeTitle}}</td>
                        <td class="text-center">{{item.recipeSalePrice |number:'1.0-1'}}</td>
                        <td class="text-center">
                        <div class="d-flex text-center pb-2">
                            <mat-icon (click)="changeQty('add',index)" class="text-success">add_circle</mat-icon>
                            <input id="pQty" type="text" style="width: 50px;text-align: center;" (keydown)="getTotal()" (keyup)="getTotal()"  [(ngModel)]="item.quantity" >
                            <mat-icon (click)="changeQty('minus',index)" >remove_circle</mat-icon>
                        </div>
                          </td>
                        <td class="text-center">{{item.recipeSalePrice * item.quantity |number:'1.0-1'}}</td>
                        <td class="text-center"><mat-icon class="text-danger" (click)="deleteRow(item)">delete</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>

         

            <!-----------   Bill Total Amount Section ------------------->
            <div class="p-4 bg-white border-top">

                <span class="d-flex border-bottom border-dark justify-content-between">
                    <p>Sub Total</p>
                    <p>{{subTotal |number}}</p>
                </span>
                <span class="d-flex border-bottom border-dark justify-content-between">
                    <p>Total</p>
                    <p>100</p>
                </span>
                <span class="p-1 d-flex">
                    <button mat-raised-button class="m-1 text-white bg-secondary w-50">HOLD</button>
                    <button mat-raised-button  class="m-1 text-white bg-success w-50" (click)="save()">Save</button>
                </span>
                

            </div>



        </div>


    </div>





</div>

