<div id="diPrint">



    <div class="container-fluid p-1" style="font-family: Arial, sans-serif; background:#fff; color:#111;"
        *ngIf="billFormate1">

        <div class="p-4">


            <!-- HEADER -->
            <div class="row align-items-center border-bottom pb-3">

                <div class="col-md-7  align-items-center">

                    <div style="width:110px;">
                        <img [src]="companyLogo" style="width:90px;">
                    </div>

                    <div>
                        <h2 style="color:#06366f;font-weight:700;margin:0;">
                            {{companyName}}
                        </h2>

                        <!-- <h6 style="color:#0062a8;font-weight:bold;">
                            INNOVATE. INTEGRATE. ELEVATE.
                        </h6> -->

                        <p class="mb-1">
                            📍{{companyAddress}}

                        </p>

                        <p class="mb-1">
                            ☎ {{CompanyMobile}}
                        </p>

                        <p class="mb-1">
                            <b><small>NTN:</small></b> {{CompanyNTN}}
                        </p>

                        <!-- <p>
                            🌐 www.techfusionsolutions.com
                        </p> -->

                    </div>

                </div>


                <!-- Invoice info -->

                <div class="col-md-5">

                    <div class="border rounded p-3" style="background:#fafafa;">
                        <h4 class="text-center text-white rounded p-2" style="background:#06366f;">
                            INVOICE
                        </h4>
                        <p>
                            <b>Invoice No.</b>
                            : {{myInvoiceNo}}
                        </p>

                        <p>
                            <b>Invoice Date</b>
                            : {{myInvDate | date:'dd-MM-yyyy'}}
                        </p>


                        <p>
                            <b>Created By</b>
                            : {{myCounterName}}
                        </p>



                    </div>

                </div>


            </div>




            <!-- BUYER SELLER -->

            <div class="row mt-4">

                <div class="col-md-6">

                    <div class="border rounded p-3" style="background:#eef5ff;min-height: 200px !important;">
                        <h5 class="text-white p-2 rounded" style="background:#06366f;width:100px;">
                            SELLER</h5>
                        <h5><b>{{companyName}}</b></h5>
                        <div class="d-flex flex-column">
                            <span> <b><small>NTN:</small></b> {{CompanyNTN}} </span>
                            <span>{{companyAddress}}</span>
                        </div>
                    </div>

                </div>


                <div class="col-md-6">

                    <div class="border rounded p-3" style="background:#eef5ff; min-height: 200px !important;">


                        <h5 class="text-white p-2 rounded" style="background:#06366f;width:100px;">
                            BUYER
                        </h5>


                        <h5>
                            <b>{{myCustomerName}} </b><small>({{myCustomerBusinessName}})</small>
                        </h5>
                        <div class="d-flex flex-column">
                            <span>
                                {{myCustomerCnic}}
                            </span>

                            <span>
                                <b>NTN:</b> {{myCustomerNtn}}
                            </span>

                            <span>
                                {{myCustomerAddress}}
                            </span>
                        </div>





                    </div>

                </div>






            </div>






            <!-- TABLE -->


            <table class="table mt-4 text-center table-Digital-invoice">
                <thead>
                    <tr class="whiteText">
                        <th>S#</th>
                        <th>Product Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Tax (%)</th>
                        <th *ngIf="discFeature">Disc</th>
                        <th>Total</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let item of myPrintTableData index as index">
                        <td>{{index +1}}</td>
                        <td class="text-start">{{item.productTitle}}</td>
                        <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                        <td class="text-end">{{item.salePrice |number:'1.0-2'}}</td>
                        <td class="text-end">{{item.gst |number:'1.0-2'}}</td>
                        <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                            {{(item.discInR) * item.quantity|number:'1.0-1'}}<small
                                class="fs-9px fw-semibold">({{item.discInP|number:'1.0-1'}}%)</small></td>
                        <td class="text-end" style="width:20% !important;">{{(item.quantity *
                            (item.salePrice + (item.salePrice * item.gst / 100) )) - (item.discInR * item.quantity)
                            |number:'1.0-2'}}</td>

                    </tr>
                </tbody>
            </table>

            <!-- TOTAL -->

            <div class="row">
                <div class="col-md-6">
                    <div class="border rounded p-4">
                        <h5>Amount In Words</h5>
                        <p>{{myAmountInWords}}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <table class="table table-bordered border-light">
                        <tr>
                            <td>Total Amount (Before Tax)</td>
                            <td class="text-end">{{mySubTotal |number:'1.0-2'}}</td>
                        </tr>
                        <tr>
                            <td>Total Tax Amount</td>
                            <td class="text-end">{{myAdvTaxAmount |number:'1.0-2'}}</td>
                        </tr>
                        <tr style="background:#06366f;font-weight:bold;" class="whiteText">
                            <td>Grand Total</td>
                            <td class="text-end">{{myNetTotal |number:'1.0-2'}}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td class="text-end">{{myDiscount}}</td>
                        </tr>
                        <tr>
                            <td>Amount Paid</td>
                            <td class="text-end">{{myCash|number:'1.0-0'}}</td>

                        </tr>

                        <tr style="background:#eef5ff;font-weight:bold;">
                            <td>Balance Amount</td>
                            <td class="text-end"> {{myChange|number:'1.0-0'}}</td>
                        </tr>



                    </table>


                </div>


            </div>

            <!-- FOOTER -->

            <div class="row mt-3 border rounded p-1 pt-2">


                <div class="col-md-4 ">
                    <h5 class="text-white text-center p-2 border rounded" style="background:#06366f;font-size: 16px !important;">
                        TERMS & CONDITIONS</h5>
                    <div class="border-top border-dark fw-bold">
                        <span style="white-space: pre-line;font-size: 12px;">{{footerText}}</span>
                    </div>
                </div>

                <div class="col-md-4 text-center border-end border-start">
                    <h5 class="text-white p-2 border rounded" style="background:#06366f;font-size: 16px !important;">
                        SCAN TO VERIFY
                    </h5>
                    <div class="d-flex justify-content-center">
                        <span id="output" class="d-none"></span>
                        <span id="qrCode" class="qr-code-generator" style="border: 0px solid black;"></span>

                    </div>
                    <div class="d-flex justify-content-center">
                        <span>{{myFbrInvoiceNo}}</span>

                    </div>
                    <p>Scan this QR code to verify
                        authenticity of invoice.
                    </p>


                </div>

                <div class="col-md-4 text-center">


                    <h5 class="text-white p-2  border rounded" style="background:#06366f;font-size: 16px !important;">
                        DIGITAL INVOICE
                    </h5>


                    <div class="d-flex justify-content-center">
                        <img [src]="fbrLogo" width="150">
                    </div>


                    <p>
                        This is a Digital Invoice
                        compliant with FBR
                        e-Invoicing System.
                    </p>


                </div>


            </div>


            <div class="text-center mt-3">

                <h5 style="color:#06366f;">
                    Thank you for your business!
                </h5>

                <small>
                    This is a system generated invoice and does not require any signature.
                </small>

            </div>



        </div>


    </div>


    <div class="container-fluid p-1" style="font-family: Arial, sans-serif; background:#fff; color:#111;"
        *ngIf="billFormate2">

        <div class="p-4">

            <h2 class="invoice-title"><span>SALES TAX INVOICE</span></h2>

            <!-- HEADER -->
            <div class="row align-items-center border-bottom pb-3">
                <!-- Invoice info -->

                <div class="col-md-12">

                    <div class="border rounded p-3" style="background:#fafafa;">

                        <div class="d-flex justify-content-between">
                            <span>
                                <b>Invoice No.</b>
                                : {{myInvoiceNo}}
                            </span>

                            <span>
                                <b>Invoice Date</b>
                                : {{myInvDate | date:'dd-MM-yyyy'}}
                            </span>


                            <span>
                                <b>Created By</b>
                                : {{myCounterName}}
                            </span>
                        </div>



                    </div>

                </div>


            </div>




            <!-- BUYER SELLER -->

            <div class="row mt-4">


                <div class="col-md-6">

                    <div class="border rounded p-3" style="background:#eef5ff; min-height: 200px !important;">


                        <h5 class="text-white p-2 rounded" style="background:#06366f;width:100px;">
                            BUYER
                        </h5>


                        <h5>
                            <b>{{myCustomerName}} </b><small>({{myCustomerBusinessName}})</small>
                        </h5>
                        <div class="d-flex flex-column">
                            <span>
                                {{myCustomerCnic}}
                            </span>

                            <span>
                                <b>NTN:</b> {{myCustomerNtn}}
                            </span>

                            <span>
                                {{myCustomerAddress}}
                            </span>
                        </div>





                    </div>

                </div>



                <div class="col-md-6">

                    <div class="border rounded p-3" style="background:#eef5ff;min-height: 200px !important;">
                        <h5 class="text-white p-2 rounded" style="background:#06366f;width:100px;">
                            SELLER</h5>
                        <h5><b>{{companyName}}</b></h5>
                        <div class="d-flex flex-column">
                            <span> <b><small>NTN:</small></b> {{CompanyNTN}} </span>
                            <span>{{companyAddress}}</span>
                        </div>
                    </div>

                </div>


            </div>






            <!-- TABLE -->


            <table class="table mt-4 text-center table-Digital-invoice2">
                <thead>
                    <tr class="whiteText">
                        <th>S#</th>
                        <th>Product Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Tax (%)</th>
                        <th *ngIf="discFeature">Disc</th>
                        <th>Total</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let item of myPrintTableData index as index">
                        <td>{{index +1}}</td>
                        <td class="text-start">{{item.productTitle}}</td>
                        <td class="text-end">{{item.quantity |number:'1.0-2'}}</td>
                        <td class="text-end">{{item.salePrice |number:'1.0-0'}}</td>
                        <td class="text-end">{{item.gst |number:'1.0-0'}}</td>
                        <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                            {{(item.discInR) * item.quantity|number:'1.0-1'}}<small
                                class="fs-9px fw-semibold">({{item.discInP|number:'1.0-1'}}%)</small></td>
                        <td class="text-end" style="width:20% !important;">{{(item.quantity *
                            (item.salePrice + (item.salePrice * item.gst / 100) )) - (item.discInR * item.quantity)
                            |number:'1.0-0'}}</td>

                    </tr>
                </tbody>
            </table>

            <!-- TOTAL -->

            <div class="row">
                <div class="col-md-5">
                    <!-- <div class="border rounded p-4">
                        <h5>Amount In Words</h5>
                        <p>{{myAmountInWords}}</p>
                    </div> -->

                    <div class="w-100 text-center border rounded" style="min-height: 210px;">
                        <h5 class="text-white p-2 border rounded"
                            style="background:#06366f;font-size: 16px !important;">
                            SCAN TO VERIFY
                        </h5>
                        <div class="d-flex justify-content-around">
                            <div class="d-flex justify-content-center">
                            <span id="output" class="d-none"></span>
                            <span id="qrCode" class="qr-code-generator" style="border: 0px solid black;"></span>
                        </div>
                        <div class="d-flex justify-content-center border">
                            <img [src]="fbrLogo" width="70">
                        </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <span>{{myFbrInvoiceNo}}</span>

                        </div>
                        <p>Scan this QR code to verify
                            authenticity of invoice.
                        </p>


                    </div>

                </div>

                <div class="col-md-7">
                    <table class="table table-bordered border-light">
                        <tr>
                            <td>Total Amount (Before Tax)</td>
                            <td class="text-end">{{mySubTotal |number:'1.0-0'}}</td>
                        </tr>
                        <tr>
                            <td>Total Tax Amount</td>
                            <td class="text-end">{{myAdvTaxAmount |number:'1.0-0'}}</td>
                        </tr>
                        <tr style="background:#06366f;font-weight:bold;" class="whiteText">
                            <td>Grand Total</td>
                            <td class="text-end">{{myNetTotal |number:'1.0-0'}}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td class="text-end">{{myDiscount}}</td>
                        </tr>
                        <tr>
                            <td>Amount Paid</td>
                            <td class="text-end">{{myCash|number:'1.0-0'}}</td>

                        </tr>

                        <tr style="background:#eef5ff;font-weight:bold;">
                            <td>Balance Amount</td>
                            <td class="text-end"> {{myChange|number:'1.0-0'}}</td>
                        </tr>



                    </table>


                </div>


            </div>


            <div class="row mt-3 border rounded p-1 pt-2">

                <div class="w-100 ">
                    <h5 class="text-white text-center p-2 border rounded" style="background:#06366f;font-size: 16px !important;">
                        TERMS & CONDITIONS</h5>
                    <div class="border-top border-dark fw-bold">
                        <span style="white-space: pre-line;font-size: 12px;">{{footerText}}</span>
                    </div>
                </div>



            </div>





        </div>


    </div>




</div>
