
#psearchProduct{
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    background-color:transparent;
    border: 1px solid rgb(13, 110, 253);
    border-radius: 5px 0px 0px 5px;
    width: 100%;

    &:focus{
  
        outline: none;
    }
}
