<div class="body h-100 ">

    <div class="d-flex flex-wrap w-100 ">
        <div class="col-md-10 ps-1 pe-1  pt-2">

            <div class="row ">
                <mat-form-field appearance="outline" *ngIf="!disableDateFeature" class="col-md-2 matSmall">
                    <mat-label>Invoice Date</mat-label>
                    <input [(ngModel)]="invoiceDate" readonly="true" matInput type="text" name="voucherDate"
                        [matDatepicker]="voucherDate">
                    <mat-datepicker-toggle matSuffix [for]="voucherDate"></mat-datepicker-toggle>
                    <mat-datepicker #voucherDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-2 matSmall ">
                    <mat-label>Purchaser</mat-label>
                    <mat-select [(ngModel)]="bookerID" name="location">
                        <mat-option><ngx-mat-select-search #bookerSearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of BookerList | filter:bookerSearch.value"
                            [value]="item.bookerID">{{item.bookerName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2 matSmall">
                    <mat-label>Ref Inv No.</mat-label>
                    <input matInput [(ngModel)]="refInvNo" type="text" name="refInvNo">
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-md-2 matSmall">
                    <mat-label>Supplier</mat-label>
                    <mat-select [(ngModel)]="partyID" #supplier (selectionChange)="onPartySelected()" name="customer">
                        <mat-option><ngx-mat-select-search #partySearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of suppliersList | filter:partySearch.value"
                            [value]="item.partyID">{{item.partyName}}</mat-option>

                    </mat-select>
                    <mat-icon class="cursorPointer" (click)="addParty()" matSuffix>add</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2 matSmall">
                    <mat-label>Location</mat-label>
                    <mat-select [(ngModel)]="locationID" name="location">
                        <mat-option><ngx-mat-select-search #locationSearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of locationList | filter:locationSearch.value"
                            [value]="item.locationID">{{item.locationTitle}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="matSmall"
                    [ngClass]="disableDateFeature ? 'col-md-4' :'col-md-2'">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput rows="1" [(ngModel)]="invRemarks" type="text" name="remarks"></textarea>
                </mat-form-field>

            </div>
            <!------------------- Product search Area -------->
            <div class="row prod">
                <div class="col-md-8 d-flex">
                    <input type="text" [(ngModel)]="PBarcode"
                        (keydown)="focusto('#ovhd',$event);changeFocus($event,'.prodRow');searchByCode($event);"
                        id="psearchProduct" class="searchProduct ps-2" placeholder="Scan Barcode (Alt + b)"
                        (focus)="rowFocused = -1" autofocus autocomplete="off" accesskey="b">

                    <button accesskey="n" class="bg-primary text-white " matTooltip="Search Product By Name (alt + n)"
                        style="height: 50px;width: 50px;border: 1px solid rgb(13, 110, 253);border-radius: 0px 5px 5px 0px;"
                        (click)="searchProductByName()"><mat-icon>search</mat-icon></button>
                </div>


                <div class="col-md-4 row ">

                    <div class="col-md-4">
                        <button *ngIf="crudList.c" style="height: 50px;" class="w-100 btnhold" matTooltip="Hold Bill"
                            accesskey="h" (click)="SaveBill('hold')"><span
                                *ngIf="holdBtnType == 'Hold'"><u>H</u>old</span><span
                                *ngIf="holdBtnType == 'ReHold'">Re<u>H</u>old</span> </button>
                    </div>

                    <div class="col-md-4 ">
                        <button class="w-100 btnreset" accesskey="r"
                            (click)="global.openBootstrapModal('#holdModal',true)" style="height: 50px;"
                            matTooltip="Retrieve Bill"><u>R</u>etrieve</button>

                    </div>
                    <div class="col-md-4" *ngIf="DetailedPurchaseFeature">
                        <mat-form-field class="matSmall w-100" appearance="outline">
                            <mat-select [(ngModel)]="discType" [disabled]="tableDataList.length > 0">
                                <mat-option value="bd">Before Disc</mat-option>
                                <mat-option value="ad">After Disc</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                </div>
            </div>

        </div>

        <div class="col-md-2 pb-1 pt-2 d-flex justify-content-end pe-1">
            <mat-card class=" border border-primary  p-1" style="width: 100%;height: 140px;">
                <div class="text-center " *ngIf="tableDataList != ''" accesskey="i"
                    (click)="this.global.showProductImage(this.productImage,0)">
                    <img [src]="productImage" alt="Img not Found" height="130px" width="130px">
                </div>
            </mat-card>
        </div>


    </div>


    <div class="d-flex flex-wrap w-100">

        <div class="col-md-10 billArea">
            <!-- ////////////////////////// Table Row////////////////// -->

            <div class="ps-1 pe-1"
                style="overflow-y: auto; max-height: 65vh;padding-bottom: 120px !important; overflow-x: auto;width: 100%;">

                <table class="table-hover table-logix ">
                    <thead>
                        <tr>
                            <th class="cursorPointer" (click)="changeOrder()">S#</th>
                            <th>Barcode</th>
                            <th class="col-3">Product Name</th>
                            <th>Expiry</th>
                            <th>quantity</th>
                            <th *ngIf="DetailedPurchaseFeature">Cost Price</th>
                            <th *ngIf="DetailedPurchaseFeature">Disc %</th>
                            <th *ngIf="DetailedPurchaseFeature">Disc Rs</th>
                            <th *ngIf="DetailedPurchaseFeature">GST</th>
                            <th *ngIf="DetailedPurchaseFeature">Adv Tax</th>

                            <th class="col-1">Cost Price</th>

                            <th class="col-1">Sale Price</th>
                            <th class="col-1">Cost Total</th>
                            <th class="col-1">AQ</th>
                            <th>MRP</th>
                            <th>Margin</th>
                            <th>Action</th>
                        </tr>

                    </thead>

                    <tbody style="height: 30px;">
                        <tr *ngFor="let item of tableDataList; index as index"
                            [ngClass]="rowFocused == index ?'bg-dg':''" (click)="showImg(item);rowFocused = index">
                            <td class="text-center">{{index+1}}</td>
                            <td style="min-width: 120px;">{{item.barcode}} </td>
                            <td style="min-width: 120px;">{{item.productTitle}}</td>
                            <td><input type="date" class="expDate{{index}} amtInput" [(ngModel)]="item.expiryDate"
                                    (keydown)="rowFocused = index" (keyup)="rowFocused = index"
                                    style="height: 25px; width: 150px;"></td>





                            <td class="text-center"><input type="text" [(ngModel)]="item.quantity" min="0"
                                    draggable="false" dropzone="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);onFieldsUpdate('qty',item)"
                                    (keydown)="this.handleUpdown(item,$event,'.qty',index)"
                                    (keyup)="showImg(item);rowFocused = index;" [accessKey]="index +1 "
                                    class="qty{{index}} text-center amtInput" style="width: 80px;"></td>

                            <td class="text-center" *ngIf="DetailedPurchaseFeature"><input type="text"
                                    [(ngModel)]="item.tempcostPrice" min="0" draggable="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);onFieldsUpdate('tcp',item)"
                                    (keydown)="this.handleUpdown(item,$event,'.tcp',index)"
                                    (keyup)="showImg(item);rowFocused = index;"
                                    class="tcp{{index}} text-center amtInput" style="width: 80px;"></td>



                            <td class="text-center" *ngIf="DetailedPurchaseFeature"><input type="text"
                                    [(ngModel)]="item.discInP" min="0" draggable="false" dropzone="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);onFieldsUpdate('dp',item)"
                                    (keydown)="this.handleUpdown(item,$event,'.discP',index)"
                                    (keyup)="showImg(item);rowFocused = index;"
                                    class="discP{{index}} text-center amtInput" style="width: 80px;"></td>


                            <td class="text-center " *ngIf="DetailedPurchaseFeature"><input type="text"
                                    [(ngModel)]="item.discInR" min="0" draggable="false" dropzone="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);onFieldsUpdate('dR',item);"
                                    (keydown)="this.handleUpdown(item,$event,'.discR',index);"
                                    (keyup)="showImg(item);rowFocused = index;"
                                    class="discR{{index}} text-center amtInput" style="width: 80px;"></td>

                            <td class="text-center" *ngIf="DetailedPurchaseFeature"><input type="text"
                                    [(ngModel)]="item.gst" min="0" draggable="false" dropzone="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);onFieldsUpdate('gst',item);"
                                    (keydown)="this.handleUpdown(item,$event,'.gst',index);"
                                    (keyup)="showImg(item);rowFocused = index;"
                                    class="gst{{index}} text-center amtInput" style="width: 80px;"></td>

                            <td class="text-center" *ngIf="DetailedPurchaseFeature"><input type="text"
                                    [(ngModel)]="item.et" min="0" draggable="false" dropzone="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);onFieldsUpdate('et',item);"
                                    (keydown)="this.handleUpdown(item,$event,'.et',index);"
                                    (keyup)="showImg(item);rowFocused = index;" class="et{{index}} text-center amtInput"
                                    style="width: 80px;"></td>


                            <td class="text-center">
                                <span *ngIf="DetailedPurchaseFeature">{{item.costPrice |number:'1.0-1'}} </span>
                                <input type="text" [(ngModel)]="item.costPrice" min="0" *ngIf="!DetailedPurchaseFeature"
                                    draggable="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);"
                                    (keydown)="this.handleUpdown(item,$event,'.cp',index);"
                                    (keyup)="showImg(item);rowFocused = index" class="cp{{index}} text-center amtInput"
                                    style="width: 80px;">
                            </td>



                            <td class="text-center"><input type="text" [(ngModel)]="item.salePrice" min="0"
                                    draggable="false"
                                    (input)="global.handleInputChange($event);getTotal();changeValue(item);"
                                    (keydown)="this.handleUpdown(item,$event,'.sp',index);"
                                    (keyup)="showImg(item);rowFocused = index" class="sp{{index}} text-center amtInput"
                                    style="width: 80px;">
                            </td>


                            <td class="text-end minWidth" (click)="editTotal(item)">{{item.costPrice * item.quantity
                                |number:'1.0-1'}}
                            </td>
                            <td class="text-center minWidth">{{item.aq |number:'1.0-3'}}</td>
                            <td class="text-center minWidth"><input type="text" [(ngModel)]="item.mrp" min="0"
                                    draggable="false" (keydown)="this.handleUpdown(item,$event,'.mrp',index);"
                                    (keyup)="showImg(item);rowFocused = index" class="mrp{{index}} text-center amtInput"
                                    style="width: 80px;">
                            </td>
                            <td class="text-center minWidth"><input type="text" [(ngModel)]="item.margin" min="0"
                                    draggable="false" (input)="onMarginChange(item,index)"
                                    (keydown)="this.handleUpdown(item,$event,'.mg',index);"
                                    (keyup)="showImg(item);rowFocused = index" maxlength="3"
                                    class="mg{{index}} text-center amtInput" style="width: 80px;">
                            </td>

                            <td class="text-danger text-center cursorPointer"><mat-icon
                                    (click)="delRow(item)">delete</mat-icon>
                            </td>


                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-center fw-bold">{{myTotalQty|number:'1.0-3' }}</td>
                            <td colspan="5"></td>
                            <td colspan="6" *ngIf="DetailedPurchaseFeature"></td>
                            <td class="text-center"><mat-icon class="cursorPointer"
                                    (click)="EmptyData()">delete</mat-icon>
                            </td>
                        </tr>




                    </tbody>
                </table>



            </div>


        </div>



        <div class="col-md-2 h-100 totalArea pe-1">
            <mat-card class="p-2" style="background-color: rgb(9, 2, 69);min-height: 64vh !important; top: 2%;">

                <div class="d-flex pb-2 flex-column border-bottom">
                    <div class=" pt-3   ">
                        <p style="font-size: 15px;color: gainsboro;">TOTAL</p>
                        <p style="font-size: 3rem;color: rgb(255, 0, 0);" class="font-digit text-end">{{subTotal
                            |number:'1.0-1'}}
                        </p>
                    </div>
                    <div class="pt-3 ">
                        <p style="font-size: 15px;color: gainsboro">OVERHEAD</p>
                        <input class="bg-transparent border-0 text-end text-white font-digit w-100" id="ovhd"
                            style="font-size: 50px;" type="text" [(ngModel)]="overHead" (keyup)="getTotal()"
                            (input)="global.handleInputChange($event)"
                            (keydown)="getTotal();focusto('#disc',$event);this.global.handleNumKeys($event)" />
                    </div>
                    <div class="">
                        <p style="font-size: 15px;color: gainsboro">DISCOUNT</p>
                        <input class="bg-transparent border-0 text-warning text-end font-digit w-100" id="disc"
                            style="font-size: 50px;" type="text" [(ngModel)]="discount" (keyup)="getTotal()"
                            (input)="global.handleInputChange($event)"
                            (keydown)="getTotal();focusto('#savebtn',$event);this.global.handleNumKeys($event);this.global.avoidMinus($event)" />
                    </div>
                    <div class="">
                        <p style="font-size: 15px;color: gainsboro">NET TOTAL</p>
                        <p style="font-size: 3rem;color: rgb(55, 255, 0);" class="font-digit pt-1 text-end">{{netTotal
                            || 0
                            |number:'1.0-1'}}</p>
                    </div>
                </div>

                <div class="mt-2 text-center d-flex justify-content-center gap-1">
                    <div class="attachmentButton w-25" (click)="openAttachDocumentModal()"><mat-icon
                            class="mt-2">attachment</mat-icon></div>
                    <button class="w-50 btnsave" id="savebtn" accesskey="s" *ngIf="crudList.c"
                        (click)="SaveBill('purchase')"><u>S</u>ave</button>
                </div>
                <div class="mt-2 text-center">
                    <button class=" w-50 btnText" [disabled]="!isProcessing" id="refresh" accesskey="r"
                        (click)="isProcessing =  false">Refresh</button>
                </div>
            </mat-card>
        </div>
    </div>







</div>




<!----------------Modal Window For Products lisr ---------->



<div class="modal fade" id="prodModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="paymentMehtodLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-xl  modal-dialog-centered ">
        <div class="modal-content " style="background-color: rgb(248, 247, 247);">

            <div class="modal-body">
                <app-product-modal [productList]="productList" (reloadProdEmitter)="getProducts()"
                    (addProductEmitter)="holdDataFunction($event)"></app-product-modal>

            </div>

            <div class="modal-footer bg-mf-blue">
                <button type="button" class="btnclose" data-bs-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>

<!---------------------------------------------------------->



<!---------------     Modal Window for Retreiving Hold Bills --------------->


<div class="modal" id="holdModal" tabindex="-1" data-bs-backdrop="true" aria-labelledby="holdModalLabel">
    <div class="modal-dialog modal-dialog-scrollable mt-5  modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="holdModalLabel">Bill Details</h2>
                <button type="button" class="btn-close" id="clsMdl" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="d-flex justify-content-between">
                    <mat-form-field class="col-md-4 matSmall" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput type="text" readonly="true" [(ngModel)]="Date" [matDatepicker]="hbDate">
                        <mat-datepicker-toggle matSuffix [for]="hbDate"></mat-datepicker-toggle>
                        <mat-datepicker #hbDate></mat-datepicker>
                    </mat-form-field>


                    <!-- <button mat-raised-button *ngIf="crudList.r" class="col-lg-2  bg-primary text-white btn-rpt"
                        (click)="findHoldBills()">Hold
                        Bill</button> -->
                    <button mat-raised-button *ngIf="crudList.r" style="height: 45px !important;"
                        class="col-md-3 bg-primary text-white" (click)="findHoldBills()">Get Invoices</button>

                    <mat-form-field class="col-lg-4 matSmall" appearance="outline">
                        <mat-label>Search.......</mat-label>
                        <input matInput #holdSearch type="text" class="col-md-4">
                    </mat-form-field>

                </div>


                <div class="d-flex justify-content-between">
                    <div>
                        <mat-radio-group [(ngModel)]="searchBillType" class="mt-2">
                            <mat-radio-button value="all">All</mat-radio-button>
                            <mat-radio-button value="Date">Datewise</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <mat-radio-group [(ngModel)]="tmpSearchInvType" class="mt-2"
                            (ngModelChange)="holdBillList = []">
                            <mat-radio-button value="HP">Holded Invoices</mat-radio-button>
                            <mat-radio-button value="P">Saved Invoices</mat-radio-button>
                            <mat-radio-button value="PO">Purchase Order</mat-radio-button>
                            <mat-radio-button value="IC" *ngIf="ImportFromServerFeature">Import Warehouse Invoice</mat-radio-button>

                        </mat-radio-group>
                    </div>
                </div>

                <table class="table-logix">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Inv No.</th>
                            <th>Date</th>
                            <th>Party</th>
                            <th>Location</th>
                            <th>Amount</th>
                            <th>User</th>
                            <th>Action</th>
                            <!-- <th *ngIf="crudList.u" id="edit">Retrive</th>
                            <th id="doc">Document</th> -->
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of holdBillList | filter:holdSearch.value index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.invBillNo}}</td>
                            <td>{{item.invDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{item.partyName}}</td>
                            <td>{{item.locationTitle}}</td>
                            <td class="text-end">{{(item.billTotal + item.overHeadAmount) | number:'1.0-0'}}</td>
                            <td>{{item.entryUser}}</td>
                            <td class="text-center cursorPointer">
                                <mat-icon *ngIf="crudList.r && item.invType !== 'PO'" class="text-primary"
                                    (click)="printBill(item)">print</mat-icon>
                                <mat-icon data-bs-dismiss="modal" *ngIf=" item.invType == 'PO' && !item.refPoNoStatus"
                                    (click)="RetreivePurchaseOrder(item)">edit</mat-icon>
                                <mat-icon data-bs-dismiss="modal" *ngIf=" item.invType == 'HP'  && crudList.u"
                                    (click)="retriveBill(item)">edit</mat-icon>
                                 <mat-icon data-bs-dismiss="modal" *ngIf=" item.invType == 'IC' && !item.refPoNoStatus"
                                    (click)="retrieICInvoice(item)">edit</mat-icon>
                                <mat-icon *ngIf=" (item.invType == 'HP' ) && crudList.u" class="text-danger cursorPointer"
                                    matTooltip="Delete" (click)="deleteProd(item)">delete</mat-icon>

                                <mat-icon *ngIf=" item.invType == 'P'"
                                    (click)="openDocumentModal(item)">note_add</mat-icon>
                            </td>

                        </tr>
                    </tbody>
                </table>


            </div>

        </div>
    </div>
</div>




<!--------------------- To Attach Document After Saved --------------->

<div class="modal" id="DocumentModal" tabindex="-1" data-bs-backdrop="true" aria-labelledby="DocumentModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="DocumentModalLabel">Add Document</h2>
                <button type="button" class="btn-close" (click)="global.closeBootstrapModal('#DocumentModal',true)"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <app-add-document [billNo]="docInvBillNo"
                    (UploadEmitter)="global.closeBootstrapModal('#DocumentModal',true)"></app-add-document>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="attchDocumentModal" tabindex="-1" data-bs-backdrop="true" aria-labelledby="DocumentModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-sm   ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="DocumentModalLabel">Add Document</h2>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="global.closeBootstrapModal('#attchDocumentModal',true)"></button>
            </div>
            <div class="modal-body">

                <div>

                    <div>

                        <div class="d-flex flex-column gap-2">
                            <span class="fw-bold" style="font-size: 20px;">Attachment Must be PDF</span>
                            <div class="row">
                                <div class="col-md-12">

                                    <div style="border: 2px solid black;
                                                border-style: dashed;
                                                width: 100%;
                                                height: 250px;" class="d-flex flex-column">

                                        <div class="d-flex justify-content-center mt-5 pt-5">
                                            {{documentName || 'Not Selected'}}

                                        </div>

                                    </div>
                                    <button class="btn btn-primary w-100 mt-2" for="fileInput"
                                        (click)="fileInput.click()">Browse</button>
                                    <input #fileInput id="fileInput" type="file" (change)="onFilesSelected($event)"
                                        accept=".pdf" hidden />

                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<!----------- Print Area For Bill Print --------------------->

<app-purchase-bill-print></app-purchase-bill-print>