<div class="row body bg-gray h-100">
    <div class="col-lg-3 bg-white  p-3" >

        <h1>User Credentials</h1>
       
            
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>User Name</mat-label>
            <input matInput type="text"  [(ngModel)]="UserName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Login Name</mat-label>
            <input matInput type="text" [(ngModel)]="loginName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>User Email</mat-label>
            <input matInput type="email" [(ngModel)]="userEmail">
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mobile No</mat-label>
            <input matInput type="text"  [textMask]="{mask: mobileMask}" [(ngModel)]="mobileNo">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>User Role</mat-label>
            <mat-select type="text" [(ngModel)]="RoleID">
                <mat-option *ngFor="let item of rolesList" [value]="item.roleID">{{item.roleTitle}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input [disabled]="btnType == 'Update'" matInput type="password" [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input [disabled]="btnType == 'Update'" matInput type="password" [(ngModel)]="confirmPassword">
        </mat-form-field>


       <div class="text-center">
        <button mat-raised-button class="bg-success text-white me-2 " *ngIf="crudList.u && btnType == 'Update'" (click)="save()">{{btnType}}</button>
        <button mat-raised-button class="bg-success text-white me-2 " *ngIf="crudList.c && btnType == 'Save'"  (click)="save()">{{btnType}}</button>
        <button mat-raised-button color="warn" (click)="reset()">Reset</button>
       </div>
       
        
        

        

    </div>
    <div class="col-lg-9 p-3   h-100" >
        <h1>Saved Record</h1>
        
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Search.....</mat-label>
            <input [(ngModel)]="txtSearch"  matInput type="text" #input >
            <mat-icon matSuffix class="text-secondary">search</mat-icon>
        </mat-form-field>


        <table  class="table-logix2 cursorPointer" style="overflow: scroll;" *ngIf="crudList.r" >
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Login Name</th>
                    <th>Role</th>
                    <th>Mobile</th>
                    <th *ngIf="crudList.u">Edit</th>
                    <th *ngIf="crudList.u">Reset PIN</th>
                    <th *ngIf="crudList.u">Password</th>
                    <th *ngIf="crudList.u">Block</th>
                    <th *ngIf="crudList.d">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userList | filter:txtSearch">
                    <td>{{item.userName}}</td>
                    <td>{{item.loginName}}</td>
                    <td>{{item.roleTitle}}</td>
                    <td>{{item.mobileNo}}</td>
                    <td *ngIf="crudList.u"><button mat-mini-fab class="bg-success h30px w30px"  (click)="editUser(item)"><mat-icon  >edit</mat-icon></button></td>
                    <td *ngIf="crudList.u"><button mat-mini-fab class="bg-primary h30px w30px " (click)="resetPin(item)"   ><mat-icon >vpn_key</mat-icon></button></td>
                    <td *ngIf="crudList.u"><button mat-mini-fab class="h30px w30px " style="background-color: rgb(57, 154, 183);" (click)="ChangePassword(item.userID)"   ><mat-icon >lock</mat-icon></button></td>
                    <td *ngIf="crudList.u"><button mat-mini-fab  class="bg-warning h30px w30px"  *ngIf="item.tempBlock == false "   (click)="blockUser(item,true)"  ><mat-icon>block</mat-icon></button>
                       <button mat-mini-fab *ngIf="item.tempBlock == true " (click)="blockUser(item,false)"  class="bg-white text-dark h30px w30px"> <mat-icon  >block</mat-icon></button></td>
                    <td *ngIf="crudList.d"><button mat-mini-fab  class="bg-danger h30px w30px"  (click)="deleteUser(item)"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
