<div id="printKOT">
    <div class="text-center p-1">
        <!-- <h2 style="border: 1px solid black;text-align: center;"  >KOT {{myCookingAreaTitle}}</h2> -->
        <h2 *ngIf="showOrderNo" style="font-family: Arial, Helvetica, sans-serif;">ORDER NO: {{myOrderNo}}</h2>   
      
    </div>

   

  <div class="p-1">
    <h2  *ngIf="voidFlag" style="border: 1px solid black;text-align: center;"  >Void Item</h2>
    <div >
        <table  style="font-size: 10px;width: 100%;">
            <thead>
                <tr style="border-bottom: 1px solid Black;padding: 15px !important;">
                    <th>Inv #</th>
                    <th>Date</th>
                    <th>Counter</th>
                    <th>Table</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr style="border-bottom: 1px solid Black;padding: 15px !important;">
                    <td>{{myInvoiceNo}}</td>
                    <td>{{myInvDate | date:'dd-MM-yyyy '}} ({{myInvTime|date:'hh:mm:ss:a'}})</td>
                    <td>{{myCounterName}}</td>
                    <td>{{mytableNo}}</td>
                </tr>
                <tr>
                    <td colspan="4" class="fw-bold text-uppercase" style="font-size: 15px;">{{myCookingAreaTitle}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div>
        <table style="width: 100%; font-family: Arial, Helvetica, sans-serif;" >
            <thead >
                <tr 
                style="padding: 5px;
                border: 1px dashed rgb(6, 6, 6) !important;
                border-right: none !important;
                border-left: none !important;
                text-transform: uppercase;
                font-size: 10px;">
                    <th style="padding: 5px;">Product Name</th>
                    <th style="padding: 5px;" class="text-center">Qty</th>
                
                </tr>
            </thead>
            <tbody [ngClass]="voidFlag ? 'dark' : ''" 
           >
                <tr
                style=" padding: 5px;
                border: 1px dashed rgb(6, 6, 6) !important;
                border-right: none !important;
                border-left: none !important;
                font-size: 10px;"
                 *ngFor="let item of myPrintData index as index">
                    <td style="padding: 5px;">{{item.productTitle}}</td>
                    <td style="padding: 5px;" class="text-center">{{item.quantity |number:'1.0-2'}}</td>

                </tr>
            </tbody>
        </table>
   </div>
   <div *ngIf="!PrintKotAreawiseFeature">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>Remarks:-</td>
                <td >{{myRemarks}}</td>
            </tr>
        </tbody>
    </table>
   </div>
  </div>

</div>



<!-- <div id="printKOT">
    <div class="text-center p-1">
        <h2 class="border border-dark text-center" >KOT</h2>
        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ORDER NO: {{myOrderNo}}</h2>   
      
    </div>

   

  <div class="p-1">
    <h2  *ngIf="voidFlag" class="border border-dark text-center" >Void Item</h2>
    <div >
        <table class="w-100 table" style="font-size: 10px;">
            <thead>
                <tr>
                    <th>Inv #</th>
                    <th>Date</th>
                    <th>Counter</th>
                    <th>Table</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>{{myInvoiceNo}}</td>
                    <td>{{myInvDate | date:'dd-MM-yyyy '}} ({{myInvTime|date:'hh:mm:ss:a'}})</td>
                    <td>{{myCounterName}}</td>
                    <td>{{mytableNo}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div>
        <table class="w-100 table-restaurant-sale" >
            <thead >
                <tr>
                    <th>Product Name</th>
                    <th>Qty</th>
                
                </tr>
            </thead>
            <tbody [ngClass]="voidFlag ? 'dark' : ''">
                <tr *ngFor="let item of myPrintData index as index">
                    <td >{{item.productTitle}}</td>
                    <td >{{item.quantity |number:'1.0-2'}}</td>

                </tr>
            </tbody>
        </table>
   </div>
   <div>
    <table class="w-100">
        <tbody>
            <tr>
                <td>Remarks:-</td>
                <td >{{myRemarks}}</td>
            </tr>
        </tbody>
    </table>
   </div>
  </div>

</div> -->
