
<div class="body" style="overflow-x: hidden;">

    <section class="statis p-2 text-center  mb-3">
        <div class="row" >
            <div class="col-lg-3 mb-2" >
                <div class="box bg-warning text-white  p-3 mat-elevation-z2 " style="box-shadow: 0px 0px 10px 1px  rgb(180, 183, 219);" >
                    <i ><mat-icon>account_balance</mat-icon></i>                  
                    <p class="value font-digit ">{{cardsData[0].bankBalance || 0  |number:'1.0-0'}}</p>
                    <p class="lead ">Bank Balance</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="box  bg-danger text-white p-3 mat-elevation-z2" style="box-shadow: 0px 0px 10px 1px  rgb(190, 215, 190);">
                    <i class=""><mat-icon>attach_money</mat-icon> </i>
                    <p class="value font-digit">{{cardsData[0].cashInHand || 0 |number:'1.0-0'}}</p>
                    <p class="lead">Cash Balance</p>
                </div>
            </div>
            <div class="col-lg-3  mb-2">
                <div class="box bg-success  p-3 text-white mat-elevation-z2" style="box-shadow: 0px 0px  10px 0px  rgb(173, 167, 165);">
                    <i class=" " ><mat-icon>money_off</mat-icon></i>
             
                    <div class="value d-flex text-center justify-content-center  "><p class="font-digit">{{cardsData[0].totalExpense || 0  | number:'1.0-0'}}</p></div>
                    <p class="lead">TOTAL EXPENSE</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="box  bg-primary text-white p-3 mat-elevation-z2" style="box-shadow: 0px 0px 10px 1px  rgb(205, 193, 193);">
                    <i class=""><mat-icon>attach_money</mat-icon></i>
        
                    <div class="d-flex value justify-content-center  "><p class="font-digit">{{cardsData[0].totalIncome || 0  | number:'1.0-0'}}</p> </div>

                    <!-- <p class="text-danger font-digit">{{item.maxQty|number:'1.0-0'}} {{item.maxQtySwingTitle}}</p> -->
                    <p class="lead">TOTAL INCOME</p>
                </div>
            </div>
        </div>
    </section>

     <!-- <div class=" container-fluid row" >
        <div class=" col-lg-3 p-4" >
            <mat-card class="shadow rounded card-height" style="background-color: rgb(255, 253, 251); border-bottom: 3px solid rgb(167, 43, 163); ">
                <div class="mt-2 text-center">
                    <h3 class=" fw-bold title" style="color: rgb(167, 43, 163);">Bank Balance</h3>
                </div>
                <div class="d-flex justify-content-around ">
                    <span>                     
                            <mat-icon style="color: rgb(167, 43, 163);" >account_balance</mat-icon>              
                    </span>
                    <span class="mt-2" >
                        <h1 style="color: rgb(167, 43, 163);" class="  digitalFont border-dark">{{cardsData[0].totalRooms || 0}}</h1>
                    </span>
                </div>

            </mat-card>
        </div>



        <div class=" col-lg-3 p-4" >
            <mat-card class="shadow rounded card-height" style="background-color: rgb(255, 255, 255); border-bottom: 3px solid rgb(255, 128, 1);">
                <div class="mt-2 text-center">
                    <h3 class=" fw-bold title" style="color: rgba(255, 128, 0, 0.893);">Cash Balance</h3>
                </div>
                <div class="d-flex justify-content-around ">
                    <span >
                        <mat-icon style="color: rgba(255, 128, 0, 0.893);" >money</mat-icon>
                    </span>
                    <span  class="mt-2">
                        <h1 style="color: rgb(255, 128, 1);" class="digitalFont  border-dark">{{cardsData[0].mappedRooms || 0}}</h1>
                    </span>
                </div>

            </mat-card>
        </div>



        <div class=" col-lg-3 p-4" >
            <mat-card class="shadow rounded card-height" style="background-color: rgb(255, 255, 255); border-bottom: 3px solid rgb(11, 160, 234); ">
                <div class="mt-2 text-center">
                    <h3 class=" fw-bold title" style="color: rgb(11, 160, 234);"> TOTAL EXPENSE</h3>
                </div>
                <div class="d-flex justify-content-around">
                    <span class=" ">
                        <mat-icon style="color: rgb(11, 160, 234);">money_off</mat-icon>
                    </span>
                    <span class="mt-2" >
                        <h1 style="color: rgb(11, 160, 234);" class=" digitalFont  border-dark">{{cardsData[0].totalExpense || 0 |number}}</h1>
                    </span>
                </div>

            </mat-card>
        </div>




        <div class=" col-lg-3 p-4" >
            <mat-card class="shadow rounded card-height" style="background-color: rgb(247, 247, 247); border-bottom: 3px solid rgb(12, 193, 12);">
                <div class="mt-2 text-center">
                    <h3 class=" fw-bold title" style="color: rgb(12, 193, 12);" > TOTAL INCOME</h3>
                </div>
                <div class="d-flex justify-content-around ">
                    <span >
                        
                            <mat-icon style="color: rgb(12, 193, 12);" > attach_money</mat-icon>
                    </span>
                    <span class="mt-2" >
                        <h1 style="color: rgb(12, 193, 12);"  class="digitalFont border-dark">{{cardsData[0].totalIncome || 0 |number}}</h1>
                    </span>
                </div>

            </mat-card>
        </div>





           

    </div>  -->




  
    


<div class="row  p-2">

    <!-- <div class="col-md-12 mb-2">
        <div class="mt-2">
            <div class="mat-elevation-z2" [chart]="room_Booking_Chart"></div>
          </div>

    </div> -->

    <div class="col-lg-6 ">
       
            <div class="mb-1 mat-elevation-z2" [chart]="income_expense_chart"></div>
          
    </div>


    <div class="col-lg-6 ">
       
        <div class="mb-1 mat-elevation-z2" [chart]="profit_Line_Chart"></div>
      
    </div>
    
    <div class="col-lg-3">
       
            <div class="mat-elevation-z2" [chart]="Expense_Detail_Chart"></div>
          

    </div>
    <div class="col-lg-6 mt-2">
        
            <div class="mat-elevation-z2" [chart]="budget_Chart"></div>
         

    </div>
    <div class="col-lg-3 mt-2">
       
            <div class="mat-elevation-z2" [chart]="Income_Detail_Chart"></div>       

    </div>


 


    
    
</div>


</div>
