
.list-itm {
  color: #505050 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px ;
  text-decoration: none;
  padding: 10px;
  list-style-type: none;

}

.dropdownhead{

  color: #505050 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px ;
  text-decoration: none;
  // padding: 10px;
  
}
.list-itm :hover {
      background-color: #978e8e !important;
      border-radius: 4px;
      color: rgb(255, 255, 255) !important;
      
  }
.list-itm .sideicon {
  vertical-align: bottom;
  // margin-right: 1rem;

}


.active {
  color: rgb(6, 6, 6) !important;
  border-bottom: 1px solid rgb(204, 202, 202) ;
  border-bottom: 1px dotted;
  font-weight: bold;
  
}


.logoutBtn{
  min-width: 120px;
  height: 40px; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif;
   border-radius: 20px;
}



.mIcon{
  display: none;
}
   
@media only screen and (max-width:1150px){
  .topNavMenuList{
    display: none !important;
  }

   .mIcon{
    display:contents;
  }
 



}


  