<mat-toolbar class="w-100" >


  <!-- <mat-toolbar-row class="bg-white justify-content-between">

    <div>
    <a class="list-itm" routerLink="./dashboard" routerLinkActive="active">DashBoard</a>

    <a class="list-itm" routerLink="./coa" routerLinkActive="active">Charts of Accounts</a>

    <a class="list-itm" routerLink="./voucher" routerLinkActive="active">
      Voucher</a>
    <a class="list-itm" routerLink="./bdgtng" routerLinkActive="active">
      Budgetting</a>
    <a class="list-itm" routerLink="./spvn" routerLinkActive="active">
      Supervision</a>
      <a class="list-itm" routerLink="./dtran" routerLinkActive="active">
        Day Transaction</a>


    <div class="dropdown cursorPointer ">
      <a class="list-itm ">
        Settings <mat-icon class="sideicon mb-1">arrow_drop_down</mat-icon></a>
      <div class="dropdown-content">

        <a class="list-itm" routerLink="./settings" routerLinkActive="active">
          Settings</a>

      </div>
    </div>


    <div class="dropdown cursorPointer ">
      <a class="list-itm ">
        Reports <mat-icon class="sideicon mb-1">arrow_drop_down</mat-icon></a>
      <div class="dropdown-content">

        <a class="list-itm" routerLink="./ldgrrpt" routerLinkActive="active">
          Ledger Report</a>
          <a class="list-itm" routerLink="./plrpt" routerLinkActive="active">
            Profit & Loss Statement</a>
            <a class="list-itm" routerLink="./tbrpt" routerLinkActive="active">
             Trial Balance</a>    
        <a class="list-itm" routerLink="./bsrpt" routerLinkActive="active">
          Balance Sheet</a>
        <a class="list-itm" routerLink="./cbrpt" routerLinkActive="active">
            Cash Book</a>
          <a class="list-itm" routerLink="./bdgrpt" routerLinkActive="active">
            Budget Report</a>

      </div>
    </div>

  </div>



     
        
        <div class="d-flex bg-white shadow justify-content-between" style="min-width: 120px;max-width: 500px; height: 40px; font-size: 15px; font-family: Arial, Helvetica, sans-serif; border-radius: 20px;" >
          <p> </p>

          <p class="mt-1 pe-1 ps-1" >
              {{ UserName }}
          </p>
          <button mat-mini-fab class="bg-success"  [matMenuTriggerFor]="userMenu"
              aria-label="">
              <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Log out</span>
              </button> 
              <button mat-menu-item  (click)="changePassword()">
                <mat-icon>lock</mat-icon>
                <span>Change Password</span>
            </button>
            <button mat-menu-item (click)="changePin()">
              <mat-icon>vpn_key</mat-icon>
              <span>Change Pin</span>
          </button></mat-menu>
              
        </div>
   

  </mat-toolbar-row> -->


 <mat-toolbar-row class="bg-white justify-content-between" >
        
        <div class="d-flex"> 

           <div class="d-flex bg-white ps-2  border-end pe-2" >
            <img [src]="logo1" height="35" width="35" >
           </div>


       <div>
        <span *ngFor="let item of menuList; let i = index">
          <a   *ngIf="item.parentMenuID == 0 && item.isParentMenu == false" class="list-itm" routerLink="/{{item.moduleLink}}/{{item.menuLink}}" routerLinkActive="active">
            {{ item.menuTitle }}
          </a>
        </span>
  
    
  
        <span *ngFor="let item of menuList; let i = index">
          <div *ngIf="item.isParentMenu == true" class="dropdown cursorPointer ">
  
            <a class="list-itm" [matMenuTriggerFor]="menu">{{ item.menuTitle }}<mat-icon class="sideicon mb-1" >arrow_drop_down</mat-icon></a>
  
            <div   >
              <mat-menu #menu="matMenu" [scrollLeft]="true" class="dropdown-content">
              <span *ngFor="let row of menuList" >
                <a *ngIf="item.menuID == row.parentMenuID  " style="min-width: 200px !important;" class="list-itm" routerLink="/{{row.moduleLink}}/{{row.menuLink}}" routerLinkActive="active">{{row.menuTitle}}</a>
              </span>

            </mat-menu>
              
            </div>
        </div>
      </span>
  
  
        <!-- <span *ngFor="let item of menuList; let i = index">
          <div *ngIf="item.isParentMenu == true" class="dropdown cursorPointer ">
  
            <a class="list-itm" >{{ item.menuTitle }}<mat-icon class="sideicon mb-1">arrow_drop_down</mat-icon></a>
            <div class="dropdown-content" >
              <span *ngFor="let row of menuList">
                <a *ngIf="item.menuID == row.parentMenuID  " class="list-itm" routerLink="/{{row.moduleLink}}/{{row.menuLink}}" routerLinkActive="active">{{row.menuTitle}}</a>
              </span>
       
            </div>
        </div>
      </span> -->
       </div>
  
        </div>


        <!---------  LogOut Section -------------------------- -->

          <div class="d-flex bg-white shadow justify-content-between" style="min-width: 120px;height: 40px; font-size: 15px; font-family: Arial, Helvetica, sans-serif; border-radius: 20px;" >
          <p> </p>

          <p class="mt-1 pe-1 ps-1" >
              {{ UserName }}
          </p>
          <button mat-mini-fab class="bg-success"  [matMenuTriggerFor]="userMenu"
              aria-label="">
              <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Log out</span>
              </button> 
              <button mat-menu-item  (click)="changePassword()">
                <mat-icon>lock</mat-icon>
                <span>Change Password</span>
            </button>
            <button mat-menu-item (click)="changePin()">
              <mat-icon>vpn_key</mat-icon>
              <span>Change Pin</span>
          </button></mat-menu>
              
        </div>
   
  
  
      
  
      </mat-toolbar-row>  

</mat-toolbar>