<div class="p-4">

    <div class="d-flex justify-content-between">
        <h3 class="text-uppercase">Supplier Payment</h3>
        <h3  class="text-uppercase" >Balance: <b class="font-digit text-danger" style="font-size: 20px;">{{supplierBalance|number:'1.0-1'}}</b></h3>
    </div>
    <hr>
<div class="row">
    <mat-form-field appearance="outline"  class="col-lg-12">
        <mat-label>Invoice Date</mat-label>
        <input [(ngModel)]="invoiceDate"  readonly="true" matInput type="text" name="invDate"
            [matDatepicker]="iDate">
        <mat-datepicker-toggle matSuffix [for]="iDate"></mat-datepicker-toggle>
        <mat-datepicker #iDate></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Supplier</mat-label>
        <mat-select id="supplier" [(ngModel)]="partyID" (selectionChange)="getSupplierBalance()">
            <mat-option><ngx-mat-select-search #supSerach [placeholderLabel]="'Search...'"
                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
            <mat-option *ngFor="let item of supplierList |filter:supSerach.value" [value]="item.partyID">{{item.partyName}}  ({{item.cityName}})</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>Type</mat-label>
        <mat-select  [(ngModel)]="paymentType" (selectionChange)="getCoaList();coaID = 0">
         <mat-option *ngFor="let item of paymentTypeList" [value]="item.value">{{item.title}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>COA</mat-label>
        <mat-select   [(ngModel)]="coaID">
         <mat-option *ngFor="let item of coaList" [value]="item.coaID">{{item.coaTitle}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>Amount</mat-label>
       <input matInput [(ngModel)]="amount" (keydown)="global.handleNumKeys($event)" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>Discount</mat-label>
       <input matInput [(ngModel)]="discount" (keydown)="global.handleNumKeys($event)" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Remarks</mat-label>
       <textarea matInput [(ngModel)]="remarks" ></textarea>
    </mat-form-field>
</div>


</div>

<div class="bg-mf text-end p-3">
    <button class="btnsave me-1" (click)="Save()">{{btnType}}</button>
    <button class="btnclose" (click)="closeDialog()">Close</button>
</div>