<div class="p-3 d-flex flex-column gap-2" style="height: 80vh;overflow-y: auto;">

    <div class="row">

        <mat-form-field class="col-md-4 matSmall" appearance="outline">
            <mat-label>Item Title</mat-label>
            <input matInput type="text" [(ngModel)]="MnuItemTitle">
        </mat-form-field>
        <mat-form-field class="col-md-2 matSmall" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="MnuItemCatID">
                <mat-option *ngFor="let item of categoryList"
                    [value]="item.mnuItemCatID">{{item.mnuItemCatTitle}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-2 matSmall" appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput type="text" [(ngModel)]="MnuItemCode">
        </mat-form-field>
        <mat-form-field class="col-md-2 matSmall" appearance="outline">
            <mat-label>Cost Price</mat-label>
            <input matInput type="text" [disabled]="true" [(ngModel)]="MnuItemCostPrice">
        </mat-form-field>
        <mat-form-field class="col-md-2 matSmall" appearance="outline">
            <mat-label>Sale Price</mat-label>
            <input matInput type="text" (keydown)="this.global.handleNumKeys($event);" [(ngModel)]="MnuItemSalePrice">
        </mat-form-field>
           <mat-form-field class="col-md-2 matSmall" appearance="outline">
            <mat-label>Labour Charges</mat-label>
            <input matInput type="text" (keydown)="this.global.handleNumKeys($event);" [(ngModel)]="MnuLabourCharges">
        </mat-form-field>
        <mat-form-field class="col-md-2 matSmall" appearance="outline">
            <mat-label>Size</mat-label>
            <input matInput type="text" [(ngModel)]="MnuItemSize">
        </mat-form-field>
        <mat-form-field class="col-md-8 matSmall" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea rows="1" matInput type="text" [(ngModel)]="MnuItemDescription"></textarea>
        </mat-form-field>

    </div>



    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="fw-bold"> Material Details </mat-panel-title>
                <mat-panel-description><b>Total ({{materialTotalAmount |number:'1.0-1'}})</b> </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="col-md-12">

                <div class="ps-1 row ">

                    <div class="col-md-10  d-flex flex-column">
                        <mat-label class="text-primary">Search Barcode / Product</mat-label>
                        <input type="text" #pbarcode [(ngModel)]="PBarcode" (keydown)="this.changeFocus($event,'.prodRow'); searchByCode($event);"
                            id="searchProduct" class="p-1 mb-2  searchProduct bg-transparent" placeholder="Alt + b"
                            autofocus autocomplete="off" accesskey="b">

                        <div class="d-flex flex-column SearchConatiner cursorPointer"
                            *ngIf="PBarcode != '' && PBarcode != undefined">
                            <div class="card " *ngFor="let item of productList| filter:PBarcode | slice:0:25 index as index"
                                (click)="holdDataFunction(item)">
                                <button style="height: 40px; background: none;border: none;text-align: left;"
                                    class="prodRow{{index}} prodBtn justify-content-between d-flex"
                                    (keydown)="handleProdFocus(item,$event,'.prodRow','.searchProduct',productList)">
                                    <p>{{item.productTitle}}</p>
                                    <p><strong>({{item.barcode}})</strong></p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <button mat-raised-button style="height: 40px;margin-top: 20px;"
                            class="bg-primary text-white w-100" (click)="ngOnInit()">Load</button>
                    </div>

                </div>


                <div class="card"
                    style="min-height: 58vh;max-height: 58vh;overflow-y:auto; background-color: rgba(225, 244, 236, 0.816);">


                    <table class="table table-hover txtsm">
                        <thead>
                            <tr>
                                <th>S#</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <!-- <th>Avg Cost</th> -->
                                <th>Cost</th>

                                <!-- <th>Avg Cost Total</th> -->
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tableDataList index as index">
                                <td>{{index+1}}</td>
                                <td>{{item.productTitle}}</td>
                                <td class="text-center"><input type="text" [(ngModel)]="item.quantity" min="0"
                                        (keydown)="this.handleUpdown(item,$event,'.qty',index);getTotal();"
                                        (keyup)="getTotal();" (click)="rowFocused = index"
                                        class="qty{{index}} text-center" style="width: 80px;"></td>

                                <td>{{item.costPrice | number:'1.0-2'}}</td>
                                <!-- <td>{{item.costPrice | number:'1.0-2'}}</td> -->


                                <!-- <td class="text-center">{{item.costPrice * item.quantity |number:'1.0-2'}}</td> -->
                                <td class="text-center">{{item.costPrice * item.quantity |number:'1.0-2'}}</td>

                                <td class="cursorPointer"><mat-icon (click)="delRow(item)">delete</mat-icon></td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>



    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="fw-bold">Labours for shifting, placing, curing etc. (Skilled and unskilled)
                </mat-panel-title>
                <mat-panel-description><b>Total ({{labourTotalAmount |number:'1.0-1'}})</b> </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">


                <mat-form-field class="col-md-6 matSmall" appearance="outline">
                    <mat-label>Element</mat-label>
                    <mat-select [(ngModel)]="tmplabourElementID">
                        <mat-option *ngFor="let item of labourElements" [value]="item.value">{{item.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-2 matSmall" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="text" (keydown)="this.global.handleNumKeys($event);"
                        [(ngModel)]="tmpLabourQuantity">
                </mat-form-field>
                <mat-form-field class="col-md-2 matSmall" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput type="text" (keydown)="this.global.handleNumKeys($event);"
                        [(ngModel)]="tmpLabourCost">
                </mat-form-field>
                <div class="col-md-2">
                    <button autofocus (click)="addLabourCharges()" style="height: 43px;"
                        class="btnsave w-100">Add</button>
                </div>


            </div>

            <div>
                <table class="table table-hover txtsm">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Title</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Total</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tmpLabourChargesList index as index">

                            <td>{{index + 1}}</td>
                            <td>{{item.productTitle}}</td>
                            <td>{{item.quantity |number:'1.0-2'}}</td>
                            <td>{{item.costPrice |number:'1.0-2'}}</td>
                            <td>{{item.costPrice * item.quantity |number:'1.0-2'}}</td>
                            <td><mat-icon (click)="delLabourRow(item)">delete</mat-icon></td>

                        </tr>
                    </tbody>
                </table>
            </div>



        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="fw-bold">Over Head and Profit </mat-panel-title>
                <mat-panel-description><b>Total ({{overheadTotalAmount |number:'1.0-1'}})</b> </mat-panel-description>
            </mat-expansion-panel-header>


            <div class="row">
                <mat-form-field class="col-md-6 matSmall" appearance="outline">
                    <mat-label>Element</mat-label>
                    <mat-select [(ngModel)]="tmpOverheadElementID">
                        <mat-option *ngFor="let item of overheadElements" [value]="item.value">{{item.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                  <mat-form-field class="col-md-2 matSmall" appearance="outline">
                    <mat-label>Percentage</mat-label>
                    <input matInput type="text" (keydown)="this.global.handleNumKeys($event);"
                        [(ngModel)]="tmpOverHeadPercentage">
                </mat-form-field>
   
                   <div class="col-md-2">
                    <button autofocus (click)="addOverheadCharges()" style="height: 43px;"
                        class="btnsave w-100">Add</button>
                </div>
                

            </div>

                  <div>
                <table class="table table-hover txtsm">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Title</th>
   
                            <th>Total</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tmpOverHeadList index as index">

                            <td>{{index + 1}}</td>
                            <td>{{item.productTitle}} @ {{(item.costPrice / (this.materialTotalAmount + this.labourTotalAmount) ) * 100}}</td>
    
                            <td>{{item.costPrice * item.quantity |number:'1.0-1'}}</td>
                            <td><mat-icon (click)="delOverheadRow(item)">delete</mat-icon></td>

                        </tr>
                    </tbody>
                </table>
            </div>


        </mat-expansion-panel>
    </mat-accordion>





</div>


<div class="bg-mf text-end p-3">
    <button class="btnsave me-1" (click)="save()">{{btnType}}</button>
    <button class="btnclose" (click)="closeDialog()">Close</button>
</div>