<div  class="row h-100 body ">

    <div class="col-lg-4 p-5 border-end border-dark">
        <h2 class="border-bottom">CHARTS OF ACCOUNT</h2>
        

        <mat-form-field appearance="outline" class="col-lg-12 matSmall"> 
            <mat-label >Select Type </mat-label>
            <mat-select [(ngModel)]="CoaTypeID" [disabled]="btnType == 'Update'"    Data-live-Search="true">
                <mat-option [disabled]="item.coaTypeID !== 2 && item.coaTypeID !== 3" *ngFor="let item of coaTypesList "
                    value="{{item.coaTypeID}}">{{item.coaTypeTitle}}</mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>COA Title</mat-label>
            <input matInput  type="text" [(ngModel)]="coaTitle" >
        </mat-form-field>


        <div class="row justify-content-around">
            <button class="btnsave w-25" *ngIf="crudList.u && btnType == 'Update'" (click)="save()">{{btnType}}</button>
            <button class="btnsave w-25" *ngIf="crudList.c && btnType == 'Save'" (click)="save()">{{btnType}}</button>
            <button class="btnreset w-25" (click)="reset()">Reset</button>
        </div>
        

    </div>

    <div class="col-lg-8 p-4 fh-config">


     <div class="row">
        <mat-form-field class="col-lg-9 matSmall" appearance="outline">
            <mat-label >Search.....</mat-label>
            <input [(ngModel)]="txtSearch" matInput type="search" class="text-secondary">
        </mat-form-field>

        <mat-form-field class="col-lg-3 matSmall" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select  [(ngModel)]="FilterType" #type (selectionChange)="getSavedData(type.value)">
                <mat-option *ngFor="let item of searchType" [value]="item.value">{{item.title}}</mat-option>
            </mat-select>
        </mat-form-field>
     </div>
      
        


        <div>
            <table class="table-logix2" *ngIf="crudList.r">
                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Title</th>
                        <th *ngIf="crudList.u">Edit</th>
                        <th *ngIf="crudList.d">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of savedDataList | filter:txtSearch index as index">
                        <td>{{index+1}}</td>
                        <td>{{item.coaTitle}}</td>
                        <td *ngIf="crudList.u"><button mat-mini-fab  class="bg-success text-white h30px w30px" (click)="edit(item)"><mat-icon >edit</mat-icon></button></td>
                        <td *ngIf="crudList.d"><button mat-mini-fab  color="warn" class="h30px w30px" (click)="delete(item)"><mat-icon>delete</mat-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    


    </div>


</div>








