<mat-sidenav-container hasBackdrop="false" (backdropClick)="filterPanel.close()">


    <mat-sidenav #filterPanel mode="over" style="width:30%;position: fixed;z-index: 100000;" position="end"
        class="order-panel bg-white container pt-4 mt-5">

        <div class="container-fluid pt-3">
            <div class="d-flex justify-content-between ">
                <div class="d-flex flex-column">
                    <span>Filter Recipe List</span>
                </div>
                <div class="d-flex gap-3">
                    <div class="d-flex cursorPointer border-bottom" (click)="AdvanceFilter()"><mat-icon
                            class="fs-15px mt-1">filter_list</mat-icon><span>Filter</span></div>

                    <div class="d-flex cursorPointer border-bottom" (click)="clearFilter()"><mat-icon
                            class="fs-15px mt-1">cancel_presentation</mat-icon><span>Clear Filter</span></div>
                    <div class="d-flex cursorPointer border-bottom" (click)="filterPanel.close()"><mat-icon
                            class="fs-15px mt-1">clear</mat-icon><span>Close</span></div>

                </div>
            </div>

            <hr>

            <div>
                <div class="d-flex justify-content-between">
                    <mat-label class="fw-bold">Sub Categories</mat-label>
                    <mat-label *ngIf="categoryFilterList!.length > 10"
                        class="fs-10px text-secondary border-bottom cursorPointer"
                        (click)="showAllFilterCategories = !showAllFilterCategories">{{showAllFilterCategories
                        ? 'Show Less' : 'Show all'}}</mat-label>
                </div>


                <div class="d-flex flex-wrap" *ngIf="!showAllFilterCategories">
                    <div *ngFor="let item of categoryFilterList | filter:''  | slice:0:10">
                        <mat-checkbox [(ngModel)]="item.isChecked"> {{item.recipeCatTitle}}</mat-checkbox>
                    </div>

                </div>
                <div class="d-flex flex-wrap" *ngIf="showAllFilterCategories">

                    <div *ngFor="let item of categoryFilterList ">
                        <mat-checkbox [(ngModel)]="item.isChecked"> {{item.recipeCatTitle}}</mat-checkbox>
                    </div>
                </div>
            </div>

            <hr>

            <div>
                <div class="d-flex justify-content-between">
                    <mat-label class="fw-bold">Cooking Area</mat-label>
                    <mat-label *ngIf="cookingAreaFilterList!.length > 10"
                        class="fs-10px text-secondary border-bottom cursorPointer"
                        (click)="showAllFilterCookingArea = !showAllFilterCookingArea">{{showAllFilterCookingArea
                        ? 'Show Less' : 'Show all'}}</mat-label>
                </div>


                <div class="d-flex flex-wrap" *ngIf="!showAllFilterCookingArea">
                    <div *ngFor="let item of cookingAreaFilterList | filter:''  | slice:0:10">
                        <mat-checkbox [(ngModel)]="item.isChecked"> {{item.cookingAriaTitle}}</mat-checkbox>
                    </div>

                </div>
                <div class="d-flex flex-wrap" *ngIf="showAllFilterCookingArea">

                    <div *ngFor="let item of cookingAreaFilterList ">
                        <mat-checkbox [(ngModel)]="item.isChecked"> {{item.cookingAriaTitle}}</mat-checkbox>
                    </div>
                </div>
            </div>


            <div>
                <mat-label class="fw-bold">Locked Status</mat-label>


                <div class="d-flex flex-wrap">
                    <div *ngFor="let item of tmpLockStatusList">
                        <mat-checkbox [(ngModel)]="item.isChecked"> {{item.title}}</mat-checkbox>
                    </div>
                </div>


            </div>

            <div>
                <mat-label class="fw-bold">Active Status</mat-label>


                <div class="d-flex flex-wrap">
                    <div *ngFor="let item of tmpActiveStatusList">
                        <mat-checkbox [(ngModel)]="item.isChecked"> {{item.title}}</mat-checkbox>
                    </div>
                </div>


            </div>




        </div>



    </mat-sidenav>

    <mat-sidenav-content>

        <mat-tab-group mat-align-tabs="center" class=" body h-100" [selectedIndex]="tabIndex"
            (selectedIndexChange)="changeTab($event)">
            <mat-tab label="ADD / Modify" class="h-100">
                <div class="container-fluid p-1 row">

                    <!-------------     Column 1 Detail Area-->

                    <div class="col-lg-6 pt-2">


                        <div class="row text-center">
                            <div class="col-lg-10 row">
                                <mat-form-field appearance="outline" class="col-lg-12 matSmall">
                                    <mat-label>Recipe Title</mat-label>
                                    <input matInput id="RecipeTitle" [(ngModel)]="recipeTitle" type="text">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                                    <mat-label>Code</mat-label>
                                    <input matInput [(ngModel)]="recipeCode" type="text">
                                </mat-form-field>

                                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                                    <mat-label>Category</mat-label>
                                    <mat-select [(ngModel)]="categoryID">
                                        <mat-option><ngx-mat-select-search #catSearch [placeholderLabel]="'Search...'"
                                                [noEntriesFoundLabel]="'Not found'"
                                                name="search"></ngx-mat-select-search></mat-option>
                                        <mat-option *ngFor="let item of categoriesList |filter:catSearch.value"
                                            [value]="item.recipeCatID">{{item.recipeCatTitle}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                                    <mat-label>Cost Price</mat-label>
                                    <input matInput [(ngModel)]="costPrice" type="text" disabled="true">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                                    <mat-label>Recipe Cost %</mat-label>
                                    <input matInput [(ngModel)]="foodCost" type="text" disabled="true">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                                    <mat-label>Sale Price</mat-label>
                                    <input matInput [(ngModel)]="salePrice"
                                        (keyup)="getTotal();global.handleNumKeys($event)" type="text">
                                </mat-form-field>

                                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                                    <mat-label>Cooking Time</mat-label>
                                    <input matInput [(ngModel)]="cookingTime"
                                        (keydown)="global.handleNumKeys($event)" />
                                </mat-form-field>
                                <mat-form-field class="col-lg-6 matSmall" appearance="outline">
                                    <mat-label>Cooking Area</mat-label>
                                    <mat-select [(ngModel)]="cookingAriaID">
                                        <mat-option><ngx-mat-select-search #arSearch [placeholderLabel]="'Search...'"
                                                [noEntriesFoundLabel]="'Not found'"
                                                name="search"></ngx-mat-select-search></mat-option>
                                        <mat-option *ngFor="let item of cookingAreaList |filter:arSearch.value"
                                            [value]="item.cookingAriaID">{{item.cookingAriaTitle}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-lg-12 matSmall">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput type="text" rows="1" [(ngModel)]="Description"></textarea>
                                </mat-form-field>





                            </div>


                            <div class="avatar-upload col-lg-2   " (click)="this.global.showProductImage(recipeImg,0)">
                                <div class="avatar-edit">
                                    <input type="file" id="prodimg" accept="" #prodimg
                                        (change)="onImgSelected($event)" />
                                    <label for="prodimg"><mat-icon class=" mt-1">edit</mat-icon></label>
                                </div>
                                <div class="avatar-del">
                                    <label (click)="recipeImg = ''"><mat-icon class=" mt-1">delete</mat-icon></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview" accesskey="i"
                                        [ngStyle]="{ 'background-image': 'url(' + recipeImg + ')' }">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-around d-flex">
                            <button #toggleBtn class="btnsave w-25" [disabled]="isProcessing" accesskey="s"
                                (click)="save() " *ngIf="crudList.c && btnType == 'Save'"><u>S</u>ave</button>
                            <button #toggleBtn class="btnsave  w-25" [disabled]="isProcessing" (click)="save() "
                                *ngIf="crudList.u && btnType == 'Update'" accesskey="u"><u>U</u>pdate</button>
                            <button class="btnreset w-25" accesskey="r" (click)="reset()"><u>R</u>eset</button>
                            <mat-checkbox [(ngModel)]="autoEmptyFlag">Auto Empty</mat-checkbox>
                            <button class=" w-25 btnText" *ngIf="isProcessing" id="refresh" accesskey="r"
                                (click)="isProcessing =  false">Refresh</button>

                            <!-- <button *ngIf="crudList.c" class="btn btn-warning w-25 text-white" (click)="MapProdWithCategory()">Map / Unmap Product</button> -->
                        </div>


                    </div>

                    <!-------------     Column 2 Ingedient Detail Area-->
                    <div class="col-lg-6">

                        <div class="ps-1 row ">

                            <div class="col-lg-9  d-flex flex-column">
                                <mat-label class="text-primary">Search Barcode / Product</mat-label>
                                <input type="text" #pbarcode [(ngModel)]="PBarcode"
                                    (keydown)="searchByCode($event);this.changeFocus($event,'.fintProd');"
                                    id="searchProduct" class="p-1 mb-2  searchProduct bg-transparent"
                                    placeholder="Alt + b" autofocus autocomplete="off" accesskey="b">

                                <div class="d-flex flex-column SearchConatiner cursorPointer"
                                    *ngIf="PBarcode != '' && PBarcode != undefined">
                                    <div class="card " *ngFor="let item of productList| filter:PBarcode index as index"
                                        (click)="holdDataFunction(item)">
                                        <button style="height: 40px; background: none;border: none;text-align: left;"
                                            class="prodRow{{index}} prodBtn justify-content-between d-flex"
                                            (keydown)="handleProdFocus(item,$event,'.prodRow','.searchProduct',productList)">
                                            <p>{{item.productTitle}}</p>
                                            <p><strong>({{item.barcode}})</strong></p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 text-center">
                                <button mat-raised-button style="height: 40px;margin-top: 20px;"
                                    class="bg-primary text-white w-50" (click)="ngOnInit()">Load</button>
                            </div>

                        </div>


                        <div class="card"
                            style="min-height: 68vh;max-height: 68vh;overflow-y:auto; background-color: rgba(225, 244, 236, 0.816);">


                            <table class="table table-hover txtsm">
                                <thead>
                                    <tr>
                                        <th>S#</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <!-- <th>Avg Cost</th> -->
                                        <th>Cost</th>

                                        <!-- <th>Avg Cost Total</th> -->
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of menuProdList index as index" (click)="showImg(item)">
                                        <td>{{index+1}}</td>
                                        <td>{{item.productTitle}}</td>
                                        <td class="text-center"><input type="text" [(ngModel)]="item.quantity" min="0"
                                                (keydown)="this.handleNumKeys(item,$event,'.qty',index);getTotal();changeValue(item);"
                                                (keyup)="changeValue(item);getTotal();showImg(item);"
                                                (click)="rowFocused = index" class="qty{{index}} text-center"
                                                style="width: 80px;"></td>

                                        <td>{{item.avgCostPrice | number:'1.0-2'}}</td>
                                        <!-- <td>{{item.costPrice | number:'1.0-2'}}</td> -->


                                        <!-- <td class="text-center">{{item.costPrice * item.quantity |number:'1.0-2'}}</td> -->
                                        <td class="text-center">{{item.avgCostPrice * item.quantity |number:'1.0-2'}}
                                        </td>

                                        <td class="cursorPointer"><mat-icon (click)="delRow(item)">delete</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <th class="text-center">{{totalQty|number:'1.0-2'}}</th>
                                        <th colspan="1"></th>
                                        <!-- <th class="text-center">{{costTotal|number:'1.0-2'}}</th> -->
                                        <th class="text-center">{{avgCostTotal|number:'1.0-2'}}</th>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
            </mat-tab>


            <mat-tab label="Saved Record" class="h-100">
                <div class="container-fluid p-2" style="background-color: rgb(248, 253, 253);overflow-x: hidden ;">


                    <div class="row">
                        <mat-form-field class="col-md-10 matSmall" appearance="outline">
                            <mat-label>Search.....</mat-label>
                            <input #recipeSearch matInput [(ngModel)]="searchRecipe"
                                (keydown)="onProdSearchKeyup($event,searchRecipe)"
                                (keypress)="onProdSearchKeyup($event,searchRecipe)" type="search"
                                class="text-secondary">
                        </mat-form-field>

                        <!-- <mat-form-field class="col-lg-2 matSmall" appearance="outline">
                            <mat-label>Category</mat-label>
                            <mat-select [(ngModel)]="filterCategoryID" (selectionChange)="filterRecipe('cat')">
                                <mat-option><ngx-mat-select-search #filtCatSearch [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'"
                                        name="search"></ngx-mat-select-search></mat-option>
                                <mat-option [value]="0">All</mat-option>
                                <mat-option *ngFor="let item of categoriesList |filter:filtCatSearch.value"
                                    [value]="item.recipeCatID">{{item.recipeCatTitle}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <!-- <mat-form-field class="col-lg-2 matSmall" appearance="outline">
                            <mat-label>Cooking Area</mat-label>
                            <mat-select [(ngModel)]="filterCookingAreaID" (selectionChange)="filterRecipe('ca')">
                                <mat-option><ngx-mat-select-search #filtArSearch [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'"
                                        name="search"></ngx-mat-select-search></mat-option>
                                <mat-option [value]="0">All</mat-option>
                                <mat-option *ngFor="let item of cookingAreaList |filter:filtArSearch.value"
                                    [value]="item.cookingAriaID">{{item.cookingAriaTitle}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <!-- <mat-form-field class="col-lg-1 matSmall" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="filterStatus" (selectionChange)="filterRecipe('status')">
                                <mat-option [value]="0">All</mat-option>
                                <mat-option [value]="true">Locked</mat-option>
                                <mat-option [value]="false">Unlocked</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <!-- <mat-form-field class="col-lg-1 matSmall" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="filterActiveStatus"
                                (selectionChange)="filterRecipe('activeStatus')">
                                <mat-option [value]="0">All</mat-option>
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div class="col-lg-1">
                            <button style="height: 40px;" class="btn-rpt-primary  w-100"
                                (click)="global.printData('#printTable')">Print</button>
                        </div>
                        <div class="col-lg-1">
                            <button style="height: 40px;" class="btn-rpt-export w-100"
                                (click)="filterPanel.toggle()">Filter</button>
                        </div>


                    </div>

                    <div id="printTable">
                        <table class="table txtsm">
                            <thead>
                                <tr>
                                    <th>S#</th>
                                    <th (click)="sortData('title')" class="cursorPointer">Title</th>
                                    <th>Code</th>
                                    <th>Type</th>
                                    <th>Time</th>
                                    <th>Cost</th>
                                    <th>Food Cost</th>
                                    <!-- <th>Cur Cost</th> -->
                                    <!-- <th>Cur Cost Other</th> -->
                                    <th>Sale</th>
                                    <th>Category</th>
                                    <th>Cooking Area</th>
                                    <th class="hide-in-print">Retrieve</th>
                                    <th class="hide-in-print">Other</th>
                                    <!-- <th class="hide-in-print">Edit</th>
                                <th class="hide-in-print">Lock Status</th>
                                <th class="hide-in-print">Status</th>
                                
                                <th class="hide-in-print">Detail</th>
                                <th class="hide-in-print">Img</th>
                                <th class="hide-in-print">Delete</th> -->
                                    <th class="hide-in-print text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="curFocusRow == index ? 'bg-dark-light' : ''" [id]="'rcp-'+index"
                                    (click)="curFocusRow = index" *ngFor="let item of RecipeList |filter:searchRecipe |paginate:{
                        itemsPerPage : tableSize,
                        currentPage : page,
                        totalItems :    count,
                    }  ; index as index">
                                    <td>{{index+1}}</td>
                                    <td>{{item.recipeTitle}}</td>
                                    <td>{{item.recipeCode}}</td>
                                    <td>{{item.recipeType}}</td>
                                    <td>{{item.cookingTime}} min</td>
                                    <!-- <td>{{item.recipeCostPrice |number:'1.0-1'}}</td> -->
                                    <td>{{item.recipeCurrentCostPrice |number:'1.0-1'}}</td>
                                    <td>{{(item.recipeCurrentCostPrice / item.recipeSalePrice) * 100 |number:'1.0-1'}}%
                                    </td>
                                    <!-- <td>{{item.OtherRecipeCostPrice |number:'1.0-1'}}</td> -->
                                    <td>{{item.recipeSalePrice |number:'1.0-0'}}</td>
                                    <td>{{item.recipeCatTitle}}</td>
                                    <td>{{item.cookingAriaTitle}}</td>
                                    <td class="cursorPointer hide-in-print"><mat-icon matTooltip="Ingredient Retreive"
                                            (click)="getIngredient(item)">photo_filter</mat-icon>
                                    </td>
                                    <td class="cursorPointer hide-in-print "><mat-icon data-bs-toggle="modal"
                                            matTooltip="Other Recipe" data-bs-target="#otherRecipe" *ngIf="crudList.u"
                                            [ngClass]="item.recipeRefID > 0 ? 'text-warning': 'text-secondary'"
                                            (click)="copyRecipe(item)">save</mat-icon></td>
                                    <td class="cursorPointer hide-in-print text-center">
                                        <mat-icon class="text-success" matTooltip="Edit"
                                            (click)="edit(item)">edit</mat-icon>

                                        <mat-icon matTooltip="Approve" *ngIf="crudList.u"
                                            (click)="approveRecipe(item)">{{item.approvedStatus == true
                                            ? 'lock' :'lock_open'}}</mat-icon>

                                        <mat-icon *ngIf="crudList.u" matTooltip="Active"
                                            [ngClass]="item.activeStatus == false ?'text-danger': 'text-success'"
                                            (click)="activeRecipe(item)">{{item.activeStatus == false ?
                                            'indeterminate_check_box' :'check_box'}}</mat-icon>

                                        <mat-icon class="cursorPointer text-success hide-in-print" matTooltip="Detail"
                                            (click)="getRecipeDetail(item)">receipt</mat-icon>

                                        <mat-icon (click)="getRecipeImage(item.recipeID,'show')"
                                            matTooltip="Image">image</mat-icon>

                                        <mat-icon class="text-danger" *ngIf="crudList.d" matTooltip="Delete"
                                            (click)="delete(item)">delete</mat-icon>
                                    </td>

                                </tr>
                            </tbody>


                        </table>
                    </div>

                </div>








            </mat-tab>
        </mat-tab-group>

    </mat-sidenav-content>

</mat-sidenav-container>





<div class="d-flex" *ngIf="tabIndex == 1"
    style="position: fixed; bottom: 32px !important; width: 100%; background-color: #fff; z-index: 2;">

    <pagination-controls previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>


    <mat-hint class=" me-1 text-secondary">Rows Per Page </mat-hint>
    <select class="text-white" style="height: 25px;background-color: rgb(75, 164, 248);"
        (change)="onTableSizeChange($event)" [(ngModel)]="tableSize">
        <option *ngFor=" let item of tableSizes" [selected]="tableSize == item">{{item}}</option>
    </select>

    <div class="jump-to-page">
        <input type="text" class="w-25" (keydown)="global.handleNumKeys($event)" [(ngModel)]="jumpPage"
            placeholder="Page #" min="1" [max]="count" />
        <button (click)="goToPage()" class="text-white"
            style="height: 25px;background-color: rgb(75, 164, 248);border: 1px solid black;">Go</button>
    </div>

</div>

<!------------------------ Modal Window for Making Other Recipe ------------------>



<div class="modal fade" id="otherRecipe" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="otherRecipeLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" style="z-index: 100000;">
        <div class="modal-content " style="background-color: rgb(248, 247, 247);">
            <div class="modal-body">



                <div class="ps-1 d-flex ">

                    <div class="col-lg-9  d-flex flex-column">
                        <mat-label class="text-primary">Search Barcode / Product</mat-label>
                        <input type="text" #pbarcode [(ngModel)]="PBarcode"
                            (keydown)="searchByCode($event);this.changeFocus($event,'.fintProd');" id="searchProduct"
                            class="p-1 mb-2 searchProduct bg-transparent" placeholder="Alt + s" autofocus
                            autocomplete="off" accesskey="s">

                        <div class="w-100 d-flex flex-column SearchConatiner cursorPointer"
                            *ngIf="PBarcode != '' && PBarcode != undefined">
                            <div class="card " *ngFor="let item of productList| filter:PBarcode index as index"
                                (click)="holdDataFunction(item)">
                                <button
                                    (keydown)="this.global.handleProdFocus(item,$event,'.prodRow','.searchProduct',productList)"
                                    class="prodRow{{index}}"
                                    style="background: none;border: none;text-align: left;">{{item.productTitle}}
                                    (<b>{{item.barcode}}</b> )</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <button mat-raised-button class="bg-primary text-white w-50 btn-rpt"
                            (click)="ngOnInit()">Load</button>
                    </div>

                </div>

                <div class="card"
                    style="max-height: 400px;height: 400px;overflow-y:scroll; background-color: rgba(225, 244, 236, 0.816);">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>S#</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Avg Cost</th>
                                <th>Cost</th>

                                <th>Cost Total</th>
                                <th>Avg Cost Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of menuProdList index as index" (click)="showImg(item)">
                                <td>{{index+1}}</td>
                                <td>{{item.productTitle}}</td>
                                <td class="text-center"><input type="text" [disabled]="item.lockedStatus"
                                        [(ngModel)]="item.quantity" min="0"
                                        (keydown)="this.handleNumKeys(item,$event,'.qty',index);getTotal();changeValue(item);"
                                        (keyup)="changeValue(item);getTotal();showImg(item);"
                                        (click)="rowFocused = index" class="qty{{index}} text-center"
                                        style="width: 80px;"></td>

                                <td>{{item.avgCostPrice | number:'1.0-2'}}</td>
                                <td>{{item.costPrice | number:'1.0-2'}}</td>

                                <td class="text-center">{{item.costPrice * item.quantity |number:'1.0-2'}}</td>
                                <td class="text-center">{{item.avgCostPrice * item.quantity |number:'1.0-2'}}</td>

                                <td class="cursorPointer"><mat-icon *ngIf="!item.lockedStatus"
                                        (click)="delRow(item)">delete</mat-icon></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <th class="text-center">{{totalQty|number:'1.0-2'}}</th>
                                <th colspan="2"></th>
                                <th class="text-center">{{costTotal|number:'1.0-2'}}</th>
                                <th class="text-center">{{avgCostTotal|number:'1.0-2'}}</th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="modal-footer bg-mf">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="save()">{{btnType}}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">Close</button>
            </div>
        </div>



    </div>
</div>