<div class="body h-100">
    
    <mat-tab-group mat-align-tabs="center" class="h-100"  [selectedIndex]="tabIndex"
        (selectedIndexChange)="changeTab($event)">
        <mat-tab label="ADD / Modify" class="h-100">
            <div class="container-fluid p-1 row">

                <!-------------     Column 1 Detail Area-->

                <div class="col-lg-6 pt-2" >


                    <div class="row text-center">
                        <div class="col-lg-9 row">
                            <mat-form-field appearance="outline" class="col-lg-6">
                                <mat-label>Recipe Title</mat-label>
                                <input matInput [(ngModel)]="recipeTitle" type="text">
                            </mat-form-field>

                            <mat-form-field class="col-lg-6" appearance="outline">
                                <mat-label>Category</mat-label>
                                <mat-select [(ngModel)]="categoryID">
                                    <mat-option><ngx-mat-select-search #catSearch [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
                                    <mat-option *ngFor="let item of categoriesList |filter:catSearch.value" [value]="item.recipeCatID">{{item.recipeCatTitle}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-lg-6">
                                <mat-label>Cost Price</mat-label>
                                <input matInput [(ngModel)]="costPrice" type="text" disabled="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-lg-6 ">
                                <mat-label>Sale Price</mat-label>
                                <input matInput [(ngModel)]="salePrice" type="text">
                            </mat-form-field>


                    


                        </div>

                        <div class="avatar-upload ps-2 col-lg-3   " (click)="this.global.showProductImage(recipeImg,0)">
                            <div class="avatar-edit" >
                                <input type="file" id="prodimg" accept="" #prodimg (change)="onImgSelected($event)" />
                                <label for="prodimg"><mat-icon class=" mt-1">edit</mat-icon></label>
                            </div>
                            <div class="avatar-del">
                                <label (click)="recipeImg = ''"><mat-icon class=" mt-1">delete</mat-icon></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" accesskey="i" [ngStyle]="{ 'background-image': 'url(' + recipeImg + ')' }">
                                </div>
                            </div>
                        </div>


                    </div>

            
                    <div class="row">
                        <mat-form-field class="col-lg-3" appearance="outline">
                            <mat-label>Cooking Time</mat-label>
                        <input matInput [(ngModel)]="cookingTime" />
                        </mat-form-field>
                        <mat-form-field class="col-lg-3 " appearance="outline">
                            <mat-label>Cooking Area</mat-label>
                            <mat-select [(ngModel)]="cookingAriaID">
                                <mat-option><ngx-mat-select-search #arSearch [placeholderLabel]="'Search...'"
                                    [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let item of cookingAreaList |filter:arSearch.value" [value]="item.cookingAriaID">{{item.cookingAriaTitle}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-lg-5">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="text" rows="1" [(ngModel)]="Description"></textarea>
                        </mat-form-field>

                    </div>
                  

                    <div class="justify-content-between d-flex">
                        <button #toggleBtn class="btn btn-success w-25" accesskey="s" (click)="save() "
                            *ngIf="crudList.c && btnType == 'Save'"> <u>S</u>{{btnType |slice:1}}</button>
                        <button #toggleBtn class="btn btn-success  w-25" accesskey="s" (click)="save() "
                            *ngIf="crudList.u && btnType == 'Update'">{{btnType}}</button>
                        <button class="btn btn-danger w-25" accesskey="r" (click)="reset()"><u>R</u>eset</button>

                        <button *ngIf="crudList.c" class="btn btn-warning w-25 text-white" (click)="MapProdWithCategory()">Map / Unmap Product</button>
                    </div>


                </div>

                <!-------------     Column 2 Ingedient Detail Area-->
                <div class="col-lg-6" >

                    <div class="ps-1 row ">

                        <div class="col-lg-9  d-flex flex-column">
                            <mat-label class="text-primary">Search Barcode / Product</mat-label>
                            <input type="text" #pbarcode [(ngModel)]="PBarcode"
                                
                                (keydown)="searchByCode($event);this.changeFocus($event,'.fintProd');" id="searchProduct"
                                class="p-1 mb-2 searchProduct bg-transparent" placeholder="Alt + s" autofocus autocomplete="off"
                                accesskey="s">

                            <div class="col-lg-5 d-flex flex-column SearchConatiner cursorPointer"
                                *ngIf="PBarcode != '' && PBarcode != undefined">
                                <div class="card " *ngFor="let item of productList| filter:PBarcode index as index"
                                    (click)="holdDataFunction(item)">
                                    <button style="height: 40px; background: none;border: none;text-align: left;" class="prodRow{{index}} prodBtn justify-content-between d-flex" 
                                    (keydown)="handleProdFocus(item,$event,'.prodRow','.searchProduct',productList)"><p>{{item.productTitle}}</p>
                                        <p><strong>({{item.barcode}})</strong></p> </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <button mat-raised-button class="bg-primary text-white w-50 btn-rpt"
                                (click)="ngOnInit()">Load</button>
                        </div>

                    </div>


                    <div class="card"  style="min-height: 68vh;max-height: 68vh;overflow-y:scroll; background-color: rgba(225, 244, 236, 0.816);">


                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>S#</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Avg Cost</th>
                                    <th>Cost</th>
                                    <th>Avg Cost Total</th>
                                    <th>Cost Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of menuProdList index as index" (click)="showImg(item)">
                                    <td>{{index+1}}</td>
                                    <td >{{item.productTitle}}</td>
                                    <td class="text-center"><input type="text" [(ngModel)]="item.quantity" min="0"
                                            (keydown)="this.handleNumKeys(item,$event,'.qty',index);getTotal();changeValue(item);"
                                            (keyup)="changeValue(item);getTotal();showImg(item);"
                                            (click)="rowFocused = index"
                                            class="qty{{index}} text-center" style="width: 80px;"></td>

                                    <td>{{item.avgCostPrice | number:'1.0-2'}}</td>
                                    <td>{{item.costPrice | number:'1.0-2'}}</td>

                                    <td class="text-center">{{item.costPrice * item.quantity |number:'1.0-2'}}</td>
                                    <td class="text-center">{{item.avgCostPrice * item.quantity |number:'1.0-2'}}</td>
                                    
                                    <td class="cursorPointer"><mat-icon (click)="delRow(item)">delete</mat-icon></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <th class="text-center">{{totalQty|number:'1.0-2'}}</th>
                                    <th colspan="2"></th>
                                    <th class="text-center">{{costTotal|number:'1.0-2'}}</th>
                                    <th class="text-center">{{avgCostTotal|number:'1.0-2'}}</th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>


            </div>
        </mat-tab>


        <mat-tab label="Saved Record" class="h-100">
            <div class=" border-start h-100 p-2 min-600" style="background-color: rgb(248, 253, 253);">


                <mat-form-field class="col-lg-12" appearance="outline">
                    <mat-label class="ps-5">Search.....</mat-label>
                    <input #recipeSearch matInput type="search" class="text-secondary">
                    <mat-icon matPrefix class="text-secondary">search</mat-icon>
                </mat-form-field>

                <table class="table">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Time</th>
                            <th>Cost</th>
                            <th>Sale</th>
                            <th>Category</th>
                            <th>Edit</th>
                            <th>Lock Status</th>
                            <th>Status</th>
                            <th>Retrieve</th>
                            <th>Copy</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of RecipeList |filter:recipeSearch.value index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.recipeTitle}}</td>
                            <td>{{item.recipeType}}</td>
                            <td>{{item.cookingTime}}</td>
                            <td>{{item.recipeCostPrice |number:'1.0-0'}}</td>
                            <td>{{item.recipeSalePrice |number:'1.0-0'}}</td>
                            <td>{{item.recipeCatTitle}}</td>
                            <td class="cursorPointer"><mat-icon class="text-success"
                                    (click)="edit(item)">edit</mat-icon></td>
                            <td ><mat-icon *ngIf="crudList.u" (click)="approveRecipe(item)">{{item.approvedStatus == true ? 'lock' :'lock_open'}}</mat-icon></td>
                            <td class="cursorPointer"><mat-icon *ngIf="crudList.u" [ngClass]="item.activeStatus == false ?'text-danger': 'text-success'" (click)="activeRecipe(item)" >{{item.activeStatus == false ? 'indeterminate_check_box' :'check_box'}}</mat-icon></td>
                            <td  class="cursorPointer"><mat-icon  (click)="getIngredient(item)">photo_filter</mat-icon></td>
                            <td class="cursorPointer "><mat-icon data-bs-toggle="modal" data-bs-target="#otherRecipe" *ngIf="crudList.u" (click)="copyRecipe(item)">save</mat-icon></td>
                            <td class="cursorPointer"><mat-icon class="text-danger" *ngIf="crudList.d" (click)="delete(item)">delete</mat-icon></td>

                        </tr>
                    </tbody>


                </table>

            </div>




 



        </mat-tab>
    </mat-tab-group>


    
            <!------------------------ Modal Window for Making Other Recipe ------------------>

            

            <div class="modal fade" id="otherRecipe" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="otherRecipeLabel">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" style="z-index: 100000;">
                <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                    <div class="modal-body">
    
                   
    
                            <div class="ps-1 d-flex ">
        
                                <div class="col-lg-9  d-flex flex-column">
                                    <mat-label class="text-primary">Search Barcode / Product</mat-label>
                                    <input type="text" #pbarcode [(ngModel)]="PBarcode"
                                        
                                        (keydown)="searchByCode($event);this.changeFocus($event,'.fintProd');" id="searchProduct"
                                        class="p-1 mb-2 searchProduct bg-transparent" placeholder="Alt + s" autofocus autocomplete="off"
                                        accesskey="s">
        
                                    <div class="w-100 d-flex flex-column SearchConatiner cursorPointer"
                                        *ngIf="PBarcode != '' && PBarcode != undefined">
                                        <div class="card " *ngFor="let item of productList| filter:PBarcode index as index"
                                            (click)="holdDataFunction(item)">
                                            <button (keydown)="this.global.handleProdFocus(item,$event,'.prodRow','.searchProduct',productList)"
                                             class="prodRow{{index}}"   style="background: none;border: none;text-align: left;">{{item.productTitle}}
                                                (<b>{{item.barcode}}</b> )</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <button mat-raised-button class="bg-primary text-white w-50 btn-rpt"
                                        (click)="ngOnInit()">Load</button>
                                </div>
        
                            </div>
        
                            <div class="card"
                                style="max-height: 400px;height: 400px;overflow-y:scroll; background-color: rgba(225, 244, 236, 0.816);">
        
        
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>S#</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Avg Cost</th>
                                            <th>Cost</th>
                                     
                                            <th>Cost Total</th>
                                            <th>Avg Cost Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of menuProdList index as index" (click)="showImg(item)">
                                            <td>{{index+1}}</td>
                                            <td >{{item.productTitle}}</td>
                                            <td class="text-center"><input type="text" [disabled]="item.lockedStatus" [(ngModel)]="item.quantity" min="0"
                                                    (keydown)="this.handleNumKeys(item,$event,'.qty',index);getTotal();changeValue(item);"
                                                    (keyup)="changeValue(item);getTotal();showImg(item);"
                                                    (click)="rowFocused = index"
                                                    class="qty{{index}} text-center" style="width: 80px;"></td>
        
                                            <td>{{item.avgCostPrice | number:'1.0-2'}}</td>
                                            <td>{{item.costPrice | number:'1.0-2'}}</td>
        
                                            <td class="text-center">{{item.costPrice * item.quantity |number:'1.0-2'}}</td>
                                            <td class="text-center">{{item.avgCostPrice * item.quantity |number:'1.0-2'}}</td>
                                            
                                            <td class="cursorPointer" ><mat-icon   (click)="delRow(item)">delete</mat-icon></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <th class="text-center">{{totalQty|number:'1.0-2'}}</th>
                                            <th colspan="2"></th>
                                            <th class="text-center">{{costTotal|number:'1.0-2'}}</th>
                                            <th class="text-center">{{avgCostTotal|number:'1.0-2'}}</th>
                                            <th></th>
                                        </tr>
                                    </tbody>
                                </table>
        
        
                            </div>
                        </div>
                        <div class="modal-footer bg-mf">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="save()">{{btnType}}</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">Close</button>
                        </div>
                    </div>
                    
                 
    
                </div>
            </div>
</div>
    
