<div class="body justify-content-center ">


    <div class="justify-content-around d-flex  w-100 fw-bold">
        <button mat-raised-button style="width: 200px; height: 200px;background-color: rgb(196, 255, 198);" data-bs-toggle="modal" data-bs-target="#doc" (click)="Type = 'Day Open'"><strong>Day Open</strong></button>
        <button mat-raised-button style="width: 200px; height: 200px;background-color: rgb(255, 206, 196);" data-bs-toggle="modal" data-bs-target="#doc" (click)="Type = 'Day Close'"><strong>Day Close</strong></button>
    </div>

<!-- 
    <div class="container">
        <div class="days" style="position: absolute; left: 0; width: 100vw; display: flex; justify-content: space-evenly;">
          <h1 class="in">DAY <br>&nbsp; IN</h1>
          <h1 class="out">DAY <br> OUT</h1>
        </div>
            <div class="circle">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>  
            <div class="circle">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
 -->





    <div class="modal fade" id="doc" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="docLabel">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                <div class="modal-body">
                        <div class="text-center">
                            <h1>{{Type}}</h1>
                        </div>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Date</mat-label>
                        <input [(ngModel)]="date" disabled="true" readonly="true" matInput type="text" name="voucherDate"
                            [matDatepicker]="voucherDate">
                        <mat-datepicker-toggle matSuffix [for]="voucherDate"></mat-datepicker-toggle>
                        <mat-datepicker #voucherDate></mat-datepicker>
                    </mat-form-field>

                </div>

                <div class="modal-footer bg-mf-blue">
                    <button class="bg-success text-white" mat-raised-button data-bs-dismiss="modal" (click)="save()">Save</button>
                    <button type="button" class="bg-secondary text-white"  mat-raised-button  data-bs-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>


</div>
