::ng-deep .cdk-overlay-container{
    z-index:2000;
  }




  
  *{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }

    /* circles start */

    .circle{
      position: relative;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      animation: animate 4s linear infinite;
    }
    
    @keyframes animate{
      from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);
      }
    }
    
    .circle:after{
      content: '';
      position: absolute;
      top: 18px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
    }

    .circle span{
      position: absolute;
      width: 120px;
      height: 120px;
      background: linear-gradient(#000000 , #ff9d00);
      border-radius: 50%;
    }  

    /* circles end*/

  .container{
     display: flex;
     height: 100vh;
     justify-content: space-evenly;
     align-items: center;
     /* position: relative; */
  }
  .days{
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    position: relative;
    right: 200px;
  }
  .in{
    position: relative;
    right: 56px;
  }  
  .out{
    position: relative;
    left: 70px;
  }

  @media screen and (max-width: 1003px) {
  .container {
  display: flex;
  flex-direction: column !important;
  }
  .circle{
    height: 300px;
    width: 300px;
  }
  .days{
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }
  .in , .out{
    font-size: 40px;
  }
  .in{
    position: relative;
    left: 1px;
    bottom: 24px;
  }  
  .out{
    position: relative;
    left: 1px;
    top: 24px;
  }
}