<div class="container-fluid h-100 body "  >
    <div class="box">
        <span class="borderline"></span>
    
        <form class="shadow">
                

                <div class="text-center" *ngIf="companyProfile[0].companyLogo1 && companyProfile != ''">
                    <img  [src]="companyProfile[0].companyLogo1" height="80" width="80" alt="" srcset="">
                </div>
                <h1 class="text-center text-dark">SIGN-IN</h1>
            

                    <div class="input-field1 mb-2">
                        <input required="" type="text" name="UserId"   [(ngModel)]="userEmail" class="float1 w-100" autofocus>
                        <label>
                            <span style="transition-delay:350ms">U</span>
                            <span style="transition-delay:300ms">s</span>
                            <span style="transition-delay:250ms">e</span>
                            <span style="transition-delay:200ms">r</span>
                            <span style="transition-delay:150ms">n</span>
                            <span style="transition-delay:100ms">a</span>
                            <span style="transition-delay:50ms">m</span>
                            <span style="transition-delay:0ms">e</span>
                        </label>
                        </div>
             

                    <div class="input-field1">
                        <input required="" type="password" name="pwd"   [(ngModel)]="userPassword" class="float1 w-100" autofocus>
                        <label >
                            <span style="transition-delay:350ms">P</span>
                            <span style="transition-delay:300ms">a</span>
                            <span style="transition-delay:250ms">s</span>
                            <span style="transition-delay:200ms">s</span>
                            <span style="transition-delay:150ms">w</span>
                            <span style="transition-delay:100ms">o</span>
                            <span style="transition-delay:50ms">r</span>
                            <span style="transition-delay:0ms">d</span>
                        </label>
               
                </div>
                <div class="text-center">
                    <button (click)="login()" class="btn btn-success">Log in</button>
                </div>
               <hr class="mt-4 ">
                <div class="text-center d-flex mt-1 logix " >
                    <span class="text-muted me-2 pe-2 fw-bold border-end">
                        <p class="mt-2">Software By:</p> </span>
                    <!-- <span class="fw-bold text-muted">Logix Solutionz</span> -->
                   
                    <span>
                        <img src="../../../../assets/Images/logo-logix.png" height="30" width="120"  >
                    </span>
                    
                   
                </div>
                
    </form>
    
    </div>
</div>
