*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.body {
    display: flex;
    justify-content: end;
    align-items: center;
    // min-height: 100vh;
    background-size:100%;
     background-image: url(../../assets/Images/bckgrnd.jpg);
   
     
    
     
  
    background-position:bottom;
    
    background-repeat:no-repeat;
    background-size:cover ;
    
    
  
}

.box {
    position: absolute;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    overflow:hidden;
    margin-right: 5%;
    box-shadow: 0px 10px 30px 0px rgba(253, 251, 251, 0.1);
}


.borderline
{
    position: absolute;
    top: 0;
    inset: 0;
}

 .borderline::before
{
    content: '';
    position: relative;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 450px;
    background: linear-gradient(0deg,transparent, transparent, #1a3e19, #3b7337,#0c0c0c);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 5s reverse infinite;  
 
}

.borderline::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 450px;
    background: linear-gradient(0deg,transparent, transparent, #080808, #030303,#0e0d0d);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 5s reverse infinite;  
    
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}



.box form{
    position: absolute;
    inset: 4px;
    background-color: rgb(255, 255, 255);
    padding:20px;
    border-radius: 8px; 
    z-index: 2;
   
}




button {
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 10px 10px 30px 0px rgba(58, 58, 58, 0.1);
}




.input-width {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .input-full-width {
    width: 100%;
  }


  .logix{
    // background-color: rgb(216, 218, 223);
    height: 40px;
    padding-top: 10px;
    border-radius: 25px;
  }



  
   
@media only screen and (max-width:1000px){
   
    .body{
        justify-content: center !important;
    }
}
 

////////////////////////////////// INput Design for inpur filed user name and pwd

.input-field1 {
    position: relative;
    margin: 20px 0 40px;
    /* width: 190px; */
  }
  
  .input-field1 .float1 {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #333 solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #333;
  }
  
  .input-field1 .float1:focus,
  .input-field1 .float1:valid {
    outline: 0;
    border-bottom-color: #333;
  }
  
  .input-field1 label {
    
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .input-field1 label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #333;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .input-field1 .float1:focus+label span,
  .input-field1 .float1:valid+label span {
    color: rgb(140, 215, 225);
    transform: translateY(-30px);
  }