<!-------------------Bill Print Without GST -------------->

<div id="printRestBill" *ngIf="!gstFeature">
    <div class="text-center d-flex flex-column">
        <span *ngIf="showCmpNameFeature" style="font-family:Arial, Helvetica, sans-serif">{{companyName}}</span>
        <span *ngIf="companyAddress != '-'"  class="fs-12 text-uppercase">{{companyAddress}}</span>
        <span *ngIf="CompanyMobile != '-'"  class="fs-12">{{CompanyMobile}}</span>
        <div *ngIf="showCompanyLogo" class="justify-content-center">
            <img  [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
        </div>

        <h2 *ngIf="showOrderNo" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ORDER NO: {{myOrderNo}}</h2>

    </div>


    <div class="p-1">
        <div>
            <table class="w-100 fs-12">

                <tr>
                    <th>Inv #</th>
                    <td>{{myInvoiceNo}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{myInvDate | date:'dd-MM-yyyy '}} ({{myInvTime|date:'hh:mm:ss:a'}})</td>
                </tr>
                <tr>
                    <th>Cashier</th>
                    <td>{{myCounterName}}</td>
                </tr>
                <tr *ngIf="customerFeature && myPartyName">
                    <th>Customer</th>
                    <td>{{myPartyName}}</td>
                </tr>
                <tr>
                    <th>Table</th>
                    <td>{{mytableNo}}</td>
                </tr>
                <tr *ngIf="waiterFeature">
                    <th>Waiter</th>
                    <td>{{myBookerName}}</td>
                </tr>
                <tr>
                    <th>Remarks:-</th>
                    <td>{{myRemarks}}</td>
                </tr>

            </table>


        </div>
        <h2 *ngIf="myPaymentType !== 'Complimentary' && myInvType == 'S'" class="w-100 text-center border border-dark">PAID</h2>
        <h2 *ngIf="myPaymentType == 'Complimentary'" class="w-100 text-center">Complimentary</h2>
        <h2 *ngIf="myDuplicateFlag == true" class=" w-100 text-center">Duplicate</h2>

        <div>
            <table class="w-100 table-restaurant-sale">
                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Item Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of myPrintData index as index">
                        <td>{{index +1}}</td>
                        <td>{{item.productTitle}}</td>
                        <td>{{item.quantity |number:'1.0-2'}}</td>
                        <td>{{item.salePrice |number:'1.0-2'}}</td>
                        <td>{{item.quantity * item.salePrice |number:'1.0-2'}}</td>

                    </tr>
                </tbody>
            </table>



            <table class="w-100 mt-2 fs-12" >
                <tbody class="fw-bold">
                     <tr class="text-center " *ngIf="myInvType == 'S'">

                        <td width="40%" rowspan="7" style="font-size: 10px;">
                            <img [src]="global.thankyouImage" height="70" width="70" /><br />
                            FOR VISITING US.
                        </td>
                    </tr>
                    <tr>
                        <td>Sub Total</td>
                        <td class="text-end">&nbsp;{{mySubTotal |number:'1.0-0'}}</td>
                        <td></td>

                    </tr>
                    <tr *ngIf="myOtherCharges > 0">
                        <td *ngIf="myOrderType == 'Dine In'">Service Charges</td>
                        <td *ngIf="myOrderType == 'Home Delivery'">Delivery Charges</td>
                        <td *ngIf="myOrderType == 'Take Away'">Other Charges</td>
                        <td class="text-end">&nbsp;{{myOtherCharges|number:'1.0-0'}}</td>
                        <td></td>

                    </tr>
                    <tr *ngIf="myDiscount > 0">
                        <td>Discount</td>
                        <td class="text-end">&nbsp;{{myDiscount|number:'1.0-0'}}</td>
                        <td></td>

                    </tr>

                    <tr>
                        <td>Net Total</td>
                        <td class="text-end">&nbsp;{{mySubTotal + myOtherCharges - myDiscount|number:'1.0-0'}}</td>
                        <td></td>

                    </tr>
                    <tr *ngIf="(myPaymentType == 'Cash' || myPaymentType == 'Split' || myPaymentType == 'Credit') && myCash > 0">
                        <td>Cash</td>
                        <td class="text-end">&nbsp;{{myCash|number:'1.0-0'}}</td>
                        <td></td>

                    </tr>
                    <tr *ngIf="(myPaymentType == 'Bank' || myPaymentType == 'Split' || myPaymentType == 'Credit') && myBank > 0  ">
                        <td>Bank</td>
                        <td class="text-end">&nbsp;{{myBank|number:'1.0-0'}}</td>
                        <td></td>

                    </tr>
                    <tr *ngIf="myChange !== 0">
                        <td>Change</td>
                        <td class="text-end">{{myChange|number:'1.0-0'}}</td>
                        <td></td>

                    </tr>

                    <tr  *ngIf="myPartyBalance !== 0" >
                        <td class="fw-bold">prv Blnc</td>
                        <td class="fw-bold text-end" *ngIf="myChange > 0">&nbsp;{{myPartyBalance | number:'1.0-1'}}</td>
                        <td class="fw-bold text-end"*ngIf="myChange <= 0">&nbsp;{{myPartyBalance -  ( -1 * myChange) | number:'1.0-1'}}</td>
                        <td></td>
                    </tr>
                    <tr  *ngIf="myPartyBalance !== 0">
                        <td class="fw-bold">Net Blnc</td>
                        <td class="fw-bold text-end">&nbsp;{{myPartyBalance | number:'1.0-1'}}</td>
                        <td></td>

                    </tr>


                </tbody>
            </table>

        </div>
        <br>
        <div style="border-top:1px dotted;" class="fs-12">
            <span >Wish To Serve You Again!</span>
        </div>
    </div>

</div>




<!--------------    Print For 5% and 16% Gst        ----------->

<div id="printGSTRestBill"  *ngIf="gstFeature">
    <div class=" d-flex flex-column text-center" *ngIf="type != 'hold'">
        <span *ngIf="showCmpNameFeature" style="font-family:Arial, Helvetica, sans-serif">{{companyName}}</span>
        <span *ngIf="companyAddress != '-'"  class="fs-11 text-uppercase">{{companyAddress}}</span>
        <span *ngIf="CompanyMobile != '-'"  class="fs-11">{{CompanyMobile}}</span>
    
        <span *ngIf="gstFeature && CompanyNTN != '-'" class="fs-11"><b>PNTN:</b>{{CompanyNTN}} </span>
        <span *ngIf="gstFeature && CompanySTRN != '-'" class="fs-11"><b>STRN:</b> {{CompanySTRN}}</span>
    
        <span class="w-100 text-center"><img [src]="companyLogo" [height]="logoHeight" [width]="logoWidth"></span>

        <h2 *ngIf="showOrderNo" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ORDER NO: {{myOrderNo}}</h2>

    </div>

    <div class="text-center d-flex flex-column" *ngIf="type == 'hold'">
        <span><u>{{myOrderType}}</u></span>
        <span>T.KOT</span>
    </div>


    <div class="p-1">
        <div>
            <table class="w-100" style="font-size: 10px;">

                <tr>
                    <th>Inv #</th>
                    <td>{{myInvoiceNo}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{myInvDate | date:'dd-MM-yyyy '}} ({{myInvTime|date:'hh:mm:ss:a'}})</td>
                </tr>
                <tr>
                    <th>Punched By</th>
                    <td>{{myCounterName}}</td>
                </tr>
                <tr *ngIf="waiterFeature">
                    <th>Waiter</th>
                    <td>{{myBookerName}}</td>
                </tr>
                <tr>
                    <th>Table</th>
                    <td>{{mytableNo}}</td>
                </tr>
                <tr *ngIf="myFbrInvoiceNo">
                    <th>Tax Inv#</th>
                    <td>{{myFbrInvoiceNo}}</td>
                </tr>
                <tr>
                    <th>Remarks:-</th>
                    <td>{{myRemarks}}</td>
                </tr>

            </table>


        </div>

        <h2 *ngIf="myPaymentType == 'Complimentary'" class="w-100 text-center">Complimentary</h2>
        <h2 *ngIf="myDuplicateFlag == true" class=" w-100 text-center">Duplicate</h2>

        <div>
            <table class="w-100 table-restaurant-sale">
                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Item Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of myPrintData index as index">
                        <td>{{index +1}}</td>
                        <td>{{item.productTitle}}</td>
                        <td>{{item.quantity |number:'1.0-2'}}</td>
                        <td>{{item.salePrice |number:'1.0-2'}}</td>
                        <td>{{item.quantity * item.salePrice |number:'1.0-2'}}</td>

                    </tr>
                </tbody>
            </table>



            <table class="w-100 mt-2 " style="font-size: 10px;">
                <tbody class="fw-bold">
                    <tr class="text-center" *ngIf="gstFeature" >
                        <td id="output" class="d-none"></td>
                        <td id="qrCode" class="qr-code-generator" width="40%" rowspan="6" style="border: 0px solid black;"></td>
                    
                    </tr>
                    <tr>
                        <td>Sub Total</td>
                        <td>{{mySubTotal - myGstAmount |number:'1.0-0'}}</td>

                    </tr>
                    <tr *ngIf="myOtherCharges > 0">
                        <td *ngIf="myOrderType == 'Dine In'">Service Charges</td>
                        <td *ngIf="myOrderType == 'Home Delivery'">Delivery Charges</td>
                        <td *ngIf="myOrderType == 'Take Away'">Other Charges</td>
                        <td>{{myOtherCharges|number:'1.0-0'}}</td>

                    </tr>
                    <tr *ngIf="myDiscount > 0">
                        <td>Discount</td>
                        <td>{{myDiscount|number:'1.0-0'}}</td>

                    </tr>
                    <tr *ngIf="myGstValue > 0">
                        <td>Sales Tax ({{myGstValue}}%)</td>
                        <td>{{myGstAmount|number:'1.0-0'}}</td>

                    </tr>

                    <tr>
                        <td>Net Total</td>
                        <td>{{mySubTotal + myOtherCharges + myGst - myDiscount|number:'1.0-0'}}</td>

                    </tr>
                    <tr *ngIf="myPaymentType == 'Cash' || myPaymentType == 'Split' ">
                        <td>Cash</td>
                        <td>{{myCash|number:'1.0-0'}}</td>

                    </tr>
                    <tr *ngIf="myPaymentType == 'Bank' || myPaymentType == 'Split' ">
                        <td>Bank</td>
                        <td>{{myBank|number:'1.0-0'}}</td>

                    </tr>
                    <tr *ngIf="myChange > 0">
                        <td>Change</td>
                        <td>{{myChange|number:'1.0-0'}}</td>

                    </tr>

                </tbody>
            </table>


            <div class="mt-3" *ngIf="type == 'hold'">

                <table class=" table-restaurant-sale">
                    <tr>
                        <th colspan="2">Tax For Card customer</th>
                        <th colspan="2">Tax For Cash customer</th>
                    </tr>

                    <tr>
                        <td>Amnt W/O Tax:</td>
                        <td>{{mySubTotal + myOtherCharges - myDiscount |number:'1.0-0'}}</td>

                        <td>Amnt W/O Tax:</td>
                        <td>{{mySubTotal + myOtherCharges - myDiscount |number:'1.0-0'}}</td>
                    </tr>

                    <tr>
                        <td>Tax ({{cardGst}}%):</td>
                        <td>{{((mySubTotal + myOtherCharges - myDiscount) * cardGst) / 100 |number:'1.0-0'}}</td>

                        <td>Tax ({{cashGst}}%): </td>
                        <td>{{((mySubTotal + myOtherCharges - myDiscount) * cashGst) / 100 |number:'1.0-0'}}</td>
                    </tr>

                    <tr>
                        <th>Amnt With Tax:</th>
                        <th>{{(mySubTotal + myOtherCharges - myDiscount) +((mySubTotal + myOtherCharges - myDiscount) *
                            cardGst) / 100 |number:'1.0-0'}}</th>

                        <th>Amnt With Tax:</th>
                        <th>{{(mySubTotal + myOtherCharges - myDiscount) +((mySubTotal + myOtherCharges - myDiscount) *
                            cashGst) / 100 |number:'1.0-0'}}</th>
                    </tr>
                </table>

            </div>


        </div>
        <br>

        <div class="d-flex flex-column text-center" style="border-top:1px dotted;" *ngIf="type != 'hold'">

            <span style="font-size: 10px;">As per Pakistan Govt. Regulations {{cashGst}}% GST applied on Cash Payment, While {{cardGst}}% GST
                is Charged on Card Transacion.</span>
            <span style="font-size: 10px;">Wish To Serve You Again!</span>
           
        </div>
        <div style="border-top:1px dotted;" *ngIf="type == 'hold'">
            <span style="font-size: 10px;">**This is not a Bill Please ask for the Bill**</span>
        </div>
        <div class="d-flex flex-column text-center">
            <span style="font-size: 10px;">Powered By : <b>Logix Solutionz | Mobile# 0313-5300471</b></span>
        </div>

    </div>

</div>









<!-- <div id="print-bill">
    <div class="text-center">
        <img [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
        <h2 *ngIf="showCmpNameFeature">{{companyName}}</h2>
        <h2 *ngIf="!showCmpNameFeature"></h2>
        <p style="margin-top: -10px;" class="fs-11 text-uppercase">{{companyAddress}}</p>
        <p style="margin-top: -20px;"  class="fs-11">{{CompanyMobile}}</p>

    </div>


  <div class="p-1">
    <div >
        <table class="table table-logix2">
            <thead>
                <tr>
                    <th>Inv #</th>
                    <th>Date</th>
                    <th>Counter</th>
                    <th>Table</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>{{myInvoiceNo}}</td>
                    <td>{{myInvDate | date:'dd-MM-yyyy '}} ({{myInvTime|date:'hh:mm:ss:a'}})</td>
                    <td>{{myCounterName}}</td>
                    <td>{{mytableNo}}</td>
                </tr>

            </tbody>
        </table>

        <tr>
            <th>Remarks:-</th>
            <td class="ms-2">{{myRemarks}}</td>
        </tr>
    </div>

    <h2 *ngIf="myPaymentType == 'Complimentary'" class="border border-dark w-100 text-center">Complimentary</h2>
    <h2 *ngIf="myDuplicateFlag == true" class="border border-dark w-100 text-center">Duplicate</h2>

    <div>
        <table class="w-100 table-logix2">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Title</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of myPrintData index as index">
                    <td>{{index +1}}</td>
                    <td class="text-start">{{item.productTitle}}</td>
                    <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                    <td class="text-end">{{item.salePrice |number:'1.0-2'}}</td>
                    <td class="text-end">{{item.quantity * item.salePrice |number:'1.0-2'}}</td>

                </tr>
            </tbody>
        </table>



        <table class="w-100 text-end mt-2">
            <tbody>
                <tr>
                    <th>Sub Total</th>
                    <td>{{mySubTotal |number:'1.0-0'}}</td>

                </tr>
                <tr *ngIf="myOtherCharges > 0">
                    <th *ngIf="myOrderType == 'Dine In'">Service Charges</th>
                    <th *ngIf="myOrderType == 'Home Delivery'">Delivery Charges</th>
                    <th *ngIf="myOrderType == 'Take Away'">Other Charges</th>
                    <td>{{myOtherCharges|number:'1.0-0'}}</td>

                </tr>
                <tr *ngIf="myDiscount > 0">
                    <th>Discount</th>
                    <td>{{myDiscount|number:'1.0-0'}}</td>

                </tr>

                <tr>
                    <th>Net Total</th>
                    <td>{{mySubTotal + myOtherCharges - myDiscount|number:'1.0-0'}}</td>

                </tr>
                <tr *ngIf="myPaymentType == 'Cash' || myPaymentType == 'Split' ">
                    <th>Cash</th>
                    <td>{{myCash|number:'1.0-0'}}</td>

                </tr>
                <tr *ngIf="myPaymentType == 'Bank' || myPaymentType == 'Split' ">
                    <th>Bank</th>
                    <td>{{myBank|number:'1.0-0'}}</td>

                </tr>
                <tr *ngIf="myChange > 0">
                    <th>Change</th>
                    <td>{{myChange|number:'1.0-0'}}</td>

                </tr>

            </tbody>
        </table>

    </div>
    <hr>
    <p>Wish To Serve You Again!</p>
  </div>

</div> -->