@import url('../../../../assets/style/dashboard.scss');


.value{
    font-size: 40px;
}

.lead{
    font-weight: 500;
}

.font-digit{
    padding-top: 5px;
}

.color{
    color: rgb(95, 58, 45);
}



