<div class="row p-2 body" style="min-height: 700px;">

    <div class="col-lg-4 ">

        <h1 class="border-bottom p-2">Add Swing Detail's</h1>


        <div class=" d-flex">




            <div class="col-lg-9 row">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Swing Title</mat-label>
                    <input matInput [(ngModel)]="swingTitle" type="text">
                </mat-form-field>


                <mat-form-field appearance="outline" class="w-50 ">
                    <mat-label>Code</mat-label>
                    <input matInput [(ngModel)]="swingCode" type="text">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-50 ">
                    <mat-label>Duration</mat-label>
                    <input matInput [(ngModel)]="swingDuration" type="text">
                </mat-form-field>

            </div>

            <div class="avatar-upload ms-2 col-lg-3   ">
                <div class="avatar-edit">
                    <input type="file" id="prodimg" accept="" #prodimg (change)="onImgSelected($event)" />
                    <label for="prodimg"><mat-icon class=" mt-1">edit</mat-icon></label>
                </div>
                <div class="avatar-del">
                    <label (click)="productImg = ''"><mat-icon class=" mt-1">delete</mat-icon></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" [ngStyle]="{ 'background-image': 'url(' + productImg + ')' }"></div>
                </div>
            </div>


        </div>

        <mat-form-field appearance="outline" class="w-100  ">
            <mat-label>Ticket Price</mat-label>
            <input matInput type="number" [(ngModel)]="ticketPrice" (change)="global.avoidMinus($event)">
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="Description"></textarea>
        </mat-form-field>


        <div class="p-5 ">
            <button #toggleBtn class="btn btn-success me-5 w-25" accesskey="s"
                (click)="save() " *ngIf="crudList.c && btnType == 'Save'">{{btnType}}</button>
                <button #toggleBtn class="btn btn-success me-5 w-25" accesskey="s"
                (click)="save() " *ngIf="crudList.u && btnType == 'Update'">{{btnType}}</button>
            <button class="btn btn-danger w-25" (click)="reset()">Reset</button>
        </div>

    </div>







    <div class="col-lg-8 border-start container-fluid bg-light ">
        <mat-form-field appearance="outline" class="w-100 pt-2">
            <mat-label>Search.....</mat-label>
            <input type="text" #swingSearch matInput>
        </mat-form-field>
        <hr>
        <table class="table table-hover" *ngIf="crudList.r">
            <thead>
                <th>S#</th>
                <th>Title</th>
                <th>Ticket</th>
                <th>Img</th>
                <th>Entered By</th>
                <th>Edit</th>
                <th>Status</th>
                <th>Del</th>
            </thead>
            <tbody>

                <tr *ngFor="let item of swingsList|filter:swingSearch.value |paginate:{
                    itemsPerPage : tableSize,
                    currentPage : page,
                    totalItems :    count,
                }  ;index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.swingTitle}}</td>
                    <td>{{item.ticketPrice}}</td>
                    <td><div style="height: 40px;width: 40px;background-size: cover;" [ngStyle]="{ 'background-image': 'url(' + item.swingImage + ')' }"></div></td>
                    <td>{{item.entryUser}}</td>
                    <td *ngIf="crudList.u"><button mat-mini-fab class="bg-success h30px w30px"  (click)="editswing(item)"><mat-icon  >edit</mat-icon></button></td>
                    <td *ngIf="crudList.u"><button mat-mini-fab  class="bg-warning h30px w30px"  *ngIf="item.activeStatus == false "   (click)="changeStatus(item)"  ><mat-icon>block</mat-icon></button>
                       <button mat-mini-fab *ngIf="item.activeStatus == true " (click)="changeStatus(item)"  class="bg-white text-dark h30px w30px"> <mat-icon  >block</mat-icon></button></td>
                    <td *ngIf="crudList.d"><button mat-mini-fab  class="bg-danger h30px w30px"  (click)="delete(item)"><mat-icon>delete</mat-icon></button></td>
                </tr>

            </tbody>
        </table>

        <div class="d-flex" >
            <!-- <mat-hint class="me-1 text-secondary">Total Rows : ({{SavedVoucherData.length || 0}})    </mat-hint> -->
            <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
            ></pagination-controls>
            

            <mat-hint class=" me-1 text-secondary">Rows Per Page </mat-hint>
            <select class="text-white" style="width: 50px; height: 25px;background-color: rgb(75, 164, 248);" (change)="onTableSizeChange($event)">
                <option *ngFor=" let item of tableSizes">{{item}}</option>
            </select>
            
        </div>
    </div>
</div>