<div>

    <div class="p-5">
        <mat-form-field appearance="outline" class="w-100 matSmall">
            <mat-label>Select Note</mat-label>
            <mat-select [(ngModel)]="noteID"
                [disabled]="coaTypeID == 2 || this.coaTypeID == 3 || transactionAllowed == false">
                <mat-option *ngFor="let item of notesList " [value]="item.noteID">{{item.noteTitle}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Coa Title</mat-label>
            <input matInput type="text" [(ngModel)]="coaTitle">

        </mat-form-field>

        <mat-radio-group [(ngModel)]="alias" [disabled]="coaTypeID == 3 || coaTypeID == 2 || transactionAllowed == false">
            <mat-radio-button value="other">None</mat-radio-button>
            <mat-radio-button value="cash">Cash</mat-radio-button>
            <mat-radio-button value="bank">Bank</mat-radio-button>
        </mat-radio-group>
    </div>


    <div class="bg-mf text-end p-3">
        <button class="btnsave me-1" (click)="UpdateChartofAccount()">Save</button>
        <button class="btnclose" (click)="closeDialogue()">Close</button>
    </div>



</div>