
<div >


    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">CHANGE PINCODE</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>


  <div class="container p-3 text-center">
    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Old Pin</mat-label>
        <input matInput type="password" id="pwd" #pwd [(ngModel)]="oldPin">
        <mat-icon matSuffix (click)="global.showPassword($event,'#pwd')">{{pwd.type == 'password' ?'visibility':'visibility_off'}}</mat-icon>

    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
        <mat-label>New Pin</mat-label>
        <input matInput type="password" id="cpwd" #cpwd [(ngModel)]="newPin">
        <mat-icon matSuffix (click)="global.showPassword($event,'#cpwd')">{{cpwd.type == 'password' ?'visibility':'visibility_off'}}</mat-icon>

    </mat-form-field>
  </div>


  <div class="bg-mf text-end p-3">
    <button mat-raised-button class="bg-success text-white me-1" (click)="changePin()">Save</button>
    <button mat-raised-button class="bg-secondary text-white" (click)="closeDialogue()">Close</button>
</div>

</div>

