<div class="invoice-box" id="PrintOrder">
    <h1>Hello</h1>
    <div class="company-info">
      <p><strong>HELLO SHOES CO.</strong></p>
      <p>INVOICE NO.: #1703</p>
      <p>ORDER DATE: 31/07/2019</p>
      <p>PAYMENT: Visa (3119)</p>
      <p>SHIPPING: Express shipping</p>
    </div>

    <div class="flex">
      <div>
        <h3>BILL TO</h3>
        <p>John Smith</p>
        <p>150 Elgin Street, 8th Floor</p>
        <p>Ottawa, ON K2P 1L4</p>
        <p>Tel: 1-555-555-5555</p>
      </div>
      <div>
        <h3>SHIP TO</h3>
        <p>John Smith</p>
        <p>150 Elgin Street, 8th Floor</p>
        <p>Ottawa, ON K2P 1L4</p>
        <p>Tel: 1-555-555-5555</p>
      </div>
    </div>

    <table>
      <tr>
        <th>ITEM DESCRIPTION</th>
        <th>QTY</th>
        <th>PRICE</th>
        <th>TOTAL</th>
      </tr>
      <tr>
        <td>RAVEN BLACK/NUDE - 40 / M - BLACK<br><small>AS1471-9909 - M/Black</small></td>
        <td>2</td>
        <td>$120.00</td>
        <td>$240.00</td>
      </tr>
    </table>

    <div class="totals">
      <table>
        <tr>
          <td>Discount LOYALTY</td>
          <td>- $10.00</td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td>$230.00</td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td>$20.00</td>
        </tr>
        <tr>
          <td>Sales Tax</td>
          <td>$28.76</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>$250.00</td>
        </tr>\n      </table>
    </div>

    <div style="clear: both;"></div>

    <div class="footer">
      <p>If you have any questions, please get in contact.</p>
      <p>150 Elgin Street, 8th Floor<br>Ottawa, ON K2P 1L4</p>
      <p>hello@helloshoes.com | 555 565 5555</p>
      <strong>THANKS FOR YOUR BUSINESS!</strong>
      <p>helloshoes.com</p>
    </div>
  </div>
