<div class="invoice-box " id="PrintOrder">

  <div class="p-2">

    <div class="d-flex ">
      <div class="col-md-6">
        <img *ngIf="companyLogo && showCompanyLogo" [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
      </div>


      <div class="orderPrintCompanyInfo col-md-6">
        <span class="fw-bold fs-16">{{companyName}}</span>
        <span>INVOICE NO.: #1703</span>
        <span>ORDER DATE: {{tmpOrderRow!.orderDate|date:'dd-MM-yyyy'}}</span>
        <!-- <span>SHIPPING: Express shipping</span> -->
      </div>
    </div>

    <br>

    <div class="d-flex">
      <div class="d-flex flex-column col-md-6">
        <span class="fw-bold fs-14">BILL TO</span>
        <span style="line-height: 20px;">{{tmpOrderRow!.customerName}}</span>
        <span style="line-height: 20px;">{{tmpOrderRow!.mobileNo}}</span>
      </div>
      <div class="d-flex flex-column col-md-6">
        <span class="fw-bold fs-14">SHIP TO</span>
        <span>{{tmpOrderRow!.deliveryAddress}}</span>
        <span>{{tmpOrderRow!.deliveryInstruction}}</span>

      </div>
    </div>

    <br>

    <table class="table border-top border-dark">
      <tr>
        <th>ITEM </th>
        <th>QTY</th>
        <th>PRICE</th>
        <th>TOTAL</th>
      </tr>
      <tr *ngFor="let item of SingleOrderDetail ">
        <td>{{item.productTitle}}</td>
        <td>{{item.quantity | number:'1.0-0'}}</td>
        <td>{{item.salePrice | number:'1.0-0'}}</td>
        <td>{{item.salePrice * item.quantity | number:'1.0-0'}}</td>
      </tr>
    </table>

    <div class="orderPrintTotals">
      <table>

        <tr>
          <td>Subtotal</td>
          <td>{{OrderDetailTotal|number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td>0</td>
        </tr>

        <tr>
          <td>Total</td>
          <td>{{OrderDetailTotal|number:'1.0-0'}}</td>
        </tr>
      </table>
    </div>

    <br>

    <div style="clear: both;"></div>

    <hr>

    <div class="d-flex justify-content-center text-secondary fs-13">
      <span>If you have any questions, please get in contact.</span>
    </div>
    <br>
    <div class="d-flex justify-content-center gap-1">

      <div class="d-flex flex-column col-md-3 text-end">

        <span>Mehria Mall,<br>Mehria Town Attock</span>
        <span>abc@mail.com</span>
        <span>555 000 5555</span>
        <span>MehriaHyperMarket.com</span>
      </div>
      <div class="d-flex flex-column col-md-3">
        <span class="StrongText">THANKS FOR YOUR BUSINESS!</span>
      </div>
    </div>
  </div>
</div>