
<div class="container-fluid d-flex body">

    <div class="col-lg-8 bg-gray" style="min-height: 650px;">


        <!-----------   categories Row ------------------->

      <div class="d-flex border-bottom"  >

        

        <mat-form-field class="w-100 m-1" appearance="outline" style="min-height: 55px; min-width: 150px;border-radius: 10px ;" >
            <mat-label >Search.....</mat-label>
            <input [(ngModel)]="searchCat"  matInput type="search" class="text-secondary" >
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>

        

       <!-- <div class="scrollContainer">

            <button  *ngFor="let item of categoriesList|filter:searchCat"
             (click)="onCatSelected(item.id);searchCat = ''"
             [ngClass]="categoryID == item.id ? 'bg-blue' : ''"  class="border item text-center m-1 p-1">{{item.name}}</button>
       </div> -->
      </div>


       <!-----------   Products Area ------------------->
  <div class="row cursorPointer">
    <div *ngFor="let item of tempProductList"  style="width: 200px;"  >
        <mat-card  style="width:180px; height: 200px;" class="m-1 p-1 swingCard" (click)="productSelected(item)">
          
                <img *ngIf="item.img" [src]="item.img" alt="" height="150px" width="170px">
        
            <mat-card-footer class="text-center" style="font-size: x-small;">{{item.pName}}</mat-card-footer>
            <mat-card-footer class="text-center text-success">{{item.pSale}}</mat-card-footer>
        </mat-card>
      </div>
  </div>




    </div>


    <div class="col-lg-4 border " style="left: 74.6%; height: 630px;">

         <!-----------   Table Side First Row ------------------->

        <div style="min-height: 400px;" class="p-2" >

             <!-----------   Bill Area ------------------->
            <div class="billTable" style="height: 350px;">

                <table class="table-logix cursorPointer" >
                    <thead>
                        <tr>
                            <th class="col-lg-4">Desc</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>total</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData index as index">
                        <td>{{item.name}}</td>
                        <td>{{item.price |number}}</td>
                        <td class="text-center">
                        <div class="d-flex text-center pb-2">
                            <mat-icon (click)="changeQty('add',index)" class="text-success">add_circle</mat-icon>
                            <input id="pQty" type="number" style="width: 50px;text-align: center;" (change)="getTotal()"  [(ngModel)]="item.qty" >
                            <mat-icon (click)="changeQty('minus',index)" >remove_circle</mat-icon>
                        </div>
                          </td>
                        <td>{{item.price * item.qty |number}}</td>
                        <td><mat-icon class="text-danger" (click)="deleteRow(index)">delete</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>

         

            <!-----------   Bill Total Amount Section ------------------->
            <div class="p-4 bg-white border-top">

                <span class="d-flex border-bottom border-dark justify-content-between">
                    <p>Sub Total</p>
                    <p>{{subTotal |number}}</p>
                </span>
                <span class="d-flex border-bottom border-dark justify-content-between">
                    <p>Total</p>
                    <p>100</p>
                </span>
                <span class="p-1 d-flex">
                    <button mat-raised-button class="m-1 text-white bg-secondary w-50">HOLD</button>
                    <button mat-raised-button  class="m-1 text-white bg-success w-50" (click)="save()">Save</button>
                </span>
                

            </div>



        </div>


    </div>





</div>


