
<div class="container-fluid row body bg-gray h-100">

    <div class="col-lg-8 pe-2" style="min-height: 600px;">


        <!-----------   categories Row ------------------->

      <div class="d-flex border-bottom mt-1 "  >

        

        <mat-form-field class="col-lg-10 " appearance="outline" style="min-height: 55px; min-width: 150px;border-radius: 10px ;" >
            <mat-label >Search.....</mat-label>
            <input [(ngModel)]="searchSwing"  matInput type="search" class="text-secondary" >
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>

        <button  mat-raised-button class="ms-1 col-lg-2 btn-rpt bg-primary text-white" data-bs-toggle="modal" data-bs-target="#rtnModel">Find Ticket</button>



        

       <!-- <div class="scrollContainer">

            <button  *ngFor="let item of categoriesList|filter:searchCat"
             (click)="onCatSelected(item.id);searchCat = ''"
             [ngClass]="categoryID == item.id ? 'bg-blue' : ''"  class="border item text-center m-1 p-1">{{item.name}}</button>
       </div> -->
      </div>


       <!-----------   Products Area ------------------->
  <div class="row cursorPointer">
    <div *ngFor="let item of swingsList | filter:searchSwing"  style="width: 200px;"  >
        <mat-card  style="width:180px; height: 200px;" class="m-1 p-1 swingCard" (click)="onSwingSelected(item)" >
          
                <!-- <img *ngIf="item.img" [src]="item.swingImage" alt="" height="150px" width="170px"> -->
                <div style="height: 150px;width: 170px;background-size: cover;" [ngStyle]="{ 'background-image': 'url(' + item.swingImage + ')' }">
                <div class=" ">
                    <p class="text-center align-content-center mt-1 me-1"
                     style="padding-top: 2px; font-size: 15px; float: right; border: 1px solid rgb(9, 9, 9); 
                     background-color: white; border-radius: 50%; height: 25px; width: 25px;">{{item.swingDuration}}</p>
                </div>
                </div>

        
            <mat-card-footer class="text-center" style="font-size: 15px;">{{item.swingTitle}}</mat-card-footer>
            <mat-card-footer class="text-center text-success " style="font-size: 20px;">{{item.ticketPrice}}</mat-card-footer>
        </mat-card>
      </div>
  </div>




    </div>


    <!-------------------------       Bill Side Area -------------------->
    <div class="col-lg-4 border bg-gray" style="left: 67%; height: 100%;position: fixed;">


        <div  class="p-2" >

          
            <div class="billTable" style="min-height: 50vh; max-height: 55vh !important; overflow-y: scroll;">

                <table class="table cursorPointer" >
                    <thead>
                        <tr>
                            <th class="col-lg-4">Title</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of TicketDetails index as index">
                        <td>{{item.swingTitle}}</td>
                        <td>{{item.TicketPrice |number}}</td>
                        <td class="text-center">
                        <div class="d-flex text-center pb-2">
                            <mat-icon (click)="changeQty('add',index,TicketDetails)" class="text-success">add_circle</mat-icon>
                            <input id="pQty" class="numOnly" type="text" style="width: 50px;text-align: center;" (change)="getTotal();" (keyup)="getTotal();changeValue(item)"  [(ngModel)]="item.TicketQuantity" >
                            <mat-icon (click)="changeQty('minus',index,TicketDetails)" >remove_circle</mat-icon>
                        </div>
                          </td>
                        <td>{{item.TicketPrice * item.TicketQuantity |number:'1.0-0'}}</td>
                        <td><mat-icon class="text-danger" (click)="deleteRow(index)">delete</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>

         

       
            <div class="p-4 bg-white border-top">

                <span class="d-flex border-bottom border-dark justify-content-between">
                    <p>Total</p>
                    <p class="font-digit" style="font-size: 30px;">{{subTotal |number:'1.0-0'}}</p>
                </span>
                <mat-form-field appearance="outline" class="w-100 mt-2">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput rows="1" [(ngModel)]="ticketRemarks" ></textarea>
                </mat-form-field>
                <div class="p-1 text-center">
                    <!-- <button mat-raised-button class="m-1 text-white bg-secondary w-50" >HOLD</button> -->
                    <button mat-raised-button  class="m-1 text-white bg-success w-50" (click)="save()">Save</button>
                </div>
                

            </div>



        </div>


    </div> 




   <!-------------------------        Modal Window to Find Tickets ----------------->

    <div class="modal fade" id="rtnModel" tabindex="-1" aria-labelledby="rtnModelLabel" >
        <div class="modal-dialog  modal-lg">
          <div class="modal-content">
            <div class="d-flex  align-content-center justify-content-between border-0 border-bottom ps-2 pe-2 pt-2">
              <h2  id="rtnModelLabel">Find Ticket</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">

                <div class="d-flex justify-content-between">
                    <mat-form-field class="col-lg-4" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput type="text" readonly="true" [(ngModel)]="TicketDate" [matDatepicker]="date">
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date ></mat-datepicker>
                    </mat-form-field>
             

                    <button mat-raised-button *ngIf="crudList.r" class="btn-rpt col-lg-2" (click)="findTickets()" >Search</button>

                   <mat-form-field class="col-lg-4" appearance="outline">
                    <mat-label>Search.......</mat-label>
                    <input matInput type="text" class="col-lg-4" [(ngModel)]="billSearch">
                   </mat-form-field>

                </div>

                <table class="table table-logix">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Ticket #</th>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Amount</th>
                            <th>User</th>
                            <th *ngIf="crudList.r">Action</th>
                            <th *ngIf="crudList.u">Return</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of TicketsList  | filter:billSearch index as index">
                            <td class="text-center">{{index+1}}</td>
                            <td class="text-center">{{item.ticketNo}}</td>
                            <td>{{item.entryDateTime | date:'dd-MM-yyyy hh:mm:ss:a '}}</td>
                            <td>{{item.swingTitle}}</td>
                            <td class="text-end">{{item.ticketTotal | number:'1.0-0'}}</td>
                            <td>{{item.entryUser}}</td>
                            <td class="cursorPointer text-center" >
                                <mat-icon *ngIf="crudList.r" class="text-primary" aria-labelledby="print"  (click)="printTicket(item.ticketNo,'duplicate','')">print</mat-icon>
                               
                               
                            </td>
                            <td class="cursorPointer text-center">
                                <mat-icon *ngIf="crudList.u == true && item.type == 'S'"  class="text-success" (click)="verifyRtn(item)">assignment_return</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table class="table">
                    <thead>
                        <tr>
                            <th>Ticket #</th>
                            <th>Prev Qty</th>
                            <th>Rtn Qty</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Return</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of billDetail"> 
                            <td>{{item.ticketNo}}</td>  
                            <td>{{item.ticketQuantity}}</td>
                            <td>{{item.rtnQuantity}}</td>
                            <td>{{item.ticketQuantity - item.rtnQuantity}}</td>
                            <td>{{item.ticketPrice}}</td>
                            <td>{{item.ticketQuantity * item.ticketPrice}}</td>
                            <td><mat-icon data-bs-toggle="modal" data-bs-target="#swingModal">save</mat-icon></td>
                        </tr>
                    </tbody>

                </table>
               
        
            </div>
        
          </div>
        </div>
      </div>


<!----------    Modal Screen for swing Return --------------->

    <div class="modal fade" #swingModal1 id="swingModal" tabindex="1" aria-labelledby="swingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2  id="swingModalLabel">Ticket Return</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">

               <div *ngFor="let item of rtnTicketDetails">
            
               <div class="d-flex justify-content-around">
                <h3 class="text-center fw-bold text-danger">{{item.swingTitle}} </h3>
                <p class="text-center fw-bold">Total: <span *ngIf="billType =='SaleReturn'" >-</span>{{item.TicketQuantity * item.TicketPrice}} </p>
               </div>
                
                <mat-label class="ms-5">Enter Quantity</mat-label>
                <div class="d-flex text-center pb-2" *ngFor="let item of rtnTicketDetails">
                    <mat-icon (click)="changeQty('add',0,rtnTicketDetails)" class="text-success cursorPointer" style="font-size: 40px;height: 50px;width: 50px;">add_circle</mat-icon>
                    <input id="pQty" type="number" style="width: 100%;height: 40px; text-align: center;" (keypress)="global.avoidMinus($event)" [(ngModel)]="item.TicketQuantity" >
                    <mat-icon (click)="changeQty('minus',0,rtnTicketDetails)" class="cursorPointer" style="font-size: 40px;height: 50px;width: 50px;" >remove_circle</mat-icon>
                </div>
               </div>
        
               <mat-label class="ms-5">Enter Remarks</mat-label>
                 <div class="text-center">
                    
                    <textarea rows="2" [(ngModel)]="ticketRemarks" style="width: 82%;text-align: center;"></textarea>
                 </div>
        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">Close</button>
              <button *ngIf="crudList.c" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save()">Save & Print</button>
            </div>
          </div>
        </div>
      </div>




       <!----------    Ticket Print Area --------------->


    <div id="ticketPrint" class="d-none" >
        <div *ngFor="let item of printDetails" class="p-1 w-100" >
            <div class="text-center">
                <img src="../../../../assets/Images/playtorium.png" height="50" width="250">
                <p>Mehria Mall & Residencia, Attock</p>
                <!-- <h2>Playtorium</h2> -->
            </div>
    
        
                <table class="table table-logix2 text-center" style="font-size: 15px;" >
                    <thead>
                        <tr>
                            <th class="col-lg-3">Ticket #</th>
                            <th class="col-lg-3">Counter </th>
                            <th class="col-lg-3">Date </th>
                            <th class="col-lg-3">Time</th>
                          
                        </tr>
                       
                    </thead>
                    <tbody >
                        <tr class="text-center">
                            <td>{{item.ticketNo}}</td>
                            <td>{{item.entryUser}}</td>
                            <td>{{item.entryDateTime | date:'dd-MMM-yyyy'}}</td>
                            <td>{{item.entryDateTime | date:'hh:mm:ss:a'}}</td>
                        </tr>
                        <hr>
                  
                    </tbody>
    
                    
                </table>
               <table>
                <h4 class="border border-dark text-center" *ngIf="printType == 'duplicate'"><strong>Duplicate</strong></h4>
                <h4 class="border border-dark text-center" *ngIf="item.type == 'SR'"><strong>Ticket Return</strong></h4>
             
               </table>
    
             <div class="d-flex">
                <div class=" col-lg-4 text-center justify-content-center">
                    <div  style=" font-size: 35px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="text-center">{{item.swingTitle | uppercase}}</div>
                </div>
                 <div class=" col-lg-8 text-center m-2">
                    <div  style="height: 100px !important;width: 100px !important; font-size: 60px;border: 3px solid black;border-radius: 50%;">{{item.ticketQuantity - item.rtnQuantity |number}}</div>
                 </div>
                
             </div>
                <table class="w-100 table table-logix mt-2">
               
                 <tbody>
            
                     <tr >
                        <th>Total</th>
                         <td class="text-end">{{item.ticketPrice |number:'1.0-0'}} x {{item.ticketQuantity - item.rtnQuantity |number}}</td> 
                        <td class="text-end">{{(item.ticketQuantity- item.rtnQuantity) * item.ticketPrice |number:'1.0-0'}}</td>
                     </tr>
                 </tbody>
                </table>
                <tr>
                    <td><strong>Remarks:</strong></td>
                    <td class="ps-2">{{item.ticketRemarks}}</td>
                </tr>
                <br>
            
                <small>Ticket is Valid only for ({{item.swingDuration}}) Minutes</small>
            
                <hr>
                <div style="text-transform: uppercase;" class="text-center">
                   
                    <small>Ticket is not Refundable</small>
                </div>
                <p style=" border: 2px dotted ;"></p>
     
        </div>

       

     


    </div>

  






</div>


