<div class="row h-100 w-100 body">


    <div class="col-lg-9">

        <!-------------------- Top Date and location section --------------->

        <div class="row ps-1 pe-1 pt-1 justify-content-between">
            <mat-form-field appearance="outline" *ngIf="!disableDateFeature"  class="col-lg-3 matSmall">
                <mat-label>Invoice Date</mat-label>
                <input [(ngModel)]="invoiceDate"  readonly="true" matInput type="text"
                    name="invDate" [matDatepicker]="iDate">
                <mat-datepicker-toggle matSuffix [for]="iDate"></mat-datepicker-toggle>
                <mat-datepicker #iDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                <mat-label>Location</mat-label>
                <mat-select [(ngModel)]="locationID" name="location" (selectionChange)="onLocationSelected('l1')">
                    <mat-option><ngx-mat-select-search #locationSearch [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
                    <mat-option *ngFor="let item of locationList | filter:locationSearch.value"
                        [disabled]="item.locationID == locationTwoID"
                        [value]="item.locationID">{{item.locationTitle}}</mat-option>
                </mat-select>
            </mat-form-field>


            <!-- <mat-form-field appearance="outline" class="col-lg-2 matSmall">
                <mat-label>Department</mat-label>
                <mat-select [(ngModel)]="locationTwoID" name="location" (selectionChange)="onLocationSelected('l2')">
                    <mat-option><ngx-mat-select-search #depSearch [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search></mat-option>
                    <mat-option *ngFor="let item of locationList | filter:depSearch.value" [disabled]="item.locationID == locationID"
                        [value]="item.locationID">{{item.locationTitle}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                <mat-label>Issue Type</mat-label>
                <mat-select [(ngModel)]="IssueType" name="location">
                    <mat-option *ngFor="let item of issueTypeList" [value]="item.issueTypeTitle"
                        [disabled]="item.issueTypeTitle == 'Stock Transfer'">{{item.issueTypeTitle}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="matSmall" [ngClass]="disableDateFeature ? 'col-lg-6' :'col-lg-3'">
                <mat-label>Remarks</mat-label>
                <input matInput type="text" [(ngModel)]="invRemarks">
            </mat-form-field>
        </div>

        <div class="ps-1 d-flex ">

            <!-------------------- Product Search Bar --------------->

            <div class="col-lg-9  d-flex flex-column">
                <mat-label class="text-primary">Search Barcode / Product</mat-label>
                <input type="text" #pbarcode [(ngModel)]="PBarcode"
                    (keydown)="searchByCode($event);this.changeFocus($event,'.prodRow')" id="searchProduct"
                    class="p-1 mb-2 searchProduct" placeholder="Alt + b" autofocus autocomplete="off" accesskey="b">

                <div class="col-lg-7  d-flex flex-column SearchConatiner cursorPointer"
                    *ngIf="PBarcode != '' && PBarcode != undefined">
                    <mat-card class="card "
                        *ngFor="let item of productList| filter:PBarcode | slice:0:25 index as index"
                        (click)="holdDataFunction(item)">
                        <button style="height: 40px; background: none;border: none;text-align: left;"
                            class="prodRow{{index}} prodBtn justify-content-between d-flex"
                            (keydown)="handleProdFocus(item,$event,'.prodRow','.searchProduct',productList)">
                            <p>{{item.productTitle}}</p>
                            <p><strong>({{item.barcode}})</strong></p>
                        </button>
                    </mat-card>
                </div>
            </div>
            <div class="col-lg-3 text-start ms-1 pt-3 mt-1">
                <button class="btnload w-50 " style="height: 40px;" (click)="ngOnInit()">Load</button>
            </div>

        </div>



        <!-------------------- Table Area for Products --------------->

        <div class="ps-1" style="max-height: 65vh;overflow-y:scroll !important;padding-bottom: 10px;">
            <table class="table table-hover table-logix">
                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Barcode</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Avg Cost</th>
                        <th>Cost</th>
                        <th>Avg Total</th>
                        <th>Cost Total</th>
                        <th>AQ</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableDataList index as index" (click)="showImg(item);rowFocused = index"
                        [ngClass]="rowFocused == index ?'bg-dg':''">
                        <td>{{index+1}}</td>
                        <td>{{item.barcode}}</td>
                        <td>{{item.productTitle}}</td>
                        <td class="text-center"><input type="text" [(ngModel)]="item.quantity" min="0"
                                (keydown)="this.handleNumKeys(item,$event,'.qty',index);getTotal();changeValue(item);"
                                (keyup)="changeValue(item);getTotal();showImg(item);" class="qty{{index}} text-center"
                                style="width: 80px;"></td>
                        <td class="text-end">{{item.avgCostPrice | number:'1.0-2'}}</td>
                        <td class="text-end">{{item.costPrice | number:'1.0-2'}}</td>
                        <td class="text-end">{{item.avgCostPrice * item.quantity |number:'1.0-2'}}</td>
                        <td class="text-end">{{item.costPrice * item.quantity |number:'1.0-2'}}</td>
                        <td class="text-center">{{item.aq |number:'1.0-3'}}</td>
                        <td class="cursorPointer text-center text-danger"><mat-icon
                                (click)="delRow(item)">delete</mat-icon></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>

                        <th class="">{{totalQty|number:'1.0-3'}}</th>
                        <th colspan="2"></th>
                        <th class="text-end">{{avgCostTotal |number:'1.0-2'}}</th>
                        <th class="text-end">{{CostTotal |number:'1.0-2'}}</th>
                        <th></th>
                        <td class="text-center"><mat-icon class="cursorPointer " (click)="reset()">delete</mat-icon>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>

    </div>



    <div class="col-lg-3  border-start border-dark"  style="height: 84vh;">

        <div class="p-1">
            <mat-card class="p-1 w-100 " style="height: 200px;width: 380px;">
                <div class="text-center" *ngIf="tableDataList != ''">
                    <img [src]="productImage" alt="Img not Found" accesskey="i" height="190" width="200"
                        (click)="this.global.showProductImage(this.productImage,0)">
                </div>
            </mat-card>


        </div>

        <div class="p-1">
            <mat-card class="p-1 w-100 ">
                <mat-card-content>
                    <div class="text-center ">
                        <p class="font-digit fs-50">{{subTotal |number:'1.0-2'}}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="mt-4 d-flex justify-content-around">
            <button *ngIf="crudList.c" class="btnhold w-25" (click)="SaveBill('hold')">{{holdBtnType}}</button>
            <button class="btnreset w-25" data-bs-toggle="modal" data-bs-target="#holdModal">Retrieve</button>
        </div>
        <div class="mt-4 d-flex justify-content-around">
            <button *ngIf="crudList.c" class="btnsave w-25" (click)="SaveBill('issue')">Save</button>
        </div>

    </div>


    <!---------------     Modal Window for Retreiving Hold Bills --------------->
    <div class="modal fade" id="holdModal" tabindex="-1" aria-labelledby="holdModalLabel">
        <div class="modal-dialog modal-dialog-scrollable mt-5  modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="holdModalLabel">Bill Details</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="d-flex justify-content-between">
                        <mat-form-field class="col-lg-4 matSmall" appearance="outline">
                            <mat-label>Date</mat-label>
                            <input matInput type="text" readonly="true" [(ngModel)]="Date" [matDatepicker]="hbDate">
                            <mat-datepicker-toggle matSuffix [for]="hbDate"></mat-datepicker-toggle>
                            <mat-datepicker #hbDate></mat-datepicker>
                        </mat-form-field>


                        <button mat-raised-button *ngIf="crudList.r" class="col-lg-2 bg-primary text-white btn-rpt"
                            (click)="findHoldBills('HR')">Hold Bill</button>
                        <button mat-raised-button *ngIf="crudList.r" class="col-lg-2 btn-rpt"
                            (click)="findHoldBills('R')">Issue Bill</button>

                        <mat-form-field class="col-lg-3 matSmall" appearance="outline">
                            <mat-label>Search.......</mat-label>
                            <input matInput #holdSearch type="text" class="col-lg-4">
                        </mat-form-field>

                    </div>

                    <table class="table table-logix">
                        <thead>
                            <tr>
                                <th>S#</th>
                                <th>Inv No.</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Location</th>
                                <th>Amount</th>
                                <th>User</th>
                                <th *ngIf="crudList.r">Action</th>
                                <th *ngIf="crudList.u" id="edit">Retrive</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let item of IssueBillList  | filter:holdSearch.value index as index">
                                <td>{{index+1}}</td>
                                <td>{{item.invBillNo}}</td>
                                <td>{{item.invDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{item.issueType}}</td>
                                <td>{{item.locationTitle}}</td>
                                <td>{{item.netTotal | number:'1.0-0'}}</td>
                                <td>{{item.entryUser}}</td>
                                <td class="text-center cursorPointer" *ngIf="crudList.r"><mat-icon class="text-primary"
                                        (click)="printBill(item)">print</mat-icon></td>
                                <td class="text-center cursorPointer" *ngIf=" item.invType == 'HR' && crudList.u">
                                    <mat-icon data-bs-dismiss="modal" (click)="retriveBill(item)">edit</mat-icon></td>

                            </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>


    <!----------- Print Area For Bill Print --------------------->

    <app-adj-bill-print></app-adj-bill-print>

</div>