<div >

    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">Rack Detail's</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>


<div class="p-2">
    
    <mat-form-field class="w-100 matSmall" appearance="outline">
        <mat-label>Rack Title</mat-label>
        <input matInput autofocus id="title" type="text" [(ngModel)]="rackTitle" >
    </mat-form-field>

    <mat-form-field class="w-100 matSmall" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [(ngModel)]="description" ></textarea>
    </mat-form-field>

</div>



    <div class="bg-mf text-end p-3">
  
        <button class="btnsave w-25 me-1"  (click)="save()">Save</button>
        <button class="btnclose w-25" (click)="closeDialogue()">Close</button>
    </div>
    

</div>

