
<div >
    <div class="text-end p-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search...</mat-label>
            <input matInput #searchBill  />
        </mat-form-field>
    </div>
    <div class="p-2"  style="max-height: 400px;overflow-y: scroll;">

      

       <table class="table">
           <thead>
               <tr>
                   <th>S#</th>
                   <th>Bill #</th>
                   <th>Date</th>
                   <th>Type</th>
                   <th>Counter</th>
                   <th>Customer</th>
                   <!-- <th>Amount</th> -->
                   <th>Print</th>
                   <th>Detail</th>
               </tr>

           </thead>
           <tbody>
               <tr *ngFor="let item of savedbillList|filter:searchBill.value index as index">
                
                   <td>{{index+1}}</td>
                   <td>{{item.invBillNo}}</td>
                   <td>{{item.invDate|date:'dd-MM-yyyy'}} ({{item.createdOn|date:'hh:mm:a'}})</td>
                   <td>{{item.paymentType}}</td>
                   <td>{{item.entryUser}}</td>
                   <td>{{item.partyName || "Walk In"}}</td>
                   <!-- <td>{{item.netTotal |number:'1.0-0'}}</td> -->
                   <td class="text-primary cursorPointer"><mat-icon (click)="printDuplicateBill(item)">print</mat-icon></td>
                   <td class="text-success cursorPointer"><mat-icon (click)="billDetails(item)">receipt</mat-icon></td>
               </tr>
           </tbody>
           
       </table>


    </div>

    <div class="text-end bg-mf-blue p-3">
  
        <button type="button" class="btn btn-secondary"  (click)="closeDialog()">Close</button>
    </div>

</div>




<!------------------------------ Design For Bill Pirnt  --------------------->



<div id="duplicate" class="d-none">
    <div class="text-center">
        <img *ngIf="companyLogo" [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
        <h3 class="text-uppercase">{{companyName}}</h3>
        <p style="margin-top: -10px;" class="fs-11 text-uppercase">{{companyAddress}}</p>
        <p style="margin-top: -20px;" class="fs-11">{{CompanyMobile}}</p>

    </div>


    <div >
      <table class="table-logix2">
        <thead>
            <tr>
                <th>Inv #</th>
                <th>Date</th>
                <th>Counter</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>{{myInvoiceNo}}</td>
                <td>{{myInvDate | date:'dd-MM-yyyy hh:mm:a'}}</td>
                <td>{{myCounterName}}</td>
            </tr>
           
        </tbody>
      </table>

  <table>
    <tr *ngIf="myCustomerName != null">
        <th class="fs-12">Customer:-</th>
        <td class="ms-2 fs-11">{{myCustomerName}}</td>
    </tr>
    <tr *ngIf="myBookerName != null">
        <th class="fs-12">Booker:- </th>
        <td class="ms-2 fs-11">{{myBookerName}}</td>
    </tr>
 
    
  </table>
    </div>
    <p class="border border-dark text-center">Sale Return</p>
    <p *ngIf="myPaymentType == 'Complimentary'" class="border border-dark text-center">Complimentary</p>
    <p *ngIf="myDuplicateFlag == true" class="border border-dark text-center">Duplicate</p>

    <div>
        <table class="w-100 table-garment-sale">
            <thead >
                <tr class="fs-12">
                    <th style="width:10% !important;">Qty</th>
                    <th style="width:20% !important;">Price</th>
                    <th style="width:10% !important;">Disc Rs</th>
                    <th style="width:10% !important;">Disc %</th>
                    <th style="width:20% !important;">Total</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="fs-11" *ngFor="let item of myPrintData index as index" >
                    <td colspan="5" class="text-start">
                        &nbsp;{{index +1}}. <b> {{item.productTitle}}</b>
                        <table class="table-garment-sale-2 w-100">
                            <tr>
                                <td class="text-center" style="width:10% !important;">{{item.quantity |number:'1.0-2'}}</td>
                                <td class="text-end" style="width:20% !important;">{{item.salePrice |number:'1.0-2'}}</td>
                                <td class="text-end" style="width:10% !important;">{{item.discInR|number:'1.0-2'}}</td>
                                <td class="text-end" style="width:10% !important;">{{item.discInP|number:'1.0-2'}}</td>
                                <td class="text-end" style="width:20% !important;">{{(item.quantity * item.salePrice) - (item.discInR * item.quantity) |number:'1.0-2'}}</td>
                            </tr>
                        </table>
                    </td>
                    

                </tr>
                <tr class="fs-11">
                    <td colspan="2">Total Items</td>
                    <td class="fw-bold">{{myQtyTotal | number:'1.0-2'}}</td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>



       <table class="w-100  text-uppercase">
        <tbody class="fs-16 fw-bold">
            <!-- <tr class="text-center">
                <td width="40%" rowspan="7" style="font-size: 10px;" >
                    <img [src]="global.thankyouImage" height="80" width="80" /><br />
                    FOR VISITING US.
                </td>
            </tr> -->
            <tr class="text-end">
              
                <td></td>
                <td >Sub Total</td>
                <td  >{{mySubTotal |number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end"    *ngIf="myOtherCharges > 0">
                <td></td>
                <td   >Other Charges</td>
                <td > {{myOtherCharges|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myOfferDiscount > 0">
                <td></td>
                <td >Offer Disc</td>
                <td >{{myOfferDiscount|number:'1.0-1'}}</td>

            </tr>
            <tr class="text-end" *ngIf="myDiscount - myOfferDiscount > 0">
                <td></td>
                <td >Disc</td>
                <td >{{myDiscount - myOfferDiscount|number:'1.0-1'}}</td>
         
            </tr>
         
            <tr class="text-end">
                <td></td>
                <td >Net Total</td>
                <td >{{mySubTotal + myOtherCharges - myDiscount|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myPaymentType == 'Cash' || myPaymentType == 'Split' ">
                <td></td>
                <td >Cash</td>
                <td >{{myCash|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myPaymentType == 'Bank' || myPaymentType == 'Split' ">
                <td></td>
                <td >Bank</td>
                <td >{{myBank|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myChange > 0">
                <td></td>
                <td >Change</td>
                <td >{{myChange|number:'1.0-1'}}</td>
         
            </tr>
            
        </tbody>
    </table>



        <hr>
       <table>
        <tr class="fs-11">
            <th >Remarks:- </th>
            <td >{{myRemarks}}</td>
        </tr>
       </table>
        <div class="fs-11">
            <p>Wish to Serve You Again!</p>
        </div>

    </div>

</div>


<!---------------------------------------------------------------------------------->







