


.header{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    
}

.topBar{
    position: fixed;
    width: 100%;
    z-index: 2;
}


@media only screen and (max-width:700px){
    // .header{
    //     position: fixed;
    //     bottom: 0%;
    // }
    // .topBar{
    //     position:fixed;
       
    // }
  }
  