<!-- <mat-drawer-container class="mat-drawer-container displayMainPage">
 <mat-drawer mode="side" [opened]="sideBarOpen" class="mat-drawer">
        
    </mat-drawer>  
 
        <app-top-nav-bar></app-top-nav-bar>
        <router-outlet ></router-outlet>
        <div class="header" >
            <app-header></app-header>
        </div>
       


  </mat-drawer-container> -->


  <!-- <mat-drawer-container class="mat-drawer-container displayMainPage" autosize>
    
           <app-top-nav-bar></app-top-nav-bar>
           <section>
            <router-outlet ></router-outlet>
           </section>
        
           <div class="header" >
               <app-header></app-header>
           </div>
   
     </mat-drawer-container> -->

  <div class="h-100">
    <app-top-nav-bar class="topBar"></app-top-nav-bar>
  <router-outlet ></router-outlet>
  <div class="header" >
    <app-header></app-header>
</div>

  