<mat-tab-group mat-align-tabs="center" class="body h-100" [selectedIndex]="tabIndex"
    (selectedIndexChange)="changeTab($event)">
    <mat-tab label="ADD PRODUCT">

        <div class="card mb-3 container-fluid text-center w-75 border bg-light pt-2 mt-1">

            <div class="row">

                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                    <mat-label>Category</mat-label>

                    <mat-select [(ngModel)]="CategoryID" #category (selectionChange)="getSubCategory()"
                        name="pCategory">
                        <mat-option><ngx-mat-select-search #catsearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of CategoriesList | filter:catsearch.value"
                            [value]="item.categoryID">{{item.categoryTitle}}</mat-option>

                    </mat-select>
                    <mat-icon class="cursorPointer" (click)="addCategory()" matSuffix>add</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                    <mat-label>Sub Category</mat-label>

                    <mat-select [(ngModel)]="SubCategoryID" #subCategory name="pSubCategory">
                        <mat-option><ngx-mat-select-search #subcatsearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of SubCategoriesList| filter:subcatsearch.value "
                            [value]="item.subCategoryID">{{item.subCategoryTitle}}</mat-option>
                    </mat-select>
                    <mat-icon class="cursorPointer" (click)="addSubCategory()" matSuffix>add</mat-icon>

                </mat-form-field>





                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                    <mat-label>Product Title</mat-label>
                    <input matInput id="title2" [(ngModel)]="ProductName" accesskey="n" type="text">

                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                    <mat-label>Product Title 2 </mat-label>
                    <input matInput [(ngModel)]="productNameOthLanguage" type="text">

                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                    <mat-label>Code</mat-label>
                    <input matInput [(ngModel)]="productCode" type="text">

                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-2  matSmall">
                    <mat-label>Barcode Type</mat-label>
                    <mat-select [(ngModel)]="prodBarcodeType" name="pType">
                        <mat-option [value]="'auto'">Auto</mat-option>
                        <mat-option [value]="'manual'">Manual</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-4 matSmall">
                    <mat-label>Product Barcode</mat-label>
                    <input matInput type="text" [(ngModel)]="Barcode" [disabled]="prodBarcodeType == 'auto'">
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Brand</mat-label>
                    <mat-select [(ngModel)]="BrandID" #brand>
                        <mat-option><ngx-mat-select-search #brandSearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of BrandList | filter:brandSearch.value"
                            [value]="item.brandID">{{item.brandTitle}}</mat-option>
                    </mat-select>
                    <mat-icon class="cursorPointer" (click)="addBrand()" matSuffix>add</mat-icon>

                </mat-form-field>



                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Rack</mat-label>
                    <mat-select [(ngModel)]="rackID" #rack>
                        <mat-option><ngx-mat-select-search #rackSearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of RacksList |filter:rackSearch.value"
                            [value]="item.rackID">{{item.rackTitle}}</mat-option>
                    </mat-select>
                    <mat-icon class="cursorPointer" (click)="addRack()" matSuffix>add</mat-icon>

                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>UOM</mat-label>
                    <mat-select [(ngModel)]="UOMID" #uom>
                        <mat-option><ngx-mat-select-search #uomSearch [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of UOMList |filter:uomSearch.value"
                            [value]="item.uomID">{{item.uomTitle}}</mat-option>
                    </mat-select>
                    <mat-icon class="cursorPointer" (click)="addUOM()" matSuffix>add</mat-icon>

                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Product Type</mat-label>
                    <mat-select [(ngModel)]="prodTypeID">
                        <mat-option><ngx-mat-select-search #pType [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let item of ProductTypeList |filter:pType.value"
                            [value]="item.productTypeID">{{item.productTypeTitle}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Cost Price</mat-label>
                    <!-- <input matInput type="number" [(ngModel)]="CostPrice" (change)="global.avoidMinus($event)"> -->
                    <input matInput type="number" [(ngModel)]="CostPrice" (change)="global.avoidMinus($event)"
                        [disabled]="btnType == 'Update'">
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Sale Price</mat-label>
                    <input matInput (keyup)="applyDiscount()" type="number" [(ngModel)]="SalePrice"
                        (change)="global.avoidMinus($event)">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Discount Percentage</mat-label>
                    <mat-select [(ngModel)]="DiscPercent" name="billDiscount" (selectionChange)="applyDiscount()">
                        <mat-option *ngFor="let item of discountList" [value]="item.value">{{item.value}}%</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3  matSmall">
                    <mat-label>Discount Rupees</mat-label>
                    <input matInput disabled="true" type="number" [(ngModel)]="DiscRupee"
                        (change)="global.avoidMinus($event)">
                </mat-form-field>

                <div class="col-lg-12 ">
                    <mat-form-field appearance="outline" class="col-lg-10 matSmall">
                        <mat-label>Generate Price</mat-label>
                        <input matInput type="number" [(ngModel)]="salePercent" (keyup)="generatePrice($event)">
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="height: 44px;" class="col-lg-2"
                        (click)="generatePrice('generate')">Generate</button>

                </div>
                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Min ROL</mat-label>
                    <input matInput type="number" [(ngModel)]="minRol" (change)="global.avoidMinus($event)">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Max ROL</mat-label>
                    <input matInput type="number" [(ngModel)]="maxRol" (change)="global.avoidMinus($event)">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>GST(General Sales Tax)</mat-label>
                    <input matInput type="number" [(ngModel)]="gst" (change)="global.avoidMinus($event)">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>ET(Extra Tax)</mat-label>
                    <input matInput type="number" [(ngModel)]="Et" (change)="global.avoidMinus($event)">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                    <mat-label>PCT Code</mat-label>
                    <input matInput type="text" [(ngModel)]="pctCode">
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3 matSmall">
                    <mat-label>Allow Minus</mat-label>
                    <mat-select [(ngModel)]="allowMinus">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-3  matSmall">
                    <mat-label>Barcode Type</mat-label>
                    <mat-select [(ngModel)]="barcodeType">
                        <mat-option value="Basic">Basic</mat-option>
                        <mat-option value="Special">Special</mat-option>
                    </mat-select>
                </mat-form-field>


                <!-------------      Image and Description Section-->

                <div class="avatar-upload col-lg-2 ">
                    <div class="avatar-edit">
                        <input type="file" accesskey="g" id="prodimg" accept="" #prodimg
                            (change)="onImgSelected($event)" />
                        <label for="prodimg"><mat-icon class=" mt-1">edit</mat-icon></label>
                    </div>
                    <div class="avatar-del">
                        <label (click)="productImg = ''"><mat-icon class=" mt-1">delete</mat-icon></label>
                    </div>
                    <div class="avatar-preview">
                        <div (click)="this.global.showProductImage(productImg,0)" accesskey="i" id="imagePreview"
                            [ngStyle]="{ 'background-image': 'url(' + productImg + ')' }"></div>
                    </div>
                </div>



                <mat-form-field appearance="outline" class="col-lg-10 matSmall">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" rows="5" [(ngModel)]="Description"></textarea>
                </mat-form-field>






                <div class="p-5 ">
                    <button #toggleBtn class="btnsave me-5 w-25" accesskey="s" (click)="save() ">{{btnType}}</button>
                    <button class="btnreset w-25" (click)="reset('btn')">Reset</button>
                    <mat-checkbox [(ngModel)]="autoEmpty">Auto Empty</mat-checkbox>
                </div>

            </div>




        </div>





    </mat-tab>

    <mat-tab label="SAVED PRODUCTS">

        <div class="container-fluid  row pt-2">




            <mat-form-field appearance="outline" class="col-lg-5 matSmall">
                <mat-label>Search.....</mat-label>
                <input type="text" id="searchProduct" matInput #searchProd [(ngModel)]="searchProduct">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-2 matSmall">
                <mat-label>Sub Category</mat-label>

                <mat-select [(ngModel)]="subCategoryFilterID" (selectionChange)="filterProductList('subcat')">
                    <mat-option><ngx-mat-select-search #scfs [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                    <mat-option [value]="0">ALL</mat-option>
                    <mat-option *ngFor="let item of subCategoryFilterList | filter:scfs.value"
                        [value]="item.subCategoryID">{{item.subCategoryTitle}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-2 matSmall">
                <mat-label>Brand</mat-label>

                <mat-select [(ngModel)]="brandFilterID" (selectionChange)="filterProductList('brand')">
                    <mat-option><ngx-mat-select-search #bfs [placeholderLabel]="'Search...'"
                            [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                    <mat-option [value]="0">ALL</mat-option>
                    <mat-option *ngFor="let item of BrandList | filter:bfs.value"
                        [value]="item.brandID">{{item.brandTitle}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-2 matSmall">
                <mat-label>Status</mat-label>

                <mat-select [(ngModel)]="activeFilterID" (selectionChange)="filterProductList('status')">
                    <mat-option [value]="'-'">ALL</mat-option>
                    <mat-option [value]="true">Active</mat-option>
                    <mat-option [value]="false">Deactive</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-1 matSmall">
                <mat-label>Disc</mat-label>

                <mat-select [(ngModel)]="discFilterID" (selectionChange)="filterProductList('disc')">

                    <mat-option *ngFor="let item of DiscFilterList | filter:bfs.value"
                        [value]="item.val">{{item.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <hr>

            <div>
                <table class="table table-hover" style="font-size: 12px;">
                    <thead>
                        <th>S#</th>
                        <th class="cursorPointer" (click)="sortProds('productTitle')">Product Title</th>
                        <th *ngIf="!AutoFillProdNameFeature">Product Title 2</th>
                        <th class="cursorPointer" (click)="sortProds('barcode')">Product Barcode</th>
                        <th>Sub Category</th>
                        <th>Brand</th>

                        <th class="cursorPointer" (click)="sortProds('costPrice')">Cost Price</th>
                        <th class="cursorPointer" (click)="sortProds('salePrice')">Sale Price</th>
                        <th class="cursorPointer" (click)="sortProds('discPercentage')">Disc %</th>
                        <th>GST</th>
                        <th>Entered By</th>
                        <th>Edit</th>
                        <th>Active Status</th>
                        <th>Img</th>
                        <th>Del</th>
                        <th>Copy</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productList | filter:searchProduct |paginate:{
                        itemsPerPage : tableSize,
                        currentPage : page,
                        totalItems :    count,
                    }  ;index as index">
                            <td>{{index +1}}</td>
                            <td> {{item.productTitle}}</td>
                            <td *ngIf="!AutoFillProdNameFeature"> {{item.productTitleOtherLang}}</td>
                            <td>{{item.barcode}}</td>
                            <td>{{item.subCategoryTitle}}</td>
                            <td>{{item.brandTitle}}</td>

                            <td>{{item.costPrice}}</td>
                            <td>{{item.salePrice}}</td>
                            <td>{{item.discPercentage}}%</td>
                            <td>{{item.gst}}%</td>
                            <td>{{item.entryUser}}</td>
                            <td><mat-icon class="text-success cursorPointer" (click)="edit(item)">edit</mat-icon></td>
                            <td><mat-icon class="text-success cursorPointer"
                                    [ngClass]="item.activeStatus ? 'text-success' :'text-danger'"
                                    (click)="activeProduct(item)">{{item.activeStatus ? 'remove_circle' :
                                    'remove_circle'}}</mat-icon></td>
                            <td (click)="this.global.showProductImage('',item.productID)" class="cursorPointer">
                                <mat-icon>image</mat-icon></td>
                            <td><mat-icon class="text-danger cursorPointer" (click)="deleteProd(item)">delete</mat-icon></td>
                            <td><mat-icon class="cursorPointer" (click)="copyProd(item)">save</mat-icon></td>
                        </tr>
                    </tbody>

                </table>
                <br />
            </div>

            <!-- <div class="mat-elevation-z2">
                <table mat-table [dataSource]="dataSource" matSort>
              
             
                  <ng-container matColumnDef="Product Title" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Title </th>
                    <td mat-cell *matCellDef="let row "> {{row.productTitle}} </td>
                  </ng-container>
              
                  
                  <ng-container matColumnDef="Product Title 2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Title 2 </th>
                    <td mat-cell *matCellDef="let row"> {{row.productTitleOtherLang}} </td>
                  </ng-container>
              
              
                  <ng-container matColumnDef="Product Barcode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Barcode </th>
                    <td mat-cell *matCellDef="let row"> {{row.barcode}} </td>
                  </ng-container>
              
                 
                  <ng-container matColumnDef="Sub Category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category</th>
                    <td mat-cell *matCellDef="let row"> {{row.subCategoryTitle }} </td>
                  </ng-container>
          
                  <ng-container matColumnDef="Brand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                    <td mat-cell *matCellDef="let row"> {{row.brandTitle }} </td>
                  </ng-container>

                  <ng-container matColumnDef="UOM">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> UOM </th>
                    <td mat-cell *matCellDef="let row"> {{row.uomTitle }} </td>
                  </ng-container>
          

                  <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.productTypeTitle }} </td>
                  </ng-container>
          
          
                  <ng-container matColumnDef="Cost Price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost Price </th>
                    <td mat-cell *matCellDef="let row"> {{row.costPrice |number:'1.0-2'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Average Cost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Cost </th>
                    <td mat-cell *matCellDef="let row"> {{row.avgCostPrice |number:'1.0-2'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Sale Price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Price </th>
                    <td mat-cell *matCellDef="let row"> {{row.salePrice |number:'1.0-2'}} </td>
                  </ng-container>
                  

                  <ng-container matColumnDef="GST">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>GST</th>
                    <td mat-cell *matCellDef="let row"> {{row.gst}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Entered By">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Entered By</th>
                    <td mat-cell *matCellDef="let row"> {{row.entryUser}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Active Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Active Status</th>
                    <td mat-cell *matCellDef="let row"> 
                        <button mat-icon-button (click)="activeProduct(row)" color="primary" >
                            <mat-icon class="text-success cursorPointer"
                            [ngClass]="row.activeStatus ? 'text-success' :'text-danger'"
                           >{{row.activeStatus ? 'remove_circle' :
                            'remove_circle'}}</mat-icon>
                      </button> </td>
                  </ng-container>

                  <ng-container matColumnDef="Image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
                    <td mat-cell *matCellDef="let row">  <button mat-icon-button (click)="this.global.showProductImage('',row.productID)" 
                        class="cursorPointer"><mat-icon>image</mat-icon></button> </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                    <td mat-cell *matCellDef= "let row"> 
                      <button mat-icon-button class="text-success" (click)="edit(row)">
                        <mat-icon >edit</mat-icon>
                      </button>          
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                    <td mat-cell *matCellDef="let row">  <button (click)="deleteProd(row)" mat-icon-button color="warn">
                        <mat-icon >delete</mat-icon>
                      </button> </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                
                  <tr class="mat-row" *matNoDataRow style="border-bottom: 2px soli black;">
                    <td class="mat-cell" colspan="4">No data matching the filter "{{searchProd.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[100, 50, 25, 10]" aria-label="Select page of users"></mat-paginator>
              </div>
     -->
        </div> <!--End container div-->




    </mat-tab>



</mat-tab-group>


<div class="d-flex" *ngIf="tabIndex == 1"
    style="position: fixed; bottom: 32px !important; width: 100%; background-color: #fff; z-index: 100;">

    <pagination-controls previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>


    <mat-hint class=" me-1 text-secondary">Rows Per Page </mat-hint>
    <select class="text-white" style="height: 25px;background-color: rgb(75, 164, 248);"
        (change)="onTableSizeChange($event)">
        <option *ngFor=" let item of tableSizes" [selected]="tableSize == item">{{item}}</option>
    </select>

</div>