
<div class="container p-3 text-center">


    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">Change Password</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>


    <mat-form-field class="w-100" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Enter PinCode</mat-label>
        <input matInput type="password" [(ngModel)]="pinCode">
    </mat-form-field>


    <button mat-raised-button class="bg-success text-white" (click)="changePassword()">Save</button>


</div>
