
<div >


    <div class="text-center  mt-3 d-flex justify-content-between text-uppercase p-3"><p class="dialogueTitle">Change Password</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>
    <div  class="container p-3 text-center">
    

    <mat-form-field class="w-100 matSmall" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" id="pwd" #pwd [(ngModel)]="password">
        <mat-icon matSuffix (click)="global.showPassword($event,'#pwd')">{{pwd.type == 'password' ?'visibility_off':'visibility'}}</mat-icon>

    </mat-form-field>

    <mat-form-field class="w-100 matSmall" appearance="outline">
        <mat-label>Enter PinCode</mat-label>
        <input matInput type="password" id="pin" #pin [(ngModel)]="pinCode">
        <mat-icon matSuffix (click)="global.showPassword($event,'#pin')">{{pin.type == 'password' ?'visibility_off':'visibility'}}</mat-icon>

    </mat-form-field>
</div>


    
    <div class="bg-mf text-end p-3">
        <button mat-raised-button class="bg-success text-white me-1" (click)="changePassword()">Save</button>
        <button mat-raised-button class="bg-secondary text-white" (click)="closeDialogue()">Close</button>
    </div>
    

</div>

