<div>

    <form method="post">

        <div class="text-center">
            <mat-icon class="text-danger" style="height: 200px;width: 200px;font-size: 200px;">error_outline</mat-icon>
            <h3>{{modalText}}</h3>
        </div>


        <div class="bg-mf text-end p-3">
            <button mat-raised-button class="bg-primary text-white me-1" (click)="save()">Confirm</button>
            <button mat-raised-button class="bg-secondary text-white" (click)="closeDialogue()">Close</button>
        </div>


    </form>
</div>