<div id="billEnglish">

    <div class="p-1">

        <!--------------------- Company Detail Section Start------------------ -->
        <div class="text-center d-flex flex-column">
            <span> <img *ngIf="companyLogo && showCompanyLogo" [src]="companyLogo" [height]="logoHeight"
                    [width]="logoWidth"></span>
            <span class="text-uppercase" *ngIf="showCompanyName">{{companyName}}</span>
            <span class="fs-11 text-uppercase" *ngIf="companyAddress != '-'">{{companyAddress}}</span>
            <span *ngIf="CompanyMobile != '-'" class="fs-11">{{CompanyMobile}}</span>

            <span *ngIf="gstFeature && CompanyNTN != '-'" class="fs-11"><b>NTN:</b>{{CompanyNTN}} </span>
            <span *ngIf="gstFeature && CompanySTRN != '-'" class="fs-11"><b>STRN:</b> {{CompanySTRN}}</span>



        </div>
        <!--------------------- Company Detail Section  End------------------ -->

        <div>
            <table class="table-logix2 fs-13">
                <thead>
                    <tr>
                        <th>Inv #</th>
                        <th>Date</th>
                        <th>Counter</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>{{myInvoiceNo}}</td>
                        <td>
                            <span *ngIf="!VehicleSaleFeature">{{myCreatedDate | date:'dd-MM-yyyy hh:mm:a'}}</span>
                            <span *ngIf="VehicleSaleFeature">{{myInvDate | date:'dd-MM-yyyy'}}</span>
                        </td>
                        <td>{{myCounterName}}</td>
                    </tr>


                </tbody>
            </table>

            <table>
                <tr *ngIf="myFbrStatus">
                    <th class="fs-12">FBR Inv:-</th>
                    <td class="ms-2 fs-11">{{myFbrInvoiceNo}}</td>
                </tr>
                <tr *ngIf="VehicleSaleFeature">
                    <th class="fs-12">Vehicle No:-</th>
                    <td class="ms-2 fs-11">{{myVehicleNo}} <small>({{myVehicleName}})</small> </td>
                </tr>
                <tr *ngIf="VehicleSaleFeature">
                    <th class="fs-12">Reading:-</th>
                    <td class="ms-2 fs-11">{{myMeterReading}}</td>
                </tr>
                <tr *ngIf="myCustomerName != null">
                    <th class="fs-12">Customer:-</th>
                    <td class="ms-2 fs-11">{{myCustomerName}}</td>
                </tr>
                <tr *ngIf="myBookerName != null">
                    <th class="fs-12">Booker:- </th>
                    <td class="ms-2 fs-11">{{myBookerName}}</td>
                </tr>

                <tr class="fs-11">
                    <th class="fs-12">Remarks:- </th>
                    <td class="ms-2 fs-11">{{myRemarks}}</td>
                </tr>




            </table>
        </div>

        <div>
            <p class="border border-dark text-center mt-1 fw-bold" *ngIf="billType">{{billType}}</p>
            <p class="border border-dark text-center fw-bold">{{myInvType == 'S' ? 'Sale' : myInvType == 'SR'
                ?'SaleReturn' :''}}</p>
            <p *ngIf="myPaymentType == 'Complimentary'" class="border border-dark text-center fw-bold">Complimentary</p>
            <p *ngIf="myDuplicateFlag == true" class="border border-dark text-center fw-bold">Duplicate</p>
        </div>

        <div>

            <!---------------------- Bill Table Start------------------>
            <table class="w-100 table-garment-sale" *ngIf="billFormate1">
                <thead>
                    <tr class="fs-12">
                        <th style="width:10% !important;">Qty</th>
                        <th style="width:20% !important;" *ngIf="gstFeature">Gst</th>
                        <th style="width:20% !important;">Price</th>
                        <th style="width:10% !important;" *ngIf="discFeature">Disc Rs</th>
                        <th style="width:10% !important;" *ngIf="discFeature">Disc %</th>

                        <th style="width:20% !important;">Total</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of myPrintTableData index as index" style="font-size: 12px !important;">
                        <td [colSpan]="discFeature ? '6' : '4'" class="text-start">
                            &nbsp;{{index +1}}. <b> {{item.productTitle}}</b> {{item.barcode}}
                            <table class="table-garment-sale-2 w-100 " style="font-size: 12px !important;">
                                <tr>
                                    <td class="text-center" style="width:10% !important;">{{item.quantity
                                        |number:'1.0-2'}}</td>
                                    <td class="text-end" *ngIf="gstFeature" style="width:20% !important;">
                                        {{item.salePrice - (item.salePrice / ((item.gst + 100) / 100)) |number:'1.0-1'}}
                                    </td>
                                    <td class="text-end" style="width:20% !important;">{{(item.salePrice / ((item.gst +
                                        100) / 100))|number:'1.0-1'}}</td>
                                    <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                                        {{item.discInR|number:'1.0-1'}}</td>
                                    <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                                        {{item.discInP|number:'1.0-1'}}</td>
                                    <td class="text-end" style="width:20% !important;">{{(item.quantity *
                                        item.salePrice) - (item.discInR * item.quantity) |number:'1.0-1'}}</td>
                                </tr>
                            </table>
                        </td>


                    </tr>
                    <tr class="fs-11">
                        <td colspan="2" class="fw-bold">Total Items</td>
                        <td class="fw-bold fs-11">{{myQtyTotal | number:'1.0-2'}}</td>
                        <td colspan="2" *ngIf="discFeature"></td>
                    </tr>

                </tbody>
            </table>



            <table class="table table-sale" *ngIf="billFormate2">
                <thead>
                    <tr class="fs-10">
                        <th>S#</th>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th style="width:10% !important;" *ngIf="discFeature">D Rs</th>
                        <th style="width:10% !important;" *ngIf="discFeature">D %</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of myPrintTableData index as index" class="fs-12">
                        <td>{{index +1}}</td>
                        <td class="text-start">{{item.productTitle}}</td>
                        <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                        <td class="text-end">{{item.salePrice |number:'1.0-2'}}</td>
                        <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                            {{item.discInR|number:'1.0-1'}}</td>
                        <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                            {{item.discInP|number:'1.0-1'}}</td>
                        <td class="text-end" style="width:20% !important;">{{(item.quantity *
                            item.salePrice) - (item.discInR * item.quantity) |number:'1.0-1'}}</td>

                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="fw-bold">{{myQtyTotal | number:'1.0-2'}}</td>
                        <td></td>
                        <td colspan="2" *ngIf="discFeature"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>


            <!---------------------- Bill Table End------------------>




            <!--------------------------Bill Total Area Start ---------------------->



            <div class="d-flex justify-content-between">

                <div style="width: 40%;">
                    <table class="w-100 mt-2">
                        <tbody>
                            <tr class="text-center " *ngIf="gstFeature">
                                <td id="output" class="d-none"></td>
                                <td id="qrCode" class="qr-code-generator" style="border: 0px solid black;"></td>

                            </tr>
                            <tr class="text-center " *ngIf="!gstFeature">

                                <td style="font-size: 10px;">
                                    <img [src]="global.thankyouImage" height="100" width="100" /><br />
                                    FOR VISITING US.
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div style="width: 60%;">
                    <table class="w-100  text-uppercase">
                        <tbody>
                            <tr class="text-end border border-dark" *ngIf="myPOSFee > 0">
                                <th colspan="2">POS FEE</th>
                                <td></td>
                                <td colspan="2">{{myPOSFee | number:'1.0-2'}}</td>
                            </tr>


                            <tr class="text-end fw-bold fs-16">
                                <td colspan="2">Sub Total</td>
                                <td></td>
                                <td colspan="2">{{mySubTotal |number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end fs-14" *ngIf="gstFeature && myGstTotal > 0">

                                <td colspan="2">Gst</td>
                                <td></td>
                                <td colspan="2">{{myGstTotal |number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end fs-14" *ngIf="myAdvTaxValue > 0">
                                <td colspan="2">Adv Tax ({{myAdvTaxValue}}%)</td>
                                <td></td>
                                <td colspan="2"> {{myAdvTaxAmount|number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end fs-14" *ngIf="myOtherCharges > 0">
                                <td colspan="2">Other Charges</td>
                                <td></td>
                                <td colspan="2"> {{myOtherCharges|number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end fs-14" *ngIf="myOfferDiscount > 0">
                                <td colspan="2">Offer Disc</td>
                                <td></td>
                                <td colspan="2">{{myOfferDiscount|number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end fs-14" *ngIf="myDiscount - myOfferDiscount > 0">
                                <td colspan="2">Disc</td>
                                <td></td>
                                <td colspan="2">{{myDiscount - myOfferDiscount|number:'1.0-1'}}</td>

                            </tr>

                            <tr class="text-end fw-bold fs-16">
                                <td colspan="2">Net Total</td>
                                <td></td>
                                <td colspan="2">{{myNetTotal|number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end fs-14" *ngIf="myCash > 0">
                                <td colspan="2">Cash</td>
                                <td></td>
                                <td colspan="2">{{myCash|number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end fs-14" *ngIf="myBank > 0 ">
                                <td colspan="2">Bank</td>
                                <td></td>
                                <td colspan="2">{{ myBank |number:'1.0-1'}}</td>
                            </tr>
                            <tr class="text-end fs-14" *ngIf="myChange !== 0">
                                <td colspan="2">Change</td>
                                <td></td>
                                <td colspan="2">{{myChange|number:'1.0-1'}}</td>


                            </tr>

                            <tr class="text-end fw-bold" *ngIf="myCusBalance !== 0">
                                <td colspan="2">prv Blnc</td>
                                <td></td>
                                <td colspan="2" *ngIf="myChange > 0">{{myCusBalance | number:'1.0-1'}}</td>
                                <td colspan="2" *ngIf="myChange <= 0 && myInvType == 'S'">{{myCusBalance - ( -1 *
                                    myChange) |
                                    number:'1.0-1'}}
                                <td colspan="2" *ngIf="myChange <= 0 && myInvType == 'SR'">{{myCusBalance + ( -1 *
                                    myChange) |
                                    number:'1.0-1'}}
                                </td>

                            </tr>
                            <tr class="text-end fw-bold" *ngIf="myCusBalance !== 0">
                                <td colspan="2"> Net Blnc</td>
                                <td></td>
                                <td colspan="2">{{myCusBalance | number:'1.0-1'}}</td>

                            </tr>


                        </tbody>

                    </table>

                </div>

            </div>




            <!--------------------------Bill Total Area End ---------------------->

            <hr>
            <!-- <table>
        <tr class="fs-11">
            <th >Remarks:- </th>
            <td >{{myRemarks}}</td>
        </tr>
       </table> -->
            <div class="d-flex flex-column text-center">
                <!-- <span><b>Goods Once Sold Can Not be Replaced or Refunded. </b></span> -->
                <span style="font-size: 10px;"><b>Wish to serve you again.</b></span>

            </div>
            <div class="d-flex flex-column text-center">
                <span style="font-size: 10px;">Powered By : <b>Logix Solutionz | Mobile# 0313-5300471</b></span>
            </div>
            <div class="fs-12px d-flex flex-column">
                <!-- <span><b>Goods Once Sold Can Not be Replaced or Refunded. </b></span> -->
                <b></b>

                <!-- <span><b>Without Bill no return acceptable.</b></span>
                <span><b>Returns are acceptable within 3 days.</b></span>
                <span><b>Exchange is acceptable within 7 days.</b></span>
                <span><b>Specialy discounted items are not returnable.</b></span>
                <span><b>No Gurantee for Woolen items.</b></span> -->
            </div>

        </div>
    </div>



</div>



<div id="BillUrdu" class="d-none">

    <div class="p-1">
        <div class="text-center">
            <img *ngIf="companyLogo && showCompanyLogo" [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
            <h3 class="text-uppercase" *ngIf="showCompanyName">{{companyName}}</h3>
            <p class="fs-11 text-uppercase">{{companyAddress}}</p>
            <p style="margin-top: -20px;" class="fs-11">{{CompanyMobile}}</p>

        </div>


        <div>
            <table class="table-logix2 fs-13 urdu">
                <thead>
                    <tr>
                        <th> بل نمبر </th>
                        <th>تاریخ</th>
                        <th>کاؤنٹر</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>{{myInvoiceNo}}</td>
                        <td>{{myInvDate | date:'dd-MM-yyyy hh:mm:a'}}</td>
                        <td>{{myCounterName}}</td>
                    </tr>

                </tbody>
            </table>

            <table dir="rtl" class="w-100 justify-content-start urdu">
                <tr *ngIf="myCustomerName != null">

                    <th class="fs-12"> کسٹمر :</th>
                    <td class="ms-2 fs-11"> {{myCustomerName}}</td>
                    <td></td>
                </tr>
                <tr *ngIf="myBookerName != null">
                    <th class="fs-12"> سیل مین :</th>
                    <td class="ms-2 fs-11"> {{myBookerName}} </td>
                    <td></td>
                </tr>

                <tr class="fs-11">
                    <th class="fs-12"> ریمارکس : </th>
                    <td class="ms-2 fs-11">{{myRemarks}} </td>
                    <td></td>
                </tr>



            </table>
        </div>

        <div>
            <p class="border border-dark text-center mt-1" *ngIf="billType">{{billType}}</p>
            <p class="border border-dark text-center">{{myInvType == 'S' ? 'Sale' : myInvType == 'SR' ?'Sale Return'
                :''}}</p>
            <p *ngIf="myPaymentType == 'Complimentary'" class="border border-dark text-center">Complimentary</p>
            <p *ngIf="myDuplicateFlag == true" class="border border-dark text-center">Duplicate</p>
        </div>

        <div>

            <table class="w-100 table-garment-sale-Urdu" dir="rtl" *ngIf="billFormate1">

                <thead>
                    <tr class="text-center">

                        <th style="width:10% !important;"><b>تعداد</b></th>
                        <th style="width:20% !important;"><b>قیمت</b></th>
                        <th style="width:10% !important;" *ngIf="discFeature"><b>ڈسکاؤنٹ</b></th>
                        <th style="width:10% !important;" *ngIf="discFeature"><b>% ڈسکاؤنٹ</b></th>
                        <th style="width:20% !important;"><b>ٹوٹل</b></th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="fs-11" *ngFor="let item of myPrintTableData index as index">
                        <td [colSpan]="discFeature ? '5' : '3'" class="text-end">
                            &nbsp;{{index +1}} . <b> {{item.productTitleOtherLang}}</b> {{item.barcode}} <b
                                *ngIf="prodDetailFeature">(ڈیٹیل: {{item.productDetail}})</b>
                            <table class="table-garment-sale-2 w-100">
                                <tr>
                                    <td class="text-center" style="width:10% !important;">{{item.quantity
                                        |number:'1.0-2'}}</td>
                                    <td class="text-end" style="width:20% !important;">{{item.salePrice
                                        |number:'1.0-2'}}</td>
                                    <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                                        {{item.discInR|number:'1.0-2'}}</td>
                                    <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                                        {{item.discInP|number:'1.0-2'}}</td>
                                    <td class="text-end" style="width:20% !important;">{{(item.quantity *
                                        item.salePrice) - (item.discInR * item.quantity) |number:'1.0-2'}}</td>


                                </tr>
                            </table>
                        </td>


                    </tr>
                    <tr class="fs-11">


                        <td colspan="2">ٹوٹل ایٹم</td>
                        <td class="fw-bold">{{myQtyTotal | number:'1.0-2'}}</td>
                        <td colspan="3" *ngIf="discFeature"></td>

                    </tr>
                </tbody>

            </table>


            <table class="table table-sale" dir="rtl" *ngIf="billFormate2">
                <thead>
                    <tr class="fs-10">

                        <th> نمبر </th>
                        <th> ائٹم </th>
                        <th>تعداد</th>
                        <th>قیمت</th>
                        <th *ngIf="discFeature">ڈسکاؤنٹ</th>
                        <th *ngIf="discFeature">% ڈسکاؤنٹ</th>
                        <th>ٹوٹل</th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of myPrintTableData index as index" class="fs-12">
                        <td>{{index +1}}</td>
                        <td class="text-end">{{item.productTitleOtherLang}}</td>
                        <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                        <td class="text-end">{{item.salePrice |number:'1.0-2'}}</td>
                        <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                            {{item.discInR|number:'1.0-1'}}</td>
                        <td class="text-end" *ngIf="discFeature" style="width:10% !important;">
                            {{item.discInP|number:'1.0-1'}}</td>
                        <td class="text-end" style="width:20% !important;">{{(item.quantity *
                            item.salePrice) - (item.discInR * item.quantity) |number:'1.0-1'}}</td>

                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="fw-bold">{{myQtyTotal | number:'1.0-2'}}</td>
                        <td></td>
                        <td colspan="2" *ngIf="discFeature"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>



            <div class="d-flex justify-content-between">

                  <div style="width: 60%;">
                    <table class="w-100  table-garment-sale-Urdu-Bottom fw-bold " dir="rtl">
                        <tbody>
                            <tr class="text-end border border-dark" *ngIf="myPOSFee > 0">
                                <th colspan="2">POS FEE</th>
                                <td></td>
                                <td colspan="2">{{myPOSFee | number:'1.0-2'}}</td>
                            </tr>
                            <tr class="text-end">
                                <td></td>
                                <td>ٹوٹل</td>
                                <td class="text-start">{{mySubTotal |number:'1.0-1'}}</td>
                            </tr>
                            <tr class="text-end" *ngIf="myOtherCharges > 0">

                                <td class="text-start"> {{myOtherCharges|number:'1.0-1'}}</td>
                                <td></td>
                            </tr>
                            <tr class="text-end" *ngIf="myOfferDiscount > 0">
                                <td></td>
                                <!-- <td >Offer Disc</td> -->
                                <td class="urdu"> آفر ڈسکاؤنٹ </td>
                                <td class="text-start">{{myOfferDiscount|number:'1.0-1'}}</td>


                            </tr>
                            <tr class="text-end" *ngIf="myDiscount - myOfferDiscount > 0">
                                <td></td>
                                <td class="urdu">ڈسکاؤنٹ</td>
                                <td class="text-start">{{myDiscount - myOfferDiscount|number:'1.0-1'}}</td>

                            </tr>

                            <tr class="text-end">
                                <td></td>
                                <td class="urdu"><b>بل ٹوٹل</b></td>
                                <td class="text-start">{{mySubTotal + myOtherCharges - myDiscount|number:'1.0-1'}}</td>


                            </tr>
                            <tr class="text-end" *ngIf="myCash > 0 ">

                                <td></td>
                                <td class="urdu">کیش</td>
                                <td class="text-start">{{myCash|number:'1.0-1'}}</td>

                            </tr>
                            <tr class="text-end" *ngIf="myBank > 0 ">
                                <td></td>
                                <td>بینک</td>
                                <td class="text-start">{{myBank|number:'1.0-1'}}</td>
                            </tr>
                            <tr class="text-end" *ngIf="myChange !== 0">
                                <td></td>
                                <td class="urdu">بقایا</td>
                                <td class="text-start">{{myChange|number:'1.0-1'}}</td>
                            </tr>

                               <tr style="text-align:right; " *ngIf="myCusBalance !== 0">
                        <td></td>
                        <td class="urdu fw-bold">سابقا بقایا</td>
                        <td class="fw-bold text-start" *ngIf="myChange <= 0 && myInvType == 'S'">{{myCusBalance - ( -1 *
                            myChange) | number:'1.0-1'}}
                        <td *ngIf="myChange <= 0 && myInvType == 'SR'">{{myCusBalance + ( -1 * myChange) |
                            number:'1.0-1'}}
                        <td class="fw-bold text-start" *ngIf="myChange > 0">{{myCusBalance | number:'1.0-1'}}</td>



                    </tr>
                    <tr style="text-align:right;" *ngIf="myCusBalance !== 0">
                        <td></td>
                        <td class="urdu fw-bold">ٹوٹل بقایا</td>
                        <td class="fw-bold text-start">{{myCusBalance | number:'1.0-1'}}</td>


                    </tr>


                        </tbody>

                    </table>

                </div>

                <div style="width: 40%;">
                    <table class="w-100 mt-2" dir="rtl">
                        <tbody>
                            <tr class="text-center " *ngIf="gstFeature">
                                <td id="output" class="d-none"></td>
                                <td id="qrCode" class="qr-code-generator" style="border: 0px solid black;"></td>

                            </tr>
                            <tr class="text-center " *ngIf="!gstFeature">

                                <td style="font-size: 10px;">
                                    <img [src]="global.thankyouImage" height="100" width="100" /><br />
                                    FOR VISITING US.
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

              

            </div>



            <hr>


            <div class="w-100 ">
                <table class="w-100 text-center fs-12px ">
                    <tr>
                        <td><label style="font-family: urdu_noori;">تشریف لانے کا شکریہ</label></td>

                    </tr>
                    <div class="d-flex flex-column text-center">
                        <span style="font-size: 10px;">Powered By : <b>Logix Solutionz | Mobile# 0313-5300471</b></span>
                    </div>
                    <tr>
                        <!-- <td><label style="font-size:8px;">Software by Logix Solutions. Mob: <b>0313-5300471</b></label>
                        </td> -->
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>



<!-- <tr class="text-center">
    <td width="40%" rowspan="7" style="font-size: 10px;" >
        <img [src]="global.thankyouImage" height="80" width="80" /><br />
        FOR VISITING US.
    </td>
</tr> -->






<div id="printKOT">
    <div class="p-2">
        <div class="text-center dark ">
            <h2 style="border: 1px solid black;text-align: center;text-transform: uppercase;">{{companyName}}</h2>
            <!-- <h2 >ORDER NO: {{myOrderNo}}</h2>    -->
        </div>
        <div>
            <p *ngIf="myDuplicateFlag == true" class="border border-dark text-center fw-bold">Duplicate</p>
        </div>
        <div>

            <table class="table" style="font-size: 12px;width: 100%;">
                <thead>
                    <tr>
                        <th>Inv #</th>
                        <th>Date</th>
                        <th>Counter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{myInvoiceNo}}</td>
                        <td>{{myInvDate | date:'dd-MM-yyyy '}} ({{myInvTime|date:'hh:mm:ss:a'}})</td>
                        <td>{{myCounterName}}</td>
                    </tr>

                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Qty</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of myPrintData">
                        <td>{{item.productTitle}}</td>
                        <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                        <td class="text-center">{{item.salePrice * item.quantity |number:'1.0-2' }}</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>


<app-kotprint class="d-none"></app-kotprint>