<div id="billEnglish">
    <div class="text-center">
        <img *ngIf="companyLogo && showCompanyLogo" [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
        <h3 class="text-uppercase" *ngIf="showCompanyName">{{companyName}}</h3>
        <p   class="fs-11 text-uppercase">{{companyAddress}}</p>
        <p style="margin-top: -20px;" class="fs-11">{{CompanyMobile}}</p>

    </div>


    <div >
      <table class="table-logix2 fs-13">
        <thead>
            <tr>
                <th>Inv #</th>
                <th>Date</th>
                <th>Counter</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>{{myInvoiceNo}}</td>
                <td>{{myInvDate | date:'dd-MM-yyyy hh:mm:a'}}</td>
                <td>{{myCounterName}}</td>
            </tr>
           
        </tbody>
      </table>

  <table>
    <tr *ngIf="myCustomerName != null">
        <th class="fs-12">Customer:-</th>
        <td class="ms-2 fs-11">{{myCustomerName}}</td>
    </tr>
    <tr *ngIf="myBookerName != null">
        <th class="fs-12">Booker:- </th>
        <td class="ms-2 fs-11">{{myBookerName}}</td>
    </tr>
   
    <tr class="fs-11">
        <th class="fs-12">Remarks:- </th>
        <td class="ms-2 fs-11">{{myRemarks}}</td>
    </tr>
    
 
    
  </table>
    </div>
    <p class="border border-dark text-center mt-1 fw-bold" *ngIf="billType">{{billType}}</p>
    <p class="border border-dark text-center fw-bold">{{myInvType == 'S' ? 'Sale' : myInvType == 'SR' ?'Sale Return' :''}}</p>
    <p *ngIf="myPaymentType == 'Complimentary'" class="border border-dark text-center fw-bold">Complimentary</p>
    <p *ngIf="myDuplicateFlag == true" class="border border-dark text-center fw-bold">Duplicate</p>

    <div>
        <table class="w-100 table-garment-sale" style="font-size: 15px;">
            <thead >
                <tr class="fs-12">
                    <th style="width:10% !important;">Qty</th>
                    <th style="width:20% !important;" *ngIf="gstFeature">Gst</th>
                    <th style="width:20% !important;">Price</th>
                    <th style="width:10% !important;" *ngIf="discFeature">Disc Rs</th>
                    <th style="width:10% !important;" *ngIf="discFeature">Disc %</th>
                   
                    <th style="width:20% !important;">Total</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of myPrintTableData index as index" >
                    <td [colSpan]="discFeature ? '6' : '4'" class="text-start">
                        &nbsp;{{index +1}}. <b> {{item.productTitle}}</b>  {{item.barcode}}
                        <table class="table-garment-sale-2 w-100">
                            <tr>
                                <td class="text-center" style="width:10% !important;">{{item.quantity |number:'1.0-2'}}</td>
                                <td class="text-end" *ngIf="gstFeature" style="width:20% !important;">{{item.salePrice - (item.salePrice / ((item.gst / 100) + 1))   |number:'1.0-2'}}</td>
                                <td class="text-end" style="width:20% !important;">{{item.salePrice |number:'1.0-2'}}</td>
                                <td class="text-end" *ngIf="discFeature" style="width:10% !important;">{{item.discInR|number:'1.0-2'}}</td>
                                <td class="text-end"  *ngIf="discFeature"  style="width:10% !important;">{{item.discInP|number:'1.0-2'}}</td>
                                <td class="text-end" style="width:20% !important;">{{(item.quantity * item.salePrice) - (item.discInR * item.quantity) |number:'1.0-2'}}</td>
                            </tr>
                        </table>
                    </td>
                    

                </tr>
                <tr class="fs-11">
                    <td colspan="2" class="fw-bold">Total Items</td>
                    <td class="fw-bold fs-11">{{myQtyTotal | number:'1.0-2'}}</td>
                    <td colspan="2" *ngIf="discFeature"></td>
                </tr>
            </tbody>
        </table>



        <!-- <table class="table table-sale">
            <thead >
                <tr>
                    <th>S#</th>
                    <th>Title</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let item of myPrintTableData index as index">
                    <td>{{index +1}}</td>
                    <td class="text-start">{{item.productTitle}}</td>
                    <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                    <td class="text-end">{{item.salePrice |number:'1.0-2'}}</td>
                    <td class="text-end">{{item.quantity * item.salePrice |number:'1.0-2'}}</td>

                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="fw-bold">{{myQtyTotal | number:'1.0-2'}}</td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table> -->

      



       <table class="w-100  text-uppercase">
        <tbody class="fs-16 fw-bold">
                <tr class="text-center">
                    <td width="40%" rowspan="7" style="font-size: 10px;" >
                        <img [src]="global.thankyouImage" height="80" width="80" /><br />
                        FOR VISITING US.
                    </td>
                </tr>
       
            <tr class="text-end">
              
                <td></td>
                <td >Sub Total</td>
                <td  >{{mySubTotal - myGstTotal |number:'1.0-1'}}</td>
            
            </tr>
            <tr class="text-end" *ngIf="gstFeature && myGstTotal > 0">
              
                <td></td>
                <td >Gst</td>
                <td  >{{myGstTotal |number:'1.0-1'}}</td>
            
            </tr>
            <tr class="text-end"    *ngIf="myAdvTaxAmount > 0">
                <td></td>
                <td >Adv Tax ({{myAdvTaxValue}}%)</td>
                <td > {{myAdvTaxAmount|number:'1.0-1'}}</td>
             
            </tr>
            <tr class="text-end"    *ngIf="myOtherCharges > 0">
                <td></td>
                <td >Other Charges</td>
                <td > {{myOtherCharges|number:'1.0-1'}}</td>
             
            </tr>
            <tr class="text-end" *ngIf="myOfferDiscount > 0">
                <td></td>
                <td >Offer Disc</td>
                <td >{{myOfferDiscount|number:'1.0-1'}}</td>
                
            </tr>
            <tr class="text-end" *ngIf="myDiscount - myOfferDiscount > 0">
                <td></td>
                <td >Disc</td>
                <td >{{myDiscount - myOfferDiscount|number:'1.0-1'}}</td>
                
            </tr>
         
            <tr class="text-end">
                <td></td>
                <td >Net Total</td>
                <td >{{myNetTotal|number:'1.0-1'}}</td>
               
            </tr>
            <tr class="text-end" *ngIf="myPaymentType == 'Cash' || myPaymentType == 'Split' ">
                <td></td>
                <td >Cash</td>
                <td >{{myCash|number:'1.0-1'}}</td>
              
            </tr>
            <tr class="text-end" *ngIf="myPaymentType == 'Bank' || myPaymentType == 'Split' ">
                <td></td>
                <td >Bank</td>
                <td >{{myBank|number:'1.0-1'}}</td>
                <td></td>
            </tr>
            <tr class="text-end" *ngIf="myChange > 0">
                <td></td>
                <td >Change</td>
                <td >{{myChange|number:'1.0-1'}}</td>
                
         
            </tr>


            <tr style="text-align:right;" *ngIf="myBalanceData > 0">
                <td></td>
                <td >prv Blnc</td>
                <td *ngIf="myChange > 0"><b>{{myBalanceData | number}}</b></td>
                <td *ngIf="myChange <= 0"><b>{{myBalanceData - (-1 * myChange) | number}}</b></td>
                
            </tr>
            <tr  style="text-align:right;" *ngIf="myBalanceData > 0">
                <td></td>
                <td >Net Blnc</td>
                <td><b>{{myBalanceData | number}}</b></td>
              
            </tr>
            
        </tbody>
    </table>



        <hr>
       <!-- <table>
        <tr class="fs-11">
            <th >Remarks:- </th>
            <td >{{myRemarks}}</td>
        </tr>
       </table> -->
        <div class="fs-11 ">
            <!-- <span><b>Goods Once Sold Can Not be Replaced or Refunded. </b></span> -->
            <b></b>
            <span><b>Thank You for your visit.</b></span>
        </div>

    </div>

  

</div>

<div id="BillUrdu" class="d-none" >

    <div class="text-center">
        <img *ngIf="companyLogo && showCompanyLogo" [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
        <h3 class="text-uppercase" *ngIf="showCompanyName">{{companyName}}</h3>
        <p   class="fs-11 text-uppercase">{{companyAddress}}</p>
        <p style="margin-top: -20px;" class="fs-11">{{CompanyMobile}}</p>

    </div>


    <div >
      <table class="table-logix2 fs-13">
        <thead>
            <tr>
                <th>Inv #</th>
                <th>Date</th>
                <th>Counter</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>{{myInvoiceNo}}</td>
                <td>{{myInvDate | date:'dd-MM-yyyy hh:mm:a'}}</td>
                <td>{{myCounterName}}</td>
            </tr>
           
        </tbody>
      </table>

  <table>
    <tr *ngIf="myCustomerName != null">
        <th class="fs-12">Customer:-</th>
        <td class="ms-2 fs-11">{{myCustomerName}}</td>
    </tr>
    <tr *ngIf="myBookerName != null">
        <th class="fs-12">Booker:- </th>
        <td class="ms-2 fs-11">{{myBookerName}}</td>
    </tr>
   
    <tr class="fs-11">
        <th class="fs-12">Remarks:- </th>
        <td class="ms-2 fs-11">{{myRemarks}}</td>
    </tr>
    
 
    
  </table>
    </div>
    <p class="border border-dark text-center mt-1" *ngIf="billType">{{billType}}</p>
    <p class="border border-dark text-center">{{myInvType == 'S' ? 'Sale' : myInvType == 'SR' ?'Sale Return' :''}}</p>
    <p *ngIf="myPaymentType == 'Complimentary'" class="border border-dark text-center">Complimentary</p>
    <p *ngIf="myDuplicateFlag == true" class="border border-dark text-center">Duplicate</p>

    <div>
        
    <table class="w-100 table-garment-sale-Urdu"  dir="rtl">
 
     <thead >
         <tr class="text-center">
       
             <th style="width:10% !important;"><b>تعداد</b></th>
             <th style="width:20% !important;"><b>قیمت</b></th>
             <th style="width:10% !important;" *ngIf="discFeature"><b>ڈسکاؤنٹ</b></th>
             <th style="width:10% !important;" *ngIf="discFeature"><b>% ڈسکاؤنٹ</b></th>
             <th style="width:20% !important;"><b>ٹوٹل</b></th>  
             
         </tr>
     </thead>
     <tbody>
         <tr class="fs-11" *ngFor="let item of myPrintTableData index as index" >
             <td [colSpan]="discFeature ? '5' : '3'" class="text-end">
                &nbsp;{{index +1}} . <b> {{item.productTitleOtherLang}}</b>  {{item.barcode}}   <b *ngIf="prodDetailFeature">(ڈیٹیل: {{item.productDetail}})</b>
                 <table class="table-garment-sale-2 w-100">
                     <tr>
                        <td class="text-center" style="width:10% !important;">{{item.quantity |number:'1.0-2'}}</td>
                        <td class="text-end" style="width:20% !important;">{{item.salePrice |number:'1.0-2'}}</td>
                        <td class="text-end" *ngIf="discFeature" style="width:10% !important;">{{item.discInR|number:'1.0-2'}}</td>
                        <td class="text-end"  *ngIf="discFeature"  style="width:10% !important;">{{item.discInP|number:'1.0-2'}}</td>
                         <td class="text-end" style="width:20% !important;">{{(item.quantity * item.salePrice) - (item.discInR * item.quantity) |number:'1.0-2'}}</td>                    
          
                        
                     </tr>
                 </table>
             </td>
             

         </tr>
         <tr class="fs-11">
    
             
             <td colspan="2">ٹوٹل ایٹم</td>
             <td class="fw-bold">{{myQtyTotal | number:'1.0-2'}}</td>
             <td colspan="3" *ngIf="discFeature"></td>
             
         </tr>
     </tbody>

</table>


<table class="table-garment-sale-Urdu-Bottom " dir="rtl">
 <tbody class="fs-16 fw-bold">
    
     <tr class="text-end">
        <td></td>
         <td >ٹوٹل</td>
         <td  >{{mySubTotal |number:'1.0-1'}}</td>
     </tr>
     <tr class="text-end"    *ngIf="myOtherCharges > 0">
         
         <td > {{myOtherCharges|number:'1.0-1'}}</td>
         <td></td>
     </tr>
     <tr class="text-end" *ngIf="myOfferDiscount > 0">
         <td></td>
         <!-- <td >Offer Disc</td> -->
         <td></td>
         <td class="urdu">ڈسکاؤنٹ</td>
         <td >{{myOfferDiscount|number:'1.0-1'}}</td>
       

     </tr>
     <tr class="text-end" *ngIf="myDiscount - myOfferDiscount > 0">
        <td></td>
        <td class="urdu">ڈسکاؤنٹ</td>
         <td >{{myDiscount - myOfferDiscount|number:'1.0-1'}}</td>
       
     </tr>
  
     <tr class="text-end">
        <td></td>
        <td class="urdu"><b>بل ٹوٹل</b></td>
         <td >{{mySubTotal + myOtherCharges - myDiscount|number:'1.0-1'}}</td>
      

     </tr>
     <tr class="text-end" *ngIf="myPaymentType == 'Cash' || myPaymentType == 'Split' ">
         
        <td></td>
        <td class="urdu">کیش</td>
         <td >{{myCash|number:'1.0-1'}}</td>
     
     </tr>
     <tr class="text-end" *ngIf="myPaymentType == 'Bank' || myPaymentType == 'Split' ">
         <td></td>
         <td >Bank</td>
         <td >{{myBank|number:'1.0-1'}}</td>
         <td></td>
     </tr>
     <tr class="text-end" *ngIf="myChange > 0">
        <td></td>
        <td class="urdu">بقایا</td>
         <td >{{myChange|number:'1.0-1'}}</td>
       
    
  
     </tr>


     <tr style="text-align:right;">
        <td></td>
        <td class="urdu">سابقا بقایا</td>
        <td *ngIf="myChange <= 0"><b>{{myBalanceData - (-1 * myChange) | number}}</b></td>
         <td *ngIf="myChange > 0"><b>{{myBalanceData | number}}</b></td>
    
        
   
     </tr>
     <tr  style="text-align:right;">
        <td></td>
        <td class="urdu">ٹوٹل بقایا</td>
         <td><b>{{myBalanceData | number}}</b></td>
         

     </tr>

   
     
 </tbody>
</table>

<hr>


 <div class="w-100">
    <table class="w-100 text-center">
     <tr  >
         <td><label style="font-size:10px; font-family: urdu_noori;">تشریف لانے کا شکریہ</label></td>
         
     </tr>
     <tr>
         <td><label style="font-size:8px;">Software by Logix Solutions. Mob: <b>0313-5300471</b></label></td>
     </tr>
    </table>
 </div>

 </div>



<!-- <tr class="text-center">
    <td width="40%" rowspan="7" style="font-size: 10px;" >
        <img [src]="global.thankyouImage" height="80" width="80" /><br />
        FOR VISITING US.
    </td>
</tr> -->

