
    <div class="container  p-2  min-600 " >


       <div class="row">
        <button mat-fab color="primary" class="col-sm-1 ms-1 " *ngIf="crudList.c" (click)="addTable()"><mat-icon>add</mat-icon></button>

        <mat-form-field class="col-sm-11 ps-1" appearance="outline">
            <mat-label class="ps-5">Search.....</mat-label>
            <input #caSearch matInput type="search" class="text-secondary">
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>
       </div>


        <table class="table" *ngIf="crudList.r">

            <thead>
                <tr>
                    <th>S#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cookingAreaList| filter:caSearch.value index as index">
                    <td>{{index +1}}</td>
                    <td>{{item.cookingAriaTitle}}</td>
                    <td>{{item.cookingAriaDescription}}</td>
                    <td class="cursorPointer text-success"><button mat-icon-button *ngIf="crudList.u" (click)="editTable(item)"><mat-icon>edit</mat-icon></button></td>
                    <td class="cursorPointer"><button mat-icon-button (click)="activeCookingArea(item)">
                        <mat-icon class="text-danger" *ngIf="item.cookingAriaActiveStatus == true && crudList.u">block</mat-icon>
                        <mat-icon class="text-success" *ngIf="item.cookingAriaActiveStatus == false && crudList.u">check</mat-icon>
                    </button></td>
                   
                    <td class="cursorPointer text-danger"><button mat-icon-button *ngIf="crudList.d" (click)="delete(item)"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </tbody>
            
        </table>
    
    
    
    
    
    
    
    
    </div>



