<div class="h-100 body ">
    <div class="container  p-2  min-600 " >


       <div>
        <button mat-fab color="primary" class="col-lg-1 me-2" (click)="addTable()"><mat-icon>add</mat-icon></button>

        <mat-form-field class="col-lg-11" appearance="outline">
            <mat-label class="ps-5">Search.....</mat-label>
            <input [(ngModel)]="menuSearch" matInput type="search" class="text-secondary">
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>
       </div>


        <table class="table">

            <thead>
                <tr>
                    <th>S#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableList index as index">
                    <td>{{index +1}}</td>
                    <td>{{item.cookingAriaTitle}}</td>
                    <td>{{item.cookingAriaDescription}}</td>
                    <td class="cursorPointer text-success"><button mat-icon-button (click)="editTable(item)"><mat-icon>edit</mat-icon></button></td>
                    <td class="cursorPointer"><button mat-icon-button (click)="activeCookingArea(item)">
                        <mat-icon class="text-danger" *ngIf="item.cookingAriaActiveStatus == true">block</mat-icon>
                        <mat-icon class="text-success" *ngIf="item.cookingAriaActiveStatus == false">check</mat-icon>
                    </button></td>
                   
                    <td class="cursorPointer text-danger"><button mat-icon-button (click)="delete(item)"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </tbody>
            
        </table>
    
    
    
    
    
    
    
    
    </div>
</div>


