.searchProduct:focus{
  
    outline: none;
}

.searchProduct{
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    background-color:transparent;
    border: 1px solid rgb(13, 110, 253);
    border-radius: 5px ;
}


.prodBtn:focus{
    outline: none;
    color: rgb(255, 255, 255) !important;
    background-color: black !important;
    zoom: 1;
   
}

.SearchConatiner{
// border: 0px solid rgb(180, 180, 180);
// background-color: rgb(249, 249, 249);

margin-top: 55px;
width:55%;
z-index:1000;
position: absolute;
max-height: 250px;
overflow: hidden;
// max-width: 500px;


.SearchConatiner , .card{
    background-color: rgb(247, 242, 242);
    // padding: 10px;
    // margin: 1px;
  
}



.SearchConatiner, p{
    padding: 10px;
    text-decoration: none;
    height: 30px;
    display: block;
 }

}


.font-digit{
    font-family: 'digital';
  }


::ng-deep .cdk-overlay-container{
    z-index:2000;
  }