<div class="body" ondblclick="return false" style="background-color: #e0f1fc;">

    <div class="row">
   <!------------------ column 1 bill side ---------------->

        <div class="col-md-9 pe-2">

            <div style="border-radius: 5px 5px 5px 5px;height: 84vh;">

                <!------------------------- Search Bar Area ------------------>
                <div class="ps-1">
                     <mat-label class="text-secondary">Search Barcode / Product</mat-label>
                </div>
                <div class="ps-1 d-flex">
                   
                    <!-------------------- Product Search Bar --------------->

                    <div class="col-md-9  d-flex flex-column">
                        
                        <input type="text" [(ngModel)]="PBarcode" id="vssearchProduct"
                            (keydown)="searchByCode($event);changeFocus($event,'.prodRow');focusTo($event,'#cash')"
                            class="p-1 ps-2 searchProduct w-100" placeholder="Alt + b" (focus)="rowFocused = -1"
                            autocomplete="off" accesskey="b">

                        <div class="d-flex flex-column SearchConatiner cursorPointer"
                            *ngIf="PBarcode != '' && PBarcode != undefined && byNameSearch">
                            <mat-card class="card "
                                *ngFor="let item of productList| filter:PBarcode | slice:0:25 index as index"
                                (click)="holdDataFunction(item);">
                                <button style="height: 40px; background: none;border: none;text-align: left;"
                                    (focus)="prodFocusedRow = index"
                                    class="prodRow{{index}} prodBtn justify-content-between d-flex" [accessKey]="index"
                                    (keydown)="handleProdFocus(item,$event,'.prodRow','.searchProduct',productList)">
                                    <p>{{item.productTitle}} <b>({{item.salePrice}})</b></p>
                                    <p><strong>({{item.barcode}})</strong></p>
                                </button>
                            </mat-card>
                        </div>
                    </div>
                    <div class="col-md-3 ps-1    text-start">
                        <button class="btnload w-50 " style="height: 40px;" (click)="ngOnInit()">Load</button>
                        <mat-checkbox class="w-50 " [(ngModel)]="byNameSearch">Name Search</mat-checkbox>
                    </div>

                </div>

                <!-------------------------------Bill Products Area ------------------>

                <div class="billArea ps-1 pt-1" style="height: 78vh;overflow-y: auto;">
                    <table class="table-logix">
                        <thead>
                            <tr>
                                <th class="cursorPointer">S#</th>
                                <th>Title</th>
                                <th>Qty</th>
                                <th *ngIf="gstFeature">Price Exc Gst</th>
                                <th *ngIf="gstFeature">Price Inc Gst</th>
                                <th *ngIf="!gstFeature">Price</th>
                                <th *ngIf="discFeature">Disc Rs</th>
                                <th *ngIf="discFeature">Disc %</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tableDataList index as index"
                                (click)="showImg(item);rowFocused = index;" [ngClass]="rowFocused == index ?'bg-dg':''">
                                <td class="text-center">{{index +1}}</td>
                                <td>{{item.productTitle}} <b>({{item.barcode}})</b> <small>{{item.flavourTitle}}</small>
                                </td>

                                <td class="text-center"><input type="text" [readOnly]="true" [(ngModel)]="item.quantity"
                                        min="0" (keydown)="this.handleNumKeys(item,$event,'.qty',index);getTotal();"
                                        (keyup)="getTotal();showImg(item);" (keypress)="openQtyModal($event,item)"
                                        (click)="openQtyModal($event,item)" class="qty{{index}} text-center"
                                        style="width: 80px;"></td>
                                <td class="text-end cursorPointer" *ngIf="gstFeature">{{item.salePrice / ((item.gst
                                    /100) + 1) |number:'1.0-1'}}</td>
                                <td class="text-end cursorPointer">{{item.salePrice|number:'1.0-3'}}</td>

                                <td *ngIf="discFeature" class="text-end cursorPointer">{{item.discInR|number:'1.0-3'}}
                                </td>
                                <td *ngIf="discFeature" class="text-end cursorPointer">{{item.discInP|number:'1.0-3'}}
                                </td>

                                <td class="text-end"> {{(item.quantity * item.salePrice) - (item.discInR *
                                    item.quantity) |number:'1.0-0'}}</td>
                                <td class="cursorPointer text-center text-danger"><mat-icon
                                        (click)="delRow(item)">close</mat-icon></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

         <!------------------ column 2 Amount side area ---------------->
        <div class="col-md-3 border-1 border-start border-top border-dark">
            <div class="pt-1 totalArea" style="height: 82vh;overflow-y: scroll;overflow-x: hidden;">
                <div class="w-100">
                    <mat-card class="p-1 w-100 d-flex justify-content-center " style="height: 150px;width: 380px;">
                        <div class="text-center" *ngIf="tableDataList != ''">
                            <img [src]="productImage || ''" alt="" class="prodImg" alt="Img not Found" accesskey="i"
                                (click)="this.global.showProductImage(this.productImage,0)">
                        </div>
                    </mat-card>
                </div>

                <div class="d-flex pb-1 flex-column border-bottom">
                    <div class=" pt-3 d-flex justify-content-between">
                        <p style="font-size: 12px;color: rgb(0, 0, 0);">TOTAL</p>
                        <p style="font-size: 2.5rem;color: rgb(255, 0, 0);" class="font-digit text-end">{{subTotal
                            |number:'1.0-1'}}
                        </p>
                    </div>
                    <div class="pt-3 d-flex justify-content-between" *ngIf="discFeature">
                        <p style="font-size: 12px;color: rgb(0, 0, 0);">OFFER DISCOUNT</p>
                        <p style="font-size: 2rem;" class="font-digit text-end">{{offerDiscount
                            |number:'1.0-1'}}
                        </p>
                    </div>


                    <div class="d-flex justify-content-between">
                        <p class="text-primary cursorPointer" style="font-size: 12px;" accesskey="t"
                            (click)="onDiscountClick()">ADD DISCOUN<u>T</u></p>
                        <p style="font-size: 2rem;color: rgb(9, 9, 9);" class="font-digit text-end">{{discount
                            |number:'1.0-1'}}
                    </div>
                    <div class="d-flex justify-content-between">
                        <!-- <div class=" col-lg-6">
                        <p style="font-size: 15px;color: rgb(6, 6, 6)" class="text-end">SERVICE CHARGES</p>
                        <input class="bg-dark border-0 text-white text-end font-digit w-100" id="charges"
                            style="font-size: 30px;" type="text" [(ngModel)]="otherCharges" (keyup)="getTotal()"
                            (keydown)="getTotal();this.global.handleNumKeys($event);focusTo($event,'#cash')" />
                    </div> -->
                    </div>
                    <div class=" col-lg-12 d-flex justify-content-between  pt-1">
                        <p style="font-size: 12px;color: rgb(6, 6, 6)" class="w-25"><u>C</u>ASH</p>
                        <input class="bg-success border-0  text-white text-end font-digit w-75 rounded-2" id="cash"
                            accesskey="c" style="font-size: 2rem;" type="text" [(ngModel)]="cash" (keyup)="getTotal()"
                            autocomplete="off"
                            (keydown)="getTotal();this.global.handleNumKeys($event);focusTo($event,'#save')" />
                    </div>
                    <div class="">
                        <div class="w-100 d-flex justify-content-between">
                            <p style="font-size: 12px;color: rgb(3, 3, 3)">NET TOTAL</p>
                            <p style="font-size: 2rem;color: rgb(19, 83, 27);" class="font-digit pt-1 text-end">
                                {{netTotal || 0
                                |number:'1.0-1'}}</p>
                        </div>
                        <div class="w-100 d-flex justify-content-between">
                            <p style="font-size: 12px;color: rgb(3, 3, 3)">CHANGE</p>
                            <p style="font-size: 2rem;color: rgb(0, 0, 0);" class="font-digit pt-1 text-end">{{change ||
                                0
                                |number:'1.0-1'}}</p>
                        </div>
                    </div>
                </div>

                <!-- <mat-form-field appearance="outline" class="w-100 matSmall">
                    <mat-label><u>R</u>emarks</mat-label>
                    <textarea matInput accesskey="r" rows="1" [(ngModel)]="billRemarks"></textarea>
                </mat-form-field> -->



                <div class="row pt-1 ">
                    <div class="col-md-3 pb-1">
                        <button class="delBtn w-100" matTooltip="Void Full Bill" 
                            (click)="voidBill()"><mat-icon>delete_outline</mat-icon></button>
                    </div>
                    <div class="col-md-9">
                        <button class="btnsave w-100 " accesskey="s" id="save"
                            (click)="save('Cash',true)"><u>S</u>ave</button>
                        <button class="btnsave w-100 text-center d-none" accesskey="." id="save"
                            (click)="save('Cash',false)"><u>S</u>ave</button>
                    </div>


                </div>
                <div class="row pt-1 ">
                    <div class="col-md-3 pb-1">
                        <button class="btnduplicate w-100" accesskey="u"
                            (click)="openDuplicateModal()">D<u>u</u>plicate</button>
                    </div>

                    <div class="col-md-9">
                        <button accesskey="o" class="btnload pt-2 w-100  btn-primary" (click)="openPaymentModal()">
                            <div class=" d-flex justify-content-between">
                                <span><u>O</u>ther</span>
                                <span><mat-icon>keyboard_arrow_right</mat-icon></span>
                            </div>
                        </button>
                    </div>
                </div>


                <div class="fw-bold">
                    <span> Prev Cash / Change : {{this.tmpCash | number}} / {{this.tmpChange | number}}</span>

                </div>

            </div>


        </div>

    </div>

</div>



<!----------------Modal Window for Discount Enter ---------->



<div class="modal fade" id="discountModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="discountModalLabel">
    <div class="modal-dialog modal-dialog-scrollables modal-dialog-centered modal-sm">
        <div class="modal-content " style="background-color: rgb(248, 247, 247);">

            <form action="" method="post">
                <div class="modal-body">

                    <mat-form-field appearance="outline" class="w-50 pe-1 matSmall">
                        <mat-label>Discount Amount</mat-label>
                        <input matInput autofocus name="discAmnt" id="discR" type="text" (keyup)="onDiscChange('amt')"
                            [(ngModel)]="tempDisc" (keydown)="this.global.handleNumKeys($event);" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-50 matSmall">
                        <mat-label>Discount %</mat-label>
                        <input matInput autofocus name="discPerc" id="discP" type="text"
                            (keyup)="onDiscChange('percent')" [(ngModel)]="DiscPercent"
                            (keydown)="this.global.handleNumKeys($event);" />

                    </mat-form-field>

                </div>

                <div class="modal-footer bg-mf-blue">
                    <button class="btnsave" data-bs-dismiss="modal" (click)="EnterDiscount(tempDisc)">Save</button>
                    <button type="button" class="btnclose" data-bs-dismiss="modal">Close</button>
                </div>

            </form>


        </div>
    </div>
</div>

<!---------------------------------------------------------->




<!----------------Modal Window for Payment Mehtod ---------->



<div class="modal fade" id="paymentMehtod" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="paymentMehtodLabel">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered ">
        <div class="modal-content " style="background-color: rgb(248, 247, 247);">
            <div class="modal-header">
                <h2 class="modal-title" id="paymentMehtodLabel">Payment Method</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onPaymentModalClose()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="d-flex justify-content-between">
                    <h2 class="text-center text-success">Bill Total: <b class="font-digit">{{netTotal |
                            number:'1.0-1'}}</b></h2>
                    <h2 class="text-center text-danger">Change: <b class="font-digit">{{ change |
                            number:'1.0-1'}}</b></h2>
                </div>
                <mat-form-field appearance="outline" *ngIf="disableDate" class="w-100 matSmall">
                    <mat-label>Invoice Date</mat-label>
                    <input [(ngModel)]="InvDate" readonly="true" matInput type="text" name="voucherDate"
                        [matDatepicker]="voucherDate">
                    <mat-datepicker-toggle matSuffix [for]="voucherDate"></mat-datepicker-toggle>
                    <mat-datepicker #voucherDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6 pe-1 matSmall">
                    <mat-label>Customer Name</mat-label>
                    <input type="text" matInput [(ngModel)]="customerName" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-6 w-50 matSmall">
                    <mat-label>Customer Mobile</mat-label>
                    <input matInput type="text" maxlength="12" [textMask]="{mask:mobileMask}"
                        [(ngModel)]="customerMobileno" />
                    <mat-hint class="w-100 text-end fw-bold text-secondary">{{customerMobileno.length}} /
                        12</mat-hint>
                </mat-form-field>

                <!-- 
                     <div class="w-100 mb-3" *ngIf="customerFeature">
                        <ng-select class="w-100 custom" placeholder="Customer" appearance="outline"
                            [(ngModel)]="partyID" (ngModelChange)="partySelect()" name="customer">
                            <ng-option [value]="0">WalkIn Customer</ng-option>
                            <ng-option *ngFor="let item of partyList " [value]="item.partyID">
                                {{item.partyName}}</ng-option>
                        </ng-select>
                    </div> -->


                <mat-form-field appearance="outline" class="w-100 matSmall">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput rows="1" [(ngModel)]="billRemarks"></textarea>
                </mat-form-field>


                <mat-form-field appearance="outline" class="w-100 matSmall">
                    <mat-label>Payment Type</mat-label>
                    <mat-select #pType [(ngModel)]="paymentType" (selectionChange)="cash = 0;getTotal()">
                        <!-- <mat-option value="Credit" *ngIf="customerFeature">Credit</mat-option> -->
                        <mat-option value="Cash">Cash</mat-option>
                        <mat-option value="Bank">Bank</mat-option>
                        <mat-option value="Split">Split</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-card class=" p-2 bg-warning" *ngIf="paymentType !== ''">

                    <div class="d-flex justify-content-between text-center mb-2"
                        *ngIf="paymentType == 'Cash' || paymentType == 'Split' || paymentType == 'Credit'">
                        <div style="width: 150px;"></div>
                        <mat-label style="font-size: 25px;" class="text-end">Cash:</mat-label>
                        <input type="number" style="font-size: 25px;width: 120px;" class="font-digit text-end"
                            (keydown)="this.global.handleNumKeys($event);getTotal()" (keyup)="getTotal()"
                            [(ngModel)]="cash" />
                    </div>

                    <div class="d-flex justify-content-between  "
                        *ngIf="paymentType == 'Bank' || paymentType == 'Split' || paymentType == 'Credit'">
                        <select [(ngModel)]="bankCoaID " style="width: 150px;">
                            <option *ngFor="let item of bankCoaList" [value]="item.coaID">{{item.coaTitle}}</option>
                        </select>
                        <mat-label style="font-size: 25px;">Bank:</mat-label>

                        <input type="number" [disabled]="paymentType == 'Bank' || paymentType == 'Split'"
                            style="font-size: 25px;width: 120px;" class="font-digit text-end"
                            (keydown)="this.global.handleNumKeys($event);getTotal()" (keyup)="getTotal()"
                            [(ngModel)]="bankCash" />
                    </div>

                </mat-card>


            </div>

            <div class="modal-footer bg-mf-blue">
                <button class="btnsave" (click)="save(pType.value,true)">Save</button>
                <button type="button" class="btnclose" data-bs-dismiss="modal"
                    (click)="onPaymentModalClose()">Close</button>
            </div>


        </div>
    </div>
</div>

<!---------------------------------------------------------->




<!------------------------- Modal Window for Saved Bill =----------------->


<div class="modal fade" id="SavedBillModal" tabindex="-1" aria-labelledby="SavedBillModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-xl">
        <div class="modal-content">

            <app-saved-bill (changePaymentEmitter)="changePayment($event)" (sendToFbrEmitter)="sendToFbr($event)"
                (printDuplicateEmitter)="printDuplicateBill($event)" (billDetailEmitter)="billDetails($event)"
                (postBillEmitter)="postSaleBill($event)" [savedbillList]="savedbillList"></app-saved-bill>


            <app-sale-bill-print id="print-bill" class="hide"></app-sale-bill-print>
        </div>
    </div>
</div>