<mat-tab-group  mat-align-tabs="center"
class="h-100"
[selectedIndex]="tabIndex"
(selectedIndexChange)="changeTabHeader($event)">
    <mat-tab label="ADD Role" class="h-100">
        <div class="container-fluid">

            <div class="d-flex pt-3">
                <mat-form-field class="w-25 p-2" appearance="outline">
                    <mat-label>Role Title</mat-label>
                    <input matInput type="text" [(ngModel)]="roleTitle" >
                </mat-form-field>

                <mat-form-field class="w-75 p-2" appearance="outline">
                    <mat-label>Role Description</mat-label>
                    <input matInput type="text" [(ngModel)]="roleDescription" >
                </mat-form-field>
         
        
            </div>
        
            <div class="d-flex ">

                <div class="col-lg-4 h-100 border  p-2 " style="min-height: 500px;">

                    <mat-form-field class="w-100">
                        <mat-label>Select Module</mat-label>
                        <mat-select > 
                            <mat-option *ngFor="let item of moduleList"  [value]="item.moduleID">{{item.moduleTitle}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <table class="table-logix2">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Write</th>
                                <th>Read</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>All</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col-lg-8">

                </div>
        
        
            </div>
        
        
        
        
        </div>
        
    </mat-tab>
</mat-tab-group>