
    <div >

       <form  method="post">
        <div class="text-center  mt-3 d-flex justify-content-between p-3">
            <p class="dialogueTitle">ADD {{Title}}</p><mat-icon class="cursorPointer"
                (click)="closeDialogue()">cancel</mat-icon>
        </div>
        <div class="container p-2">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter {{Title}}</mat-label>
                <input matInput autofocus name="pin" type="password" id="pin" #pin [(ngModel)]="pinCode">
                <mat-icon matSuffix (click)="global.showPassword($event,'#pin')">{{pin.type == 'password' ?'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>
        </div>


        <div class="bg-mf text-end p-3">
            <button mat-raised-button class="bg-success text-white me-1" (click)="save()">Save</button>
            <button mat-raised-button class="bg-secondary text-white" (click)="closeDialogue()">Close</button>
        </div>
        
       
       </form>
    </div>

   


