<div class="d-flex topNavMenuList border-start nav">
        <ul class="nav " *ngFor="let item of menuList; let i = index">
          <li class="nav-item" *ngIf="item.parentMenuID == 0 && item.isParentMenu == false">
            <a class="list-itm" routerLink="/{{item.moduleLink}}/{{item.menuLink}}" routerLinkActive="active">
              {{ item.menuTitle }}
            </a>
          </li>



          <li class="nav-item dropdown cursorPointer" *ngIf="item.isParentMenu == true && item.childCount > 0">


            <a class="list-itm" [matMenuTriggerFor]="menu">{{ item.menuTitle }}<mat-icon
                class="sideicon mb-1">arrow_drop_down</mat-icon></a>

            <div>
              <mat-menu #menu="matMenu" [scrollLeft]="false" class="dropdown-content">
                <span *ngFor="let row of menuList">
                  <a *ngIf="item.menuID == row.parentMenuID" style="min-width: 200px !important;" class="list-itm"
                    routerLink="/{{row.moduleLink}}/{{row.menuLink}}" routerLinkActive="active">{{row.menuTitle}}</a>
                </span>

              </mat-menu>

            </div>
          </li>

        </ul>




      </div>
