<div  class="d-flex bg-gray h-100">

    <div class="col-lg-4 bg-white p-5 ">
        <h2 class="border-bottom">Department Detail's</h2>
        


        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Department Title</mat-label>
            <input matInput type="text" [(ngModel)]="departmentName" >
        </mat-form-field>


        

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="description"  ></textarea>
        </mat-form-field>

        <div class="row justify-content-around">
            <button class="btn btn-success w-25" (click)="save()">{{actionbtn}}</button>
            <button class="btn btn-danger w-25" (click)="reset()">Reset</button>
        </div>
        

    </div>

    <div class="col-lg-8 p-4">


        <mat-form-field class="w-100" appearance="outline">
            <mat-label class="ps-5">Search.....</mat-label>
            <input [(ngModel)]="txtSearch" matInput type="search" class="text-secondary">
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>


        <div>
            <table class="table-logix2">
                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of departmentList | filter:txtSearch index as index">
                        <td>{{index+1}}</td>
                        <td>{{item.departmentTitle}}</td>
                        <td>{{item.departmentDescription}}</td>
                        <td ><button  mat-mini-fab class="bg-success text-white  " (click)="editDepartment(item)"><mat-icon  >edit</mat-icon></button></td>
                        <td ><button  mat-mini-fab color="warn"  (click)="deleteDepartment(item)"><mat-icon>delete</mat-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    


    </div>


</div>

