<div class="body container">

    <div class="p-2 row justify-content-center">
        <button type="button" mat-fab color="primary" autofocus (click)="addPayment()"><mat-icon>add</mat-icon></button>
        <mat-form-field appearance="outline" class="col-lg-11">
            <mat-label>Search....</mat-label>
            <input matInput #search  />
        </mat-form-field>
    </div>

    <div class="p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Date</th>
                    <th>Inv No.</th>
                    <th>Supplier</th>
                    <th>Amount</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="crudList.r">
                <tr *ngFor="let item of paymentList |filter:search.value index as index">
                    <td >{{index +1}}</td>
                    <td >{{item.invoiceDate | date:'dd-MM-YYYY'}}</td>
                    <td >{{item.invoiceNo }}</td>
                    <td >{{item.partyName }}</td>
                    <td >{{item.amount |number:'1.0-1'}}</td>
                    <td>{{item.invoiceRemarks }}</td>
                    <td class="cursorPointer">
                        <mat-icon class="text-success" *ngIf="crudList.u" (click)="edit(item)">edit</mat-icon>
                        <mat-icon class="text-danger" *ngIf="crudList.d" (click)="delete(item)">delete</mat-icon>
                        <mat-icon class="text-success" (click)="VoucherDetails(item)">receipt</mat-icon>
                    </td>
                    </tr>
            </tbody>
        </table>
    </div>

</div>


