<div class="body container">

    <div class="p-2 row justify-content-center">
        <button type="button" mat-fab color="primary" (click)="addPayment()"><mat-icon>add</mat-icon></button>
        <mat-form-field appearance="outline" class="col-lg-11">
            <mat-label>Search....</mat-label>
            <input matInput #paymentSearch  />
        </mat-form-field>
    </div>

    <div class="p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
