<div >

    <div class="p-2 text-center border-bottom mb-3  mt-3 d-flex justify-content-between"><p class="dialogueTitle">ADD Table</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>


   <div class="ps-4 pe-4 pt-1 pb-1 h-100">
    <mat-form-field class="w-100 matSmall" appearance="outline">
        <mat-label>Table</mat-label >
        <input type="text" [(ngModel)]="tableTitle" matInput name="" id="">

    </mat-form-field>
    <mat-form-field class="w-100 matSmall" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="description" ></textarea>
    </mat-form-field>
   </div>

  

    <div class="text-end p-3 bg-mf">
        <button class="w-25 bg-success text-white me-1" mat-stroked-button (click)="save()">{{btntype}}</button>
        <button class="w-25 bg-secondary text-white" mat-stroked-button (click)="closeDialogue()">Close</button>
        <mat-checkbox [(ngModel)]="autoEmpty" ><p class="text-white pt-1">Auto Empty</p></mat-checkbox>
    </div>


</div>
