<div class="body text-center p-4">


<div class="d-flex p-1 justify-content-between">
    <mat-card class="col-lg-3" style="height: 80vh; background-color: azure;margin-right: 5px;">
        <div class="text-center">
            <h2>New Order</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of newOrderList index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td>{{item.createdOn | date:'hh:mm:a'}}</td>
                    <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td>
                    <td><button mat-mini-fab class="btn-size" (click)="approveOrder(item)"><mat-icon>done_outline</mat-icon></button></td>
                </tr>
            </tbody>
        </table>

    </mat-card>

    <mat-card class="col-lg-3" style="background-color: rgb(238, 248, 217);margin-right: 5px;">
        <div class="text-center">
            <h2>Pending Order</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of PendingOrderList index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td>{{item.reqConfirmationTime | date:'hh:mm:a'}}</td>
                    <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td>
                    <td><button mat-mini-fab class="btn-size" (click)="ApproveDelivery(item)"><mat-icon>done_outline</mat-icon></button></td>
                </tr>
            </tbody>
        </table>

    </mat-card>

    <mat-card class="col-lg-3" style="background-color: rgb(240, 240, 255);margin-right: 5px;">
        <div class="text-center">
            <h2>Delivered Order</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Qty</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of deliveredOrderList index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td>{{item.dTime | date:'hh:mm:a'}}</td>
                    <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td>
                
                </tr>
            </tbody>
        </table>

    </mat-card>

    <mat-card class="col-lg-3" style="background-color: rgb(255, 240, 244);margin-right: 5px;">
        <div class="text-center">
            <h2>Canceled Order</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of voidOrderList index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td>{{item.createdOn | date:'hh:mm:a'}}</td>
                    <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td>
                    <td><button mat-mini-fab class="btn-size"><mat-icon>done_outline</mat-icon></button></td>

                </tr>
            </tbody>
        </table>

    </mat-card>
</div>




</div>
