<div class="body text-center ">

   
      
<div class="d-flex w-100 p-1 justify-content-between">
    <mat-card   style="height: 84vh;width: 24.5%; background-color: azure;margin-left: 5px; overflow-y:auto;">
        <div class="text-center">
            <h2>New Order</h2>
            <input placeholder="search.." type="text" #newOrderSearch class="w-100 " style="background-color: azure;">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Order #</th>
                    <th>Time</th>
                    <!-- <th>Title</th>
                    <th>Qty</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filterNewOrderList | filter:newOrderSearch.value index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td data-bs-toggle="modal" data-bs-target="#OrderDetail" (click)="getOrderDetail('new',item)" class="cursorPointer">
                          <button mat-mini-fab color="primary" style="height: 35px;width: 35px;">{{item.orderNo}}</button>
                        </td>
                    <!-- <td><div class="d-flex flex-column">
                        <span>Ord:({{item.orderNo}})</span>
                        <span>{{item.createdOn | date:'hh:mm:a'}}</span>
                    </div></td> -->
                    <td>{{item.createdOn | date:'hh:mm:a'}}</td>
                    <!-- <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td> -->
                    <td><button mat-mini-fab class="btn-size" (click)="approveOrder(item)"><mat-icon>done_outline</mat-icon></button></td>
                </tr>
            </tbody>
        </table>

    </mat-card>

    <mat-card style="height: 84vh;width: 24.5%;background-color: rgb(238, 248, 217);margin-left: 5px;overflow-y:auto;">
        <div class="text-center">
            <h2>Pending Order</h2>
            <input placeholder="search.." type="text" #pendingOrderSearch class="w-100" style="background-color: rgb(238, 248, 217);">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Order #</th>
                    <th>Time</th>
                    <!-- <th>Title</th>
                    <th>Qty</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filterPendingOrderList|filter:pendingOrderSearch.value index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td class="cursorPointer" data-bs-toggle="modal" data-bs-target="#OrderDetail" (click)="getOrderDetail('pending',item)">
                        <button mat-mini-fab color="primary" style="height: 35px;width: 35px;">{{item.orderNo}}</button>
                    </td>
                    <!-- <td><div class="d-flex flex-column">
                        <span>Ord:({{item.orderNo}})</span>
                        <span>{{item.reqConfirmationTime | date:'hh:mm:a'}}</span>
                    </div></td> -->
                    <td>{{item.reqConfirmationTime | date:'hh:mm:a'}}</td>
                    <!-- <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td> -->
                    <td><button mat-mini-fab class="btn-size" (click)="ApproveDelivery(item)"><mat-icon>done_outline</mat-icon></button></td>
                </tr>
            </tbody>
        </table>

    </mat-card>

    <mat-card  style="height: 84vh;width: 24.5%;background-color: rgb(240, 240, 255);margin-left: 5px;overflow-y:auto;">
        <div class="text-center">
            <h2>Delivered Order</h2>
            <input placeholder="search.." type="text" #deliveredOrderSearch class="w-100" style="background-color:rgb(240, 240, 255);">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Order #</th>
                    <th>Time</th>
                    <!-- <th>Title</th>
                    <th>Qty</th> -->

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filterDeliveredOrderList|filter:deliveredOrderSearch.value index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td class="cursorPointer" data-bs-toggle="modal" data-bs-target="#OrderDetail" (click)="getOrderDetail('deliver',item)">
                          <button mat-mini-fab color="primary" style="height: 35px;width: 35px;">{{item.orderNo}}</button>
                        </td>
                    <!-- <td><div class="d-flex flex-column">
                        <span>Ord:({{item.orderNo}})</span>
                        <span>{{item.dTime | date:'hh:mm:a'}}</span>
                    </div></td> -->
                    <td>{{item.dTime | date:'hh:mm:a'}}</td>
                    <!-- <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td> -->
                
                </tr>
            </tbody>
        </table>

    </mat-card>

    <mat-card  style="height: 84vh;width: 24.5%;background-color: rgb(255, 240, 244);margin-left: 5px;overflow-y:auto;">
       
        <div class="text-center ">
            <h2 class=" text-center">Canceled Order</h2>
            
            <div class="col-lg-12 text-end">

                <input placeholder="search.." type="text" #voidOrderSearch class="w-100" style="background-color:rgb(255, 240, 244);">
                <!-- <select  [(ngModel)]="locationID" class="w-25 border-0"  (change)="getOrderList();getVoidList()">
                    <option [value]="0">All</option>
                    <option *ngFor="let item of cookingAreaList" [value]="item.cookingAriaID" >{{item.cookingAriaTitle}}</option>
                    </select> -->
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Table</th>
                    <th>Order #</th>
                    <th>Time</th>
                    <!-- <th>Title</th>
                    <th>Qty</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filterVoidOrderList|filter:voidOrderSearch.value index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.tableTitle}}</td>
                    <td class="cursorPointer" data-bs-toggle="modal" data-bs-target="#OrderDetail" (click)="getOrderDetail('void',item)">  
                        <button mat-mini-fab color="primary" style="height: 35px;width: 35px;">{{item.orderNo}}</button>
                    </td>
                    <!-- <td ><div class="d-flex flex-column">
                        <span>Ord:({{item.orderNo}})</span>
                        <span>{{item.createdOn | date:'hh:mm:a'}}</span>
                    </div></td> -->
                    <td>{{item.createdOn | date:'hh:mm:a'}}</td>
                    <!-- <td>{{item.productTitle}}</td>
                    <td>{{item.quantity }}</td> -->
                    <td><button mat-mini-fab class="btn-size" *ngIf="item.reqStatus == false" (click)="approveOrder(item)"><mat-icon>done_outline</mat-icon></button></td>

                </tr>
            </tbody>
        </table>

    </mat-card>
</div>


<div class="modal fade" id="OrderDetail" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="OrderDetailLabel">
<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-l">
    <div class="modal-content " style="background-color: rgb(248, 247, 247);">
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr >
                        <th colspan="3" class="text-capitalize">{{detailType}} (Order # {{detailOrderNo}})</th>
                    </tr>
                    <tr>
                        <th>S#</th>
                        <th>Title</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let item of orderDetailList index as index">
                        <td>{{index +1}}</td>
                        <td>{{item.productTitle}}</td>
                        <td>{{item.quantity}}</td>

                    </tr>
                  
                </tbody>
            </table>
            <table class="w-100">
                <tbody>
                    <tr>
                        <td>{{myRemarks}}</td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="modal-footer bg-mf-blue">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

    </div>
</div>
</div>


<!-- <input  accept=".wav"  (change)="onDocSelected($event)"  #vDoc type="file" id="vDoc"  class="border border-dark"> -->

<!-- <audio  id="boom" >
    <source src="../../../../assets/Sounds/beep.wav" type="audio">
   </audio> -->

</div>
