<div class="row">
    <mat-form-field class="col-md-12 matSmall" appearance="outline">
        <mat-label>Vehicle Name</mat-label>
        <input [(ngModel)]="VehicleName"  matInput type="text">
    </mat-form-field>
       <mat-form-field class="col-md-12 matSmall" appearance="outline">
        <mat-label>Vehicle No</mat-label>
        <input [(ngModel)]="VehicleNo" id="vehicleNO" matInput type="text">
    </mat-form-field>
       <mat-form-field class="col-md-12 matSmall" appearance="outline">
        <mat-label>Contact No</mat-label>
        <input [(ngModel)]="ContactNo" id="contactNo" matInput type="text">
    </mat-form-field>
     <!-- <mat-form-field class="col-md-12 matSmall" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]="Description" id="description" matInput type="text"></textarea>
    </mat-form-field> -->


    <div class="d-flex flex-wrap justify-content-around">
           <div class="col-md-4 pe-1"> <button class="btnsave w-100" *ngIf="crudList.c " (click)="save()" accesskey="s">{{actionbtn}}</button></div>
            <div class="col-md-4"><button class="btnreset w-100" (click)="reset()">Reset</button></div>
        </div>
    
</div>