<div class="body container">


       <div class="p-2 row justify-content-center">
        <div class="col-md-2 pb-1" *ngIf="crudList.c">
            <button autofocus (click)="add()" style="height: 42px;"
                class="btnsave w-100">Add</button>
        </div>
        <!-- <button type="button" mat-mini-fab class="btnadd" *ngIf="crudList.c" (click)="add()"><mat-icon>add</mat-icon></button> -->
        <div [ngClass]="crudList.c == false ? 'col-lg-12' : 'col-lg-10' ">
            <mat-form-field appearance="outline" class="matSmall w-100" >
            <mat-label>Search....</mat-label>
            <input matInput #search  />
        </mat-form-field>
        </div>
    </div>

</div>
