<div  class="row container-fluid vh-100 bg-gray body">

    <div class="col-lg-4 bg-white p-5 ">
        <h2 class="border-bottom">Area Detail's</h2>
        

        <mat-form-field class="w-100 pe-1" appearance="outline">
            <mat-label>City</mat-label>
          <mat-select [(ngModel)]="CityID">
            <mat-option><ngx-mat-select-search #citySearch
                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                name="search"></ngx-mat-select-search></mat-option>
            <mat-option *ngFor="let item of citiesList |filter:citySearch.value" [value]="item.cityID">{{item.cityName}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Area Title</mat-label>
            <input matInput type="text" [(ngModel)]="areaTitle" >
        </mat-form-field>


    

        <div class="row justify-content-around">
            <button class="btnsave w-25" *ngIf="crudList.u  && btnType == 'Update'" (click)="save()">{{btnType}}</button>
            <button class="btnsave w-25" *ngIf="crudList.c  && btnType == 'Save'" (click)="save()">{{btnType}}</button>
            <button class="btnreset w-25" (click)="reset()">Reset</button>
        </div>
        

    </div>

    <div class="col-lg-8 p-4">


        <mat-form-field class="w-100" appearance="outline">
            <mat-label class="ps-5">Search.....</mat-label>
            <input [(ngModel)]="txtSearch" matInput type="search" class="text-secondary">
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>


        <div>
            <table class="table-logix2" *ngIf="crudList.r">
                <thead>
                    <tr>
                        <th>S#</th>
                        <th>Title</th>
                        <th>City</th>
                        <th *ngIf="crudList.u">Edit</th>
                        <th *ngIf="crudList.d">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of SavedDataList | filter:txtSearch index as index">
                        <td>{{index+1}}</td>
                        <td>{{item.areaTitle}}</td>
                        <td>{{item.cityName}}</td>
                        <td *ngIf="crudList.u"><button mat-mini-fab  class="bg-success text-white h30px w30px" (click)="editCity(item)"><mat-icon>edit</mat-icon></button></td>
                        <td *ngIf="crudList.d"><button mat-mini-fab  color="warn" class="h30px w30px" (click)="deleteCity(item)"><mat-icon>delete</mat-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    


    </div>


</div>







<!-- <div class="bg-white p-5">
    
    <div class="text-center border w-50  bg-light container-fluid pt-5">
        <div class="text-end " ><button style="background: transparent;border: none;" class=" border-bottom" (click)="OpenDialogue()"><mat-icon class="pt-1">
            location_city</mat-icon>  ADD NEW City</button></div>
            <br>
        <table class="table table-hover h-100"> 
            <thead>
                <th>S#</th>
                <th>City Name</th>
                <th>Country Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody >
                <tr *ngFor="let item of citiesData index as index" >
                    <td>{{index+1}}</td>
                    <td>{{item.cityName}}</td>
                    <td>{{item.countryName}}</td>
                    <td><mat-icon class="text-success cursorPointer" (click)="updateCity(item)">edit</mat-icon></td>
                    <td><mat-icon class="text-danger cursorPointer" (click)="deleteCity(item)">delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    
    </div>

</div>
 -->

