<div class="body">

    <div class="row container-fluid justify-content-center  p-3 border-bottom">
                    
        <mat-form-field class="col-lg-4 matSmall"  appearance="outline">
            <mat-label>Project </mat-label>
            <mat-select [(ngModel)]="projectID" >
                <mat-option><ngx-mat-select-search [(ngModel)]="projectSearch"
                    [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                    name="search"></ngx-mat-select-search></mat-option>
                <mat-option *ngFor="let item of projectList|filter:projectSearch " value="{{item.projectID}}">{{item.projectTitle}}</mat-option>
            </mat-select>
        </mat-form-field>
              
        <mat-form-field class="col-lg-2 matSmall" appearance="outline">
            <mat-label>From Date</mat-label>
            <input matInput type="text" [(ngModel)]="fromDate" [matDatepicker]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

    
        <mat-form-field class="col-lg-2 matSmall" appearance="outline">
            <mat-label>To Date</mat-label>
            <input matInput type="text" [(ngModel)]="toDate" [matDatepicker]="EndDate">
            <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
            <mat-datepicker #EndDate></mat-datepicker>
        </mat-form-field>


    <div class="col-lg-4 text-start" *ngIf="crudList.r" >
        <button class="fw-bold btn-rpt-success col-lg-4 me-3" style="width: 150px;" (click)="getVouchers('project')">
            ProjectWise
         </button>
         
        <button class="fw-bold btn-rpt-success col-lg-4 me-3" style="width: 150px;" (click)="getVouchers('all')">
           Get Vouchers
        </button>
        
    
     
    </div>




</div>


<div class="container-fluid">
    <table class="col-lg-12  table table-hover bg-light">

        <thead>
            <tr class="col-lg-12">
                <th class="col-lg-1">S#</th>
                <th class="col-lg-1">Inv.#</th>
                <th class="col-lg-1">Date</th>

                <th class="col-lg-1">Project</th>
                <th class="col-lg-1 text-end">Amount</th>
                <th class="col-lg-4">Narration</th>
                <th class="col-lg-2">Action</th>
            
           

            </tr>
        </thead>
        <tbody>

            <tr class="cursorPointer" *ngFor="let item of voucherList  ; index as index">

                <td>{{index+1}}</td>
                <td> {{item.invoiceNo}}</td>
                <td>{{item.invoiceDate | date:'yyyy-MM-dd'}}</td>
                <td>{{item.projectTitle}}</td>
                <td class="text-end">{{item.amount |number}}</td>
                <td class="text-start">{{item.invoiceRemarks}}</td>
                <td >
                    <mat-icon class="text-success" (click)="VoucherDetails(item)" >receipt</mat-icon>
                    <mat-icon class="text-danger"  *ngIf="item.approvedStatus == false" (click)="approveBill(item)">check</mat-icon>
                <mat-icon *ngIf="item.approvedStatus == true" aria-label="Approved" class="text-success" >done_all</mat-icon>
                <mat-icon class="text-danger" *ngIf="!item.approvedStatus && crudList.d"  (click)="DeleteVoucher(item)">delete</mat-icon>
                <mat-icon class="text-primary"  (click)="printBill(item)">print</mat-icon>
            </td>

            </tr>

            <tr *ngIf="voucherList == ''" >
                <th class="text-center" colspan="10">No Data Available!</th>
            </tr>
        </tbody>

    </table>

        
        <!-------------------     Invoice Print Section ------------------------->

        <app-voucher-print class="d-none"> </app-voucher-print>
</div>

    
</div>

