
<mat-tab-group [selectedIndex]="TabIndex"
(selectedIndexChange)="changeTabHeader($event)" class="body h-100">
    <mat-tab label="BudgetForm" class="h-100">
        <div>
            
           <!----------------           Date Section ------------------------------->
                    <div class=" container-fluid p-3 border-bottom row justify-content-center">

                        <mat-form-field class="col-lg-2 matSmall" appearance="outline" >
                            <mat-label>Project </mat-label>
                            <mat-select [(ngModel)]="projectID" >
                                <mat-option><ngx-mat-select-search [(ngModel)]="projectSearch"
                                    [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                    name="search"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let item of projectList|filter:projectSearch " [value]="item.projectID">{{item.projectTitle}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                      

                        <mat-form-field class="col-lg-2 matSmall" appearance="outline">
                            <mat-label>Date</mat-label>
                            <input  matInput   [(ngModel)]="BudgetMonth"
                                [matDatepicker]="picker"  readonly="true" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        
                            <mat-form-field class="col-lg-5 matSmall" appearance="outline">
                                <mat-label>Select Account Head</mat-label>
                                <mat-select [(ngModel)]="CoaID">
                                    <mat-option><ngx-mat-select-search [(ngModel)]="coaSearch"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="search"></ngx-mat-select-search></mat-option>
                                    <mat-option *ngFor="let item of ExpenseList | filter:coaSearch; " value="{{item.coaID}}">{{item.coaTitle}}- ({{item.accountCode}})</mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field class="col-lg-2 matSmall" appearance="outline">
                                <mat-label>Enter Amount</mat-label>
                                <input matInput type="number" [(ngModel)]="amount">

                            </mat-form-field>
             
                            
        
                            <div class="col-lg-1 ">
                                
                                <button class="btnsave " style="height: 46px;" (click)="save()"><mat-icon>save</mat-icon></button>
                            </div>
                        
        
                       
                    </div>
             
        
            <div class="container-fluid pt-3 row " >

                <div class="col-lg-9" >
                    <div class="m-1">
        
                        <table class="table text-center">
                            <thead class="border-bottom">
                                <th>S#</th>
                                <th>Particular</th>
                                <th>Amount</th>
                                <th>Delete</th>
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of budgetData;index as index">
                                    <td>{{index+1}}</td>
                                    <td>{{item.coaTitle}}</td>
                                    
                                    <td>{{item.budgetAmount |number}}</td>
                                    <td (click)="delRow(item)" class="text-danger cursorPointer"><mat-icon>delete</mat-icon></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-3" >
                    <div class="p-3 card text-center m-1" >
                          <h1 class=" mt-5 ">Total</h1>

                          <span class="mt-4 text-danger font-digit"  style="font-size: 3rem;">{{TotalAmount | number}}</span>


                          <mat-form-field class="w-100 mt-5 matSmall" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="number" [(ngModel)]="description"></textarea>

                        </mat-form-field>
                        <button class="btnsave mt-4" *ngIf="crudList.u && btnText == 'Update'" (click)="SaveBudget()">{{btnText}}</button>
                          <button class="btnsave mt-4" *ngIf="crudList.c && btnText == 'Save'" (click)="SaveBudget()">{{btnText}}</button>
                          <button class="btnreset mt-4" (click)="reset()">Reset</button>

                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Saved Record">

        <div class="container bg-light ">
            <mat-form-field appearance="outline" class="w-100 pt-2 matSmall">
                <mat-label>Search.....</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <hr>
            <div class="text-center">
                <table class="table table-hover" *ngIf="crudList.r">
                    <thead>
                        <th>S#</th>
                        <th>Date</th>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of savedData ; index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.budgetDate |date:'yyyy-MM'}}</td>
                            <td>{{item.projectTitle}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.budgetAmount |number}}</td>
                           
                            <td class="cursorPointer">
                                <mat-icon class="text-danger" *ngIf="item.approvedStatus == false && crudList.u" (click)="approveBudget(item)">check</mat-icon>
                                <mat-icon *ngIf="item.approvedStatus == true " aria-label="Approved" class="text-success" >done_all</mat-icon>
                                <mat-icon class="text-success" *ngIf="item.approvedStatus == false && crudList.u" (click)="editBudget(item)">edit</mat-icon>
                                <mat-icon class="text-danger" *ngIf="item.approvedStatus == false && crudList.d" (click)="deleteBudget(item)">delete</mat-icon>
                                <mat-icon class="text-primary" (click)="printBudget(item)">print</mat-icon>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div class="d-none" id="PrintDiv">
                <!-------------------------    Top Logo Section -------------------->
                <div class="hide">
                    <div class="text-center  d-flex justify-content-between border-bottom" *ngFor="let item of companyProfile">
                        <span *ngIf="item.companyLogo1 != '' || item.companyLogo1 !== null">
                            <img src="{{item.companyLogo1}}" style="color: black;" alt="" srcset="" [height]="item.logo1Height" [width]="item.logo1Width">
                        </span>
                        <span >
                            
        
                            <h1 class="companyName">{{item.companyName}}</h1>
                            
        
                            <p class="rptTitle" style="margin-top:-20px">Monthly Budget </p>
                            <h4 class="projtitl" *ngIf="projectName != ''" style="margin-top:-20px;"><b >Project:</b> {{projectName}}</h4>
                            <p style="margin-top:-10px">For the Month : {{lblBudgetDate | date:'yyyy-MM'}}</p>
                          
                        </span>
                        <span *ngIf="item.companyLogo2 != '' || item.companyLogo2 !== null">
                            <img src="{{item.companyLogo2}}" style="color: black;" alt="" srcset="" height="{{item.logo2Height}}" width="{{item.logo2Width}}">
                        </span>
                
                
                    </div>
                   </div>
           


                <!--------------- Header Section ------------------>

                <div class="d-flex">
                    <div class="row mt-5"  >
    
                        <b class="row">
                        <h6>Budget ID:</h6>
                        <h6>Budget Month:</h6>
                    
                        </b>
    
                    </div>
                    <div class="row mt-5" >
    
                        <p>{{lblBudgetID}}</p>
                        <p>{{lblBudgetDate | date:'yyyy-MM'}}</p>
                        
    
                    </div>
                   </div>
                <hr>

                <!-----------------  Table Area ------------------>
                <div>
                    <table class="table table-logix">
                        <thead>
                            <th>S#</th>
                            <th>Particular</th>
                            <th>Amount</th>

                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lblBudgetData;index as index">
                                <td>{{index+1}}</td>
                                <td>{{item.coaTitle}}</td>
                                <td class="text-end">{{item.budgetAmount|number}}</td>
                            </tr>

                            <tr>
                                <td colspan="2" class="fw-bold text-center">Total</td>
                                <td class="text-end">{{lblBudgetTotal |number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="d-flex justify-content-between mt-5 pt-5">
                    <h5 class="border-bottom border-dark">Created BY</h5>
                    <h5 class="border-bottom border-dark">Approved BY</h5>
                    <h5 class="border-bottom border-dark">Checked BY</h5>
                   </div>

            </div>
        </div>

    </mat-tab>
</mat-tab-group>



