<div class="body" style="overflow-x: hidden;">
    <div id="main-content ">

        <section class="statis p-2 text-center  mb-3" >
            <div class="row"  *ngFor="let item of cardDataList">
                <div class="col-lg-3 mb-2" >
                    <div class="box bg-warning text-white  p-3 mat-elevation-z2 " style="box-shadow: 0px 0px 10px 1px  rgb(180, 183, 219);" >
                        <i ><mat-icon>attach_money</mat-icon></i>                  
                        <p class="value font-digit ">{{item.totalSaleAmount || 0  |number:'1.0-0'}}</p>
                        <p class="lead ">TOTAL SALES</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="box  bg-danger text-white p-3 mat-elevation-z2" style="box-shadow: 0px 0px 10px 1px  rgb(190, 215, 190);">
                        <i class=""><mat-icon>receipt</mat-icon> </i>
                        <p class="value font-digit">{{item.totalTktSold || 0 |number:'1.0-0'}}</p>
                        <p class="lead">TOTAL TICKETS</p>
                    </div>
                </div>
                <div class="col-lg-3  mb-2">
                    <div class="box bg-success  p-3 text-white mat-elevation-z2" style="box-shadow: 0px 0px  10px 0px  rgb(173, 167, 165);">
                        <i class=" " ><mat-icon>save_alt</mat-icon></i>
                 
                        <div class="value d-flex text-center justify-content-center  "><p class="font-digit">{{item.maxSale || 0  | number:'1.0-0'}}</p></div>
                        <p class="lead">TOTAL EXPENSE</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="box  bg-primary text-white p-3 mat-elevation-z2" style="box-shadow: 0px 0px 10px 1px  rgb(205, 193, 193);">
                        <i class=""><mat-icon>bar_chart</mat-icon></i>
            
                        <div class="d-flex value justify-content-center  "><p class="font-digit">{{item.maxQty || 0  | number:'1.0-0'}}</p>  <p style="font-size: 17px;">{{item.maxQtySwingTitle}}</p></div>
    
                        <!-- <p class="text-danger font-digit">{{item.maxQty|number:'1.0-0'}} {{item.maxQtySwingTitle}}</p> -->
                        <p class="lead">TOTAL INCOME</p>
                    </div>
                </div>
            </div>
        </section>
     </div>
    
    
    
      <section class="pe-2">
        <div  >
            <div class="ms-2 mat-elevation-z2" [chart]="monthly_Sale_Chart"></div>
          </div>
      </section>
    
    
    
    <div class="row justify-content-between p-2">
    
        
    
    
        
        <section class=" col-lg-4 text-center" >
            <div class="col-md-12">
                <div class="mat-elevation-z2" [chart]="swingSale_pie_chart"></div>
              </div>
    
        </section>
    
    
        
        <section class=" col-lg-8 text-center" >
            <mat-card  style="min-height : 400px; height: 20%;overflow: scroll;">
                <mat-label><strong>Active Members</strong></mat-label>
    
                <table class="table">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Title</th>
                            <th>Persons</th>
                            <th>Duration</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of activeMemberList index as index">
                            <td>{{index + 1}}</td>
                            <td> {{item.swingTitle}}</td>
                            <td>{{item.ticketQuantity}}</td>
                            <td>{{item.swingDuration}} mnt</td>
                            <td>{{item.lastTicketStartTime |date:'hh:mm a'}}</td>
                            <td>{{item.lastTicketEndTime |date:'hh:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
    
        </section>
    
    
    
    
    </div>
</div>