<div class="body" >
    <mat-tab-group>
        <mat-tab label="Properties">

           <div class="m-2"> 
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Search</mat-label>
                <input matInput #searchProperty >
            </mat-form-field>
           <div class="d-flex flex-wrap">
            <div class="col-md-12 m-1" *ngFor="let item of PropertyList | filter:searchProperty.value; index as index" style="width: 49%;">
                <div class="card overflow-hidden">
                  <div class="card-content">
                    <div class="card-body cleartfix" style="min-height: 120px !important;">
                      <div class="row align-items-stretch">
                   
                        <div class="media-body col-md-8">
                          <h4 style="letter-spacing: 5px;">{{item.propertyTitle}}</h4>
                          <span>Code: {{item.propertyCode}}</span>
                        </div>
                        <div class="align-self-center col-md-4">
                          <h1>{{item.rentPerDay}} /Day</h1>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" (click)="addReservation(item)">Reserve Property</button>
                    </div>
                  </div>
                </div>
              </div>
      
           </div>
           </div>
        
        
    
        </mat-tab>


        <mat-tab label="Saved Reservations">

            
        <div class="container-fluid bg-light ">
            <div class="row p-2">
                <!-- <button mat-fab class="col-lg-1" (click)="addReservation()" color="primary"><mat-icon>add</mat-icon></button> -->
                <mat-form-field appearance="outline" class="col-lg-8">
                    <mat-label>Search.....</mat-label>
                    <input type="text" matInput #search>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-4">
                    <mat-label>Booking Status</mat-label>
                    <mat-select [(ngModel)]="bookingStaus" (selectionChange)="filterBookings()">
                        <mat-option *ngFor="let item of StatusList" [value]="item.title">{{item.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <hr>

            <div class="text-center">
                <table class="table table-hover">
                    <thead>
                        <th>S#</th>
                        <th>Booking ID</th>
                        <th>Booking Date</th>
                        <th>Room No</th>
                        <th>Customer Name</th>
                        <th>Rent</th>
                        <th>Arrival</th>
                        <th>Departure</th> 
                        <th>Confirmation Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <th>Details</th>
                        <th>Print</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of SavedData | filter: search.value |paginate:{
                            itemsPerPage : tableSize,
                            currentPage : page,
                            totalItems :    count,
                        }  ;  index as index">
                        
                            <td>{{index+1}}</td>
                            <td>{{item.bookingID}}</td>
                            <td>{{item.bookingDate |date:'yyyy-MM-dd'}}</td>
                            <td>{{item.roomTitle}}</td>
                            <td>{{item.partyName}}</td>
                            <td>{{item.rentPerDay |number:'1.0-0'}}</td>
                            <td>{{item.dateOfArrival | date:'yyyy-MM-dd'}} </td>
                            <td>{{item.dateOfDeparture | date:'yyyy-MM-dd'}} </td>
                            <td>{{item.confirmationDate | date:'yyyy-MM-dd'}} </td>
                            <td>{{item.bookingStatus}} </td>

                            <td  class="cursorPointer " >
                                <button class="btn btn-success me-2" (click)="confirmBooking(item)" *ngIf="item.bookingStatus == 'Pending' ">Confirm</button>
                                <button class="btn btn-warning me-2"  (click)="confirmBooking(item)"  *ngIf="item.bookingStatus == 'Confirmed' ">Refund</button>

                              
    
                                <button class="btn btn-danger " (click)="cancel(item)" *ngIf="item.bookingStatus == 'Pending' " 
                                data-bs-toggle="modal" data-bs-target="#cancelBookingModel"   >Cancel</button>
                                <span class="text-danger" *ngIf="item.bookingStatus == 'Cancelled' ">Bill Cancelled</span>
                                <span class="text-danger" *ngIf="item.bookingStatus == 'Refunded' ">Bill Refunded</span>
                            </td>
                            <td><mat-icon class="text-success cursorPointer" (click)="getBookingDetail(item)">receipt</mat-icon></td>
                            <td class="cursorPointer"><mat-icon class="text-primary" (click)="printBooking(item)">print</mat-icon></td>
                           
            
                        </tr>
                        
                    </tbody>
                </table>
                <div class="d-flex" >
                    <mat-hint class="me-1 text-secondary">Total Rows : ({{SavedData.length}})    </mat-hint>
                    <pagination-controls
                    previousLabel="Prev"
                    nextLabel="Next"
                    (pageChange)="onTableDataChange($event)"
                    ></pagination-controls>
                    
    
                    <mat-hint class=" me-1 text-secondary">Rows Per Page </mat-hint>
                    <select class="text-white"  style="width: 50px; height: 25px;background-color: rgb(75, 164, 248);" (change)="onTableSizeChange($event)">
                        <option *ngFor=" let item of tableSizes">{{item}}</option>
                    </select>
                    
                </div>
            </div>

         
        </div>
        </mat-tab>
    </mat-tab-group>




</div>

