.searchProduct:focus {

  outline: none;
}

.searchProduct {
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  border: 1px solid rgb(13, 110, 253);
  border-radius: 5px 5px 5px 5px;
  background-color: gainsboro;
}



.prodBtn:focus {
  outline: none;
  color: rgb(255, 255, 255) !important;
  background-color: black !important;
  zoom: 1;

}

.SearchConatiner {
  // border: 0px solid rgb(180, 180, 180);
  // background-color: rgb(249, 249, 249);

  z-index: 1000;
  // position: absolute;
  max-height: 250px;
  overflow: hidden;
  position: absolute;
  width: 63vw;
  margin-top: 40px;
  // max-width: 500px;


  .SearchConatiner,
  .card {
    background-color: rgb(247, 242, 242);
    // padding: 10px;
    // margin: 1px;

  }



  .SearchConatiner,
  p {
    padding: 10px;
    text-decoration: none;
    height: 30px;
    display: block;
  }
}



::ng-deep .cdk-overlay-container {
  z-index: 2000;
}

.rtnBillArea::-webkit-scrollbar-track {
  background: #f6f2e7;
}

.totalArea::-webkit-scrollbar-track {
  background: rgb(240, 247, 245);
}

.delBtn {
  background-color: transparent;
  border-radius: 10px;
  height: 40px;
}

.delBtn:focus {
  background-color: black !important;
  color: white !important;
}




.btn-Sale{
    height: 60px;
    width: 200px;
}