<div id="printKOT" >
  <div class="p-2">
    <div class="text-center dark " >
        <h2 style="border: 1px solid black;text-align: center;text-transform: uppercase;"  >{{companyName}}</h2>
        <!-- <h2 >ORDER NO: {{myOrderNo}}</h2>    -->
    </div>
    <div>
        <p *ngIf="myDuplicateFlag == true" class="border border-dark text-center fw-bold">Duplicate</p>
    </div>
  <div >
   
        <table  class="table" style="font-size: 12px;width: 100%;">
            <thead>
                <tr>
                    <th>Inv #</th>
                    <th>Date</th>
                    <th>Counter</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td>{{myInvoiceNo}}</td>
                    <td>{{myInvDate | date:'dd-MM-yyyy '}} ({{myInvTime|date:'hh:mm:ss:a'}})</td>
                    <td>{{myCounterName}}</td>
                </tr>

            </tbody>
        </table>

        <table class="table table-bordered" >
            <thead >
                <tr>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th>Total</th>
                
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let item of myPrintData index as index">
                    <td >{{item.productTitle}}</td>
                    <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                    <td class="text-center">{{item.salePrice * item.quantity |number:'1.0-2' }}</td>

                </tr>
            </tbody>
        </table>
  
  </div>
  </div>

</div>


