<div >
    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">Sub Category Detail's</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>
   

    <div class="p-2 ">
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="categoryID" id="category">
            <mat-option><ngx-mat-select-search [(ngModel)]="categorySearch"
                [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                name="search"></ngx-mat-select-search></mat-option>
            <mat-option *ngFor="let item of categoryList |filter:categorySearch" [value]="item.categoryID">{{item.categoryTitle}}</mat-option>
          </mat-select>
        </mat-form-field>
    
    
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Sub Category Name</mat-label>
            <input matInput type="text" [(ngModel)]="subCategoryTitle" >
        </mat-form-field>
    
        <mat-form-field class="w-100 matSmall" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" [(ngModel)]="description" ></textarea>
        </mat-form-field>
    </div>




    <div class="text-end bg-mf p-3">
        <button class="btnsave w-25 me-1"  (click)="save()">Save</button>
        <button class="btnclose w-25" (click)="closeDialogue()">Close</button>
    </div>
    

</div>
