<div  class="body">

    <div class="row container-fluid vh-100 w-100">
        <div class="col-lg-4 bg-white p-5  h-100">
            <h2 class="border-bottom">Partner's Detail</h2>
            <mat-form-field class="w-100 matSmall" appearance="outline">
                <mat-label>Partner Name</mat-label>
                <input matInput type="text" [(ngModel)]="partnerName" >
            </mat-form-field>
    
            <mat-form-field class="w-100 matSmall" appearance="outline">
                <mat-label>CNIC</mat-label>
                <input matInput type="text" [(ngModel)]="partnerCNIC" [textMask]="{mask:cnicMask}" >
            </mat-form-field>
    
            <mat-form-field class="w-100 matSmall" appearance="outline">
                <mat-label>Mobile No</mat-label>
                <input matInput type="text" [(ngModel)]="partnerMobile" [textMask]="{mask:mobileMask}" >
            </mat-form-field>
    
            <mat-form-field class="w-100 matSmall" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput type="text" [(ngModel)]="partnerEmail"  >
            </mat-form-field>
    
            <mat-form-field class="w-100 matSmall" appearance="outline">
                <mat-label>City</mat-label>
              <mat-select [(ngModel)]="cityID" #city>
                <mat-option><ngx-mat-select-search [(ngModel)]="citySearch"
                    [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                    name="search"></ngx-mat-select-search></mat-option>
                <mat-option *ngFor="let item of citiesList |filter:citySearch" [value]="item.cityID">{{item.cityName}}</mat-option>
               
              </mat-select>
              <mat-icon class="cursorPointer" (click)="addCity()" matSuffix>add</mat-icon>
            </mat-form-field>
    
            
            <!-- <button mat-raised-button color="primary" class="col-lg-4 "  style="height: 55px;" (click)="addCity()"><mat-icon>add</mat-icon></button> -->
    
            <mat-form-field class="w-100 matSmall" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput type="text" [(ngModel)]="partnerAddress"  ></textarea>
            </mat-form-field>
    
            <div class="row justify-content-around">
                <button class="btnsave w-25 " *ngIf="crudList.u && btnType == 'Update'" (click)="save()">{{btnType}}</button>
                <button class="btnsave w-25 " *ngIf="crudList.c && btnType == 'Save'" (click)="save()">{{btnType}}</button>
                <button class="btnreset w-25" (click)="reset()">Reset</button>
            </div>
            
    
        </div>
    
        <div class="col-lg-8 p-4 h-100">
    
    
            <mat-form-field class="w-100 matSmall" appearance="outline">
                <mat-label>Search.....</mat-label>
                <input [(ngModel)]="txtSearch" matInput type="search" class="text-secondary">
            </mat-form-field>
    
    
            <div>
                <table class="table-logix2" *ngIf="crudList.r">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Name</th>
                            <th>CNIC</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th *ngIf="crudList.u">Edit</th>
                            <th *ngIf="crudList.d">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of partnersList | filter:txtSearch index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.partnerName}}</td>
                            <td>{{item.partnerCNIC}}</td>
                            <td>{{item.partnerMobileNo}}</td>
                            <td>{{item.partnerAddress}}</td>
                            <td *ngIf="crudList.u"><button mat-mini-fab  class="bg-success text-white h30px w30px" (click)="editPartner(item)"><mat-icon>edit</mat-icon></button></td>
                            <td *ngIf="crudList.d"><button mat-mini-fab   color="warn" class="h30px w30px" (click)="deletePartner(item)"><mat-icon>delete</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
    
    
        </div>
    </div>


</div>
