<div class="container-fluid d-flex  body" ondblclick="return false;">

    <div class="col-lg-8 prodArea ">


        <!-----------   categories Row ------------------->

        <div class="d-flex border-bottom">



            <mat-form-field class="w-25 m-1 matSmall" appearance="outline">
                <mat-label>Search...</mat-label>
                <input #catSearch matInput type="search" class="text-secondary">
            </mat-form-field>



            <div class="scrollContainer" (wheel)="onWheel($event)">
                <button (click)="OnCatChange({recipeCatID:0,prodFlag:false})"
                    [ngClass]="categoryID == 0  ? 'bg-blue' : ''" class="border item text-center m-1 p-1">ALL</button>
                <button *ngFor="let item of categoriesList|filter:catSearch.value"
                    (click)="OnCatChange(item);catSearch.value = '';"
                    [ngClass]="item.recipeCatID == categoryID  ? 'bg-blue' : ''"
                    class="border item text-center m-1 p-1">{{item.recipeCatTitle}}</button>
            </div>
        </div>

        <div>
            <input matInput id="recSearch" accesskey="f" autocomplete="off" class="w-100 p-1 border"
                style="height: 40px;" autofocus placeholder="Search Recipe (ALT + f)" #recipeSearch
                (keyup)="searchByCode($event,recipeSearch.value)">

        </div>
        <br>
        <!-----------   Products Area ------------------->
        <div class="row cursorPointer gap-2">
            <div *ngFor="let item of RecipeList |search:'recipeTitle,recipeSalePrice':recipeSearch.value" class="mb-2"
                style="width: 160px;">
                <mat-card style="width:140px; height: 160px;border-radius: 15px;" class="shadow recipecard"
                    (click)="productSelected(item,1);">

                    <!-- <div style="height: 150px;width: 170px;background-size: cover;" [ngStyle]="{ 'background-image': 'url(' + item.recipeImage + ')' }"></div> -->
                    <div class="text-center pt-1">
                        <img *ngIf="item.recipeImage" style="border-radius: 10px;" [src]="item.recipeImage" alt=""
                            height="110px" width="130px">
                    </div>

                    <mat-card-footer class="text-center text-wrap fw-bold"
                        style="line-height: 10px;font-size: 12px;padding-top: 5px;" [matTooltip]="item.recipeTitle">{{
                        item.recipeTitle |slice:0:30}}</mat-card-footer>
                    <mat-card-footer class="text-center text-success  " style="font-size: 18px;">{{item.recipeSalePrice
                        |
                        number}}</mat-card-footer>


                </mat-card>
            </div>
        </div>




    </div>

    <div class=" col-lg-4 bg-gray billArea  border-0 border-start"
        style="right: 0%; height: 100vh;position:fixed;overflow: scroll;">

        <!-----------   Table Side First Row ------------------->

        <div class=" d-flex ">
            <div class="col-lg-3  text-center pt-3 tn  border">
                <p style="font-size: 20px;"><strong>{{tableTitle}}</strong></p>
            </div>

            <div class="col-lg-7 pt-3 text-center ot border">

                <p style="font-size: 20px;"><strong>{{orderType}}</strong></p>
                <!-- <select class="w-100 border-0 bg-gray" disabled="true" [(ngModel)]="orderType">
                    <option *ngFor="let item of orderTypeList" [value]="item.val">{{item.title}}</option>
                </select> -->

            </div>
            <div class="col-lg-2 chng p-1 text-center  border">
                <button class="btn btn-warning" [disabled]="orderType == ''" data-bs-toggle="modal"
                    data-bs-target="#NewBill">Change</button>

            </div>
        </div>

        <div style="min-height: 400px;" class="p-2">

            <!-----------   Bill Area ------------------->
            <div class="billTable" style="height: 47vh;">

                <table class="table-logix cursorPointer">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th class="col-lg-4">Title</th>
                            <th class="col-lg-2">Price</th>
                            <th class="col-lg-2">Qty</th>
                            <th class="col-lg-2">Total</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData index as index">
                            <td class="text-center">{{index +1}}</td>
                            <td>{{item.productTitle}}</td>
                            <td class="text-center">{{item.salePrice |number:'1.0-1'}}</td>
                            <td class="text-center" (click)="editQty(item,index)" *ngIf="!RestSimpleSaleFeature">
                                {{item.quantity}}</td>
                            <td class="text-center" *ngIf="RestSimpleSaleFeature">
                                <input type="number" min="0" [(ngModel)]="item.quantity" (click)="rowFocused = index"
                                    (keydown)="handleUpdown(item,$event,'.qty',index);this.global.handleNumKeys($event)"
                                    (keyup)="getTotal();this.global.handleNumKeys($event)"
                                    class="qty{{index}} text-center w-75">
                            </td>
                            <td class="text-center" (click)="editTotal(item)">{{item.salePrice * item.quantity
                                |number:'1.0-1'}}</td>
                            <td class="text-center"><mat-icon class="text-danger" *ngIf="item.entryType == 'New'"
                                    (click)="deleteRow(item,'')">delete</mat-icon>

                                <!-------------- will Open void Qty modal when void button click ------------------->
                                <mat-icon class="text-danger" data-bs-toggle="modal" data-bs-target="#voidQtyModal"
                                    *ngIf="item.entryType == 'Saved'"
                                    (click)="tempDeleteRow = item">indeterminate_check_box</mat-icon>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>



            <!-----------   Bill Total Amount Section ------------------->
            <div class="d-flex bg-white border-top p-1 col-lg-4 btas" style="position: fixed;bottom: 4%;right: 0%;">


                <div class="justify-content-between p-1 w-50 border-end">

                    <div class="d-flex justify-content-between w-100">
                        <p class="w-50 text-primary cursorPointer" style="font-size: 12px;"
                            (click)="global.openBootstrapModal('#disc',tableData.length > 0);focusTo('#discRs',$event)"
                            accesskey="t">ADD DISCOUN<u>T</u><small>({{(billDiscount / subTotal) * 100 || 0}}%)</small>
                        </p>
                        <p class="text-center font-digit" style="font-size: 2rem;">{{billDiscount |number:'1.0-2'}}</p>
                        <!-- <input disabled="true" [(ngModel)]="billDiscount" class="w-50 text-end" (keyup)="getTotal();"
                            (keydown)="getTotal();this.global.handleNumKeys($event)" /> -->
                    </div>

                    <div class="d-flex justify-content-between w-100 pt-1">
                        <p class="w-50 fw-bold" style="font-size: 12px;">SERVICE CHARGES</p>
                        <p class="text-center font-digit"
                            *ngIf="orderType == 'Dine In' || orderType == '' || orderType == 'Take Away'"
                            style="font-size: 2rem;">{{OtherCharges |number:'1.0-1'}}</p>
                        <input *ngIf="orderType == 'Home Delivery'" [(ngModel)]="OtherCharges" class="w-50 text-end"
                            (keyup)="getTotal();" (keydown)="getTotal();this.global.handleNumKeys($event)" />
                    </div>

                    <div class="d-flex justify-content-between w-100 pt-1">
                        <p class="fw-bold" style="font-size: 12px;">SUB TOTAL</p>
                        <p class="text-center font-digit" style="font-size: 30px;">{{subTotal |number:'1.0-1'}}</p>
                    </div>
                    <div class="d-flex justify-content-between  w-100">
                        <p class="fw-bold" style="font-size: 12px;">NET TOTAL</p>
                        <p class="text-center font-digit" style="font-size: 30px;">{{netTotal |number:'1.0-1'}}</p>
                    </div>
                    <mat-form-field class="w-100 matSmall" appearance="outline">
                        <mat-label>Remar<u>k</u>s</mat-label>
                        <textarea rows="1" matInput [(ngModel)]="billRemarks" accesskey="k"></textarea>
                    </mat-form-field>

                </div>



                <div class="w-50 text-center">


                    <div class="pt-1 d-flex justify-content-between" *ngIf="RestSimpleSaleFeature">
                        <p style="font-size: 12px;" class="w-25 text-center"><u>C</u>ASH</p>
                        <input
                            class="bg-transparent border-1 border border-bottom   text-success text-end font-digit w-100"
                            [disabled]="paymentType == 'Bank' || paymentType == 'Credit' " autocomplete="false"
                            id="cash2" accesskey="c" style="font-size: 1.5rem;height: 25px;outline: none;" type="text"
                            [(ngModel)]="cash" (keyup)="getTotal()"
                            (keydown)="getTotal();this.global.handleNumKeys($event);focusTo('#save',$event)" />
                    </div>
                    <div class="d-flex justify-content-between" *ngIf="RestSimpleSaleFeature">
                        <p style="font-size: 12px;" class="w-25 text-center">CHANGE</p>
                        <p style="font-size: 1.5rem;" class="font-digit pt-1 text-end w-75">{{change
                            ||0|number:'1.0-1'}}</p>
                    </div>



                    <button *ngIf="RestSimpleSaleFeature" class="m-1 btn btn-success col-lg-5 fs-12px" id="save"
                        (click)="save('sale',true);paymentType == 'Cash'" accesskey="P"><u>S</u>ave</button>


                    <button class="m-1 btn text-white bg-primary col-lg-5 fs-12px" *ngIf="RestSimpleSaleFeature"
                        matTooltipPosition="right" matTooltip="Save Current Bill"
                        (click)="global.openBootstrapModal('#paymentMehtod',this.tableData != '');focusTo('#cash',$event);generateGst()"
                        accesskey="s">Other</button>



                    <button class="m-1 btn text-white bg-primary col-lg-5 fs-12px"
                        *ngIf="holdbtnType == 'hold' && !RestSimpleSaleFeature" matTooltip="Hold Current Bill"
                        matTooltipPosition="left" (click)="save('hold',false)" accesskey="h">HOLD</button>

                    <button class="m-1 btn text-white bg-primary col-lg-5 fs-12px"
                        *ngIf="holdbtnType == 'rehold' && !RestSimpleSaleFeature" matTooltipPosition="left"
                        matTooltip="ReHold Current Bill" (click)="save('rehold',false)">ReHold</button>

                    <button class="m-1 btn text-white bg-danger col-lg-5 fs-12px" *ngIf="!RestSimpleSaleFeature"
                        matTooltip="Retrieve Hold Bills" matTooltipPosition="right"
                        (click)="global.openBootstrapModal('#retrieveBill',true);getHoldBills();"
                        accesskey="r"><u>R</u>etrieve</button>


                    <button class="m-1 btn text-white bg-warning col-lg-5 fs-12px" accesskey="n"
                        matTooltip="New bill (Alt + n)" matTooltipPosition="left" [disabled]="tableData != ''"
                        (click)="reset();getTable();global.openBootstrapModal('#NewBill',true);"><u>N</u>ew
                        Bill</button>

                    <button class="m-1 btn text-white bg-success col-lg-5 fs-12px" *ngIf="!RestSimpleSaleFeature"
                        matTooltipPosition="right" matTooltip="Save Current Bill"
                        (click)="global.openBootstrapModal('#paymentMehtod',this.tableData != '');focusTo('#cash',$event);generateGst()"
                        accesskey="s"><u>S</u>ave</button>


                    <button matTooltip="Print  Current Bill" matTooltipPosition="left" mat-raised-button
                        *ngIf="!RestSimpleSaleFeature" class="m-1 text-white btn bg-primary col-lg-5 fs-12px"
                        (click)="HOldandPrint('rehold')" accesskey="p">H & <u>P</u>rint</button>

                    <button accesskey="u" matTooltip="Retreiving Saved Bills" matTooltipPosition="right"
                        class="m-1 btn btn-danger  col-lg-5 fs-12px"
                        (click)="global.openBootstrapModal('#SavedBillModal',true);this.getSavedBill() ">D<u>u</u>plicate</button>

                    <button matTooltip="Void Full Bill" matTooltipPosition="left" *ngIf="!RestSimpleSaleFeature"
                        class="m-1 text-white btn bg-info col-lg-5 fs-12px" (click)="voidBill()"
                        accesskey="v"><u>V</u>oid Bill</button>

                    <button matTooltip="Merge Two Bills" matTooltipPosition="right" *ngIf="!RestSimpleSaleFeature"
                        (click)="global.openBootstrapModal('#mergeBill',true)"
                        class="m-1 text-white btn col-lg-5 fs-12px" style="background-color: pink;"
                        accesskey="m"><u>M</u>erge Bill</button>

                   <button class=" w-50 btnText" *ngIf="isProcessing" id="refresh" accesskey="r" 
                    (click)="isProcessing =  false">Refresh</button>


                    <div *ngIf="BankShortCutsFeature">
                        <mat-radio-group name="bankSC" class="d-flex flex-wrap" style="font-size: 8px !important;"
                            [(ngModel)]="bankCoaID">
                            <mat-radio-button (change)="onCashSelected()" [value]="0">Cash</mat-radio-button>
                            <mat-radio-button (change)="onBankSelected()" *ngFor="let item of bankCoaList"
                                [value]="item.coaID">{{item.coaTitle}}</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <div class="hide col-lg-4 bg-gray billArea  border-0 border-start"
        style="right: 0%; height: 100vh;position:fixed;overflow: scroll;">


        <div class=" d-flex p-1 justify-content-between">

            <div class="box " *ngIf="tableTitle != ''" (click)="global.openBootstrapModal('#NewBill',true)">
                <span><small>Table #</small> </span>
                <span><strong>{{tableTitle}}</strong></span>
            </div>
            <div class="box " *ngIf="coverOf != 0" (click)="global.openBootstrapModal('#NewBill',true)">
                <span><small>Cover</small> </span>
                <span><strong>{{coverOf}}</strong></span>
            </div>
            <div class="box" *ngIf="orderType !=''">
                <span><small>Order Type</small> </span>
                <span><strong>{{orderType}}</strong></span>
            </div>

        </div>

        <div style="min-height: 300px;" class="p-2">

            <div class="billTable" style="height: 40vh;">

                <table class="table-logix cursorPointer">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th class="col-lg-4">Title</th>
                            <th class="col-lg-2">Price</th>
                            <th class="col-lg-2">Qty</th>
                            <th class="col-lg-2">Total</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData index as index">
                            <td class="text-center">{{index +1}}</td>
                            <td>{{item.productTitle}}</td>
                            <td class="text-center">{{item.salePrice |number:'1.0-1'}}</td>
                            <td class="text-center">{{item.quantity}}</td>
                            <td class="text-center">{{item.salePrice * item.quantity |number:'1.0-1'}}</td>
                            <td class="text-center"><mat-icon class="text-danger" *ngIf="item.entryType == 'New'"
                                    (click)="deleteRow(item,'')">delete</mat-icon>

                                <mat-icon class="text-danger" data-bs-toggle="modal" data-bs-target="#voidQtyModal"
                                    *ngIf="item.entryType == 'Saved'"
                                    (click)="tempDeleteRow = item">indeterminate_check_box</mat-icon>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>


            <div class=" bg-white border-top p-1 col-lg-4 btas" style="position: fixed;bottom: 6%;right: 0%;">

                <table class="table w-100 ">
                    <tbody>
                        <tr>
                            <th>SUB TOTAL</th>
                            <td class="text-end font-digit fs-30px">{{subTotal |number:'1.0-1'}}</td>
                        </tr>
                        <tr>
                            <th>ADD DISCOUN<u>T</u></th>
                            <td class="text-end font-digit fs-30px">{{billDiscount |number:'1.0-2'}}</td>
                        </tr>
                        <tr>
                            <th>SERVICE CHARGES</th>
                            <td class="text-end font-digit fs-30px">
                                <p class="text-end font-digit"
                                    *ngIf="orderType == 'Dine In' || orderType == '' || orderType == 'Take Away'"
                                    style="font-size: 30px;">{{OtherCharges |number:'1.0-1'}}</p>
                                <input *ngIf="orderType == 'Home Delivery'" [(ngModel)]="OtherCharges"
                                    class="w-50 text-end" (keyup)="getTotal();"
                                    (keydown)="getTotal();this.global.handleNumKeys($event)" />
                            </td>
                        </tr>

                        <tr>
                            <th>NET TOTAL</th>
                            <td class="text-end font-digit fs-40px">{{netTotal |number:'1.0-1'}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row" style="padding-bottom: 10px;">
                    <div class="text-center  w-50">

                        <button mat-raised-button class="m-1 btn text-white bg-primary col-lg-5 btnHeight"
                            *ngIf="holdbtnType == 'hold'" (click)="save('hold',false)" accesskey="h">HOLD</button>

                        <button mat-raised-button class="m-1 btn text-white bg-primary col-lg-5 btnHeight"
                            *ngIf="holdbtnType == 'rehold'" (click)="save('rehold',false)">ReHold</button>


                        <button mat-raised-button class="m-1 text-white btn bg-primary col-lg-5 btnHeight"
                            (click)="HOldandPrint('rehold')" accesskey="p">H & <u>P</u>rint</button>

                        <button mat-raised-button class="m-1 btn text-white bg-danger col-lg-5 btnHeight"
                            (click)="global.openBootstrapModal('#retrieveBill',true);getHoldBills()"
                            accesskey="r"><u>R</u>etrieve</button>

                        <button mat-raised-button class="m-1 btn text-white bg-warning col-lg-5 btnHeight" accesskey="n"
                            [disabled]="tableData != ''"
                            (click)="reset();global.openBootstrapModal('#NewBill',true)"><u>N</u>ew Bill</button>

                    </div>

                    <div class="w-50 row">

                        <mat-form-field class="w-100 matSmall" appearance="outline">
                            <mat-label>Remar<u>k</u>s</mat-label>
                            <textarea rows="1" matInput [(ngModel)]="billRemarks" accesskey="k"></textarea>
                        </mat-form-field>

                    </div>
                </div>


                <div class="col-lg-4" style="position: fixed;bottom: 6%;right: 0%;">
                    <table class="btn-table cursorPointer">
                        <tbody>
                            <tr>
                                <td (click)="global.openBootstrapModal('#paymentMehtod',this.tableData != '')"
                                    class="w-25"> <u>S</u>ave</td>
                                <td (click)="global.openBootstrapModal('#SavedBillModal',true);this.getSavedBill()"
                                    class="w-25">D<u>u</u>plicate</td>
                                <td (click)="voidBill()" class="w-25"><u>V</u>oid Bill</td>
                                <td (click)="global.openBootstrapModal('#mergeBill',true)" class="w-25"><u>M</u>erge
                                    Bill</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>


    </div> -->







    <!----------------Modal Window for Void Quantity ---------->



    <div class="modal fade" id="voidQtyModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="voidQtyModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                <div class="modal-body">
                    <form method="post">

                        <mat-label class="text-center">Enter Void Quantity</mat-label>
                        <div class="d-flex">

                            <mat-form-field appearance="outline" class="w-100 matSmall">
                                <input class="voidQuantity text-center" name="voidQuantity" [(ngModel)]="voidQty"
                                    (keydown)="this.global.handleNumKeys($event)" type="number" min="0" matInput />
                            </mat-form-field>

                        </div>

                        <div class="text-center d-flex justify-content-between ">
                            <button class="btn btn-success" data-bs-dismiss="modal"
                                (click)="deleteRow(tempDeleteRow,voidQty)">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                (click)="tempQty = 1">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------->






    <!----------------Modal Window for Merging Bill---------->



    <div class="modal fade" id="mergeBill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="mergeBillLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-scrollable modal-dialog-centered modal-sm">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                <div class="modal-body">


                    <mat-form-field appearance="outline" class="w-50 pe-2 matSmall">
                        <mat-label>Bill No 1</mat-label>
                        <mat-select [(ngModel)]="mergeBillNo1">
                            <mat-option [disabled]="mergeBillNo2 == item.invBillNo" *ngFor="let item of holdBillList"
                                [value]="item.invBillNo">{{item.tableTitle}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-50  matSmall">
                        <mat-label>Bill No 2</mat-label>
                        <mat-select [(ngModel)]="mergeBillNo2">
                            <mat-option [disabled]="mergeBillNo1 == item.invBillNo" *ngFor="let item of holdBillList"
                                [value]="item.invBillNo">{{item.tableTitle}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>

                <div class="modal-footer bg-mf-blue">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        (click)="mergeBills()">Print</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!---------------------------------------------------------->



    <!------------------------------ Design For Merged Bill Pirnt  --------------------->



    <div id="mergePrint" class="d-none">
        <div class="text-center">
            <img [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
            <h2 *ngIf="showCmpNameFeature">{{companyName}}</h2>
            <h2 *ngIf="!showCmpNameFeature"></h2>
            <p style="margin-top: -10px;" class="fs-11 text-uppercase">{{companyAddress}}</p>
            <p style="margin-top: -20px;" class="fs-11">{{CompanyMobile}}</p>

        </div>


        <div class="p-1">
            <div>
                <table class="table-logix2">
                    <thead>
                        <tr>
                            <th>Inv #</th>
                            <th>Date</th>
                            <th>Counter</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>({{mergeBillNo1}}) ({{mergeBillNo2}})</td>
                            <td>{{myInvDate | date:'dd-MM-yyyy hh:mm:a'}}</td>
                            <td>{{myCounter}}</td>
                        </tr>

                    </tbody>
                </table>

                <tr>
                    <th>Remarks:-</th>
                    <td class="ms-2">{{myRemarks}}</td>
                </tr>
            </div>

            <div>
                <table class="table-logix2">
                    <thead>
                        <tr>
                            <th>S#</th>
                            <th>Table</th>
                            <th>Title</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of myPrintData index as index">
                            <td>{{index +1}}</td>
                            <td class="text-start">{{item.tableTitle}}</td>
                            <td class="text-start">{{item.productTitle}}</td>
                            <td class="text-center">{{item.quantity |number:'1.0-2'}}</td>
                            <td class="text-end">{{item.salePrice |number:'1.0-2'}}</td>
                            <td class="text-end">{{item.quantity * item.salePrice |number:'1.0-2'}}</td>

                        </tr>
                    </tbody>
                </table>

                <table class="w-100 text-end mt-2">
                    <tbody>
                        <tr>
                            <th>Sub Total</th>
                            <td>{{mySubTotal |number:'1.0-0'}}</td>

                        </tr>
                        <tr *ngIf="myOtherCharges != 0">
                            <!-- <th *ngIf="myOrderType == 'Dine In'">Service Charges</th> -->
                            <!-- <th *ngIf="myOrderType == 'Home Delivery'">Delivery Charges</th>
                        <th *ngIf="myOrderType == 'Take Away'">Other Charges</th> -->
                            <th>Service Charges</th>
                            <td>{{myOtherCharges|number:'1.0-0'}}</td>

                        </tr>
                        <tr>
                            <th>Net Total</th>
                            <td>{{mySubTotal + myOtherCharges|number:'1.0-0'}}</td>

                        </tr>


                    </tbody>
                </table>

                <!-- <div class="d-flex  text-end" style="text-align: end;">
    
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"></div>
                    
                    <div class="row fw-bold col-lg-2 text-end" >
                        <mat-label>Sub Total</mat-label>
                        <mat-label *ngIf="myOtherCharges != 0">Other Charges</mat-label>
                        <mat-label>Net Total</mat-label>
                    </div>
    
                    <div class="row text-end col-lg-2" >
                        <mat-label>{{mySubTotal}}</mat-label>
                        <mat-label *ngIf="myOtherCharges != 0">{{myOtherCharges}}</mat-label>
                        <mat-label>{{myNetTotal}}</mat-label>
    
                    </div>
                </div> -->
            </div>
            <hr>
            <p>Wish To Serve You Again!</p>
        </div>
    </div>


    <!---------------------------------------------------------------------------------->



    <!------------------------------ Design For Bill Pirnt  --------------------->

    <app-rest-sale-bill-print id="print-bill" class="hide"></app-rest-sale-bill-print>
    <app-rest-kot-print id="print-Kot" class="hide"></app-rest-kot-print>


    <!---------------------------------------------------------------------------------->


    <!----------------Modal Window for Discount ---------->


    <div class="modal fade" id="disc" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="discLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                <form method="post">
                    <div class="modal-body">



                        <div class="row">
                            <mat-form-field appearance="outline" class="w-50 matSmall">
                                <mat-label>Disc %</mat-label>
                                <input class="prodQty" [(ngModel)]="discPer" name="discountPercent" id="discPer"
                                    (keydown)="this.global.handleNumKeys($event);genDisc('perc')"
                                    (keyup)="genDisc('perc')" type="number" min="0" matInput #bDiscPer />
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-50 matSmall">
                                <mat-label>Disc Amt</mat-label>
                                <input class="prodQty" [(ngModel)]="discAmount" name="discountAmount" id="discRs"
                                    (keydown)="this.global.handleNumKeys($event);genDisc('amt')"
                                    (keyup)="genDisc('amt')" type="number" min="0" matInput #bDiscAmt />
                            </mat-form-field>
                        </div>


                    </div>
                    <div class="modal-footer text-end p-3 bg-mf">
                        <button class="btn btn-success" (click)="verifyDiscount();">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>



    <!----------------Modal Window for Quantity ---------->



    <div class="modal fade" id="qtyModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="qtyModalLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                <div class="modal-body">
                    <div>
                        <form method="post">
                            <mat-label class="text-center">Enter Quantity</mat-label>
                            <div class="row">

                                <mat-form-field appearance="outline" class="w-100 matSmall">
                                    <mat-icon (click)="increment('add',tempQty)" matPrefix>add</mat-icon>

                                    <input class="prodQty text-center" name="prodQty" [(ngModel)]="tempQty"
                                        (keydown)="this.global.handleNumKeys($event);onPriceChange('qty')"
                                        (keyup)="onPriceChange('qty')" type="number" min="0" matInput #prodQty />
                                    <mat-icon (click)="increment('minus',tempQty)" matSuffix>remove</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100 matSmall">
                                    <mat-label>Price</mat-label>
                                    <input class="text-center" name="prodPrice" (keyup)="onPriceChange('price')"
                                        [(ngModel)]="tmpTotalPrice"
                                        (keydown)="this.global.handleNumKeys($event);onPriceChange('price')"
                                        type="number" min="0" matInput #prodPrice />
                                </mat-form-field>

                            </div>

                            <div class="text-center d-flex justify-content-between ">
                                <button class="btn btn-success" data-bs-dismiss="modal"
                                    (click)="changeQty(tempQty);">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    (click)="tempQty = 1;recipeSearch.focus()">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------->



    <!----------------Modal Window for Payment Mehtod ---------->



    <div class="modal fade" id="paymentMehtod" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="paymentMehtodLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered ">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                <div class="modal-header">
                    <h2 class="modal-title" id="paymentMehtodLabel">Payment Method</h2>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <!-- 

                    <div class="d-flex justify-content-between fw-bold">
                        <h4 class="text-center text-success">Bill Total: {{netTotal + GstAmount | number:'1.0-1'}}</h4>
                        <h4 class="text-center text-dark" *ngIf="gstFeature">GST
                            <small style="font-size: 10px;">({{gstValue | number:'1.0-1'}}%)</small>:
                            {{GstAmount | number:'1.0-1'}}
                        </h4>
                        <h4 class="text-center text-danger">Change: {{ change | number:'1.0-1'}}</h4>
                    </div> -->
                    <div class="row">
                        <label class="fw-bold">Add Document</label>
                        <div>
                            <input accept=".pdf" (change)="onDocSelected($event)" #vDoc type="file" id="vDoc"
                                class=" mb-2">
                        </div>
                        <mat-form-field *ngIf="!disableDate" appearance="outline" class="col-lg-12 matSmall">
                            <mat-label>Date</mat-label>
                            <input matInput type="text" readonly="true" [(ngModel)]="invoiceDate"
                                [matDatepicker]="invDate">
                            <mat-datepicker-toggle matSuffix [for]="invDate"></mat-datepicker-toggle>
                            <mat-datepicker #invDate></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                            <mat-label>Customer Name</mat-label>
                            <input type="text" matInput [(ngModel)]="customerName" />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-lg-6 matSmall">
                            <mat-label>Customer Mobile</mat-label>
                            <input matInput type="text" [textMask]="{mask:mobileMask}" [(ngModel)]="customerMobileno" />
                        </mat-form-field>


                        <div class="w-100 mb-3" *ngIf="customerFeature">
                            <ng-select class="w-100 custom" placeholder="Customer" appearance="outline"
                                [(ngModel)]="PartyID" (ngModelChange)="partySelect()" name="customer">
                                <ng-option [value]="0">WalkIn Customer</ng-option>
                                <ng-option *ngFor="let item of partyList " [value]="item.partyID">
                                    {{item.partyName}}</ng-option>
                            </ng-select>
                        </div>

                        <mat-form-field appearance="outline" class="w-100 matSmall">
                            <mat-label>Payment Type</mat-label>
                            <mat-select [(ngModel)]="paymentType"
                                (selectionChange)="generateGst();PartyID = 0; cash = 0; bankCash = 0;getTotal()">
                                <mat-option value="Credit" *ngIf="customerFeature">Credit</mat-option>
                                <mat-option value="Cash">Cash</mat-option>
                                <mat-option value="Bank">Bank</mat-option>
                                <mat-option value="Split">Split</mat-option>
                                <mat-option value="Complimentary">Complimentary</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-card class=" p-2 bg-warning" *ngIf="paymentType !== ''">

                            <div class="d-flex justify-content-between text-center mb-2 ">
                                <mat-label style="font-size: 25px;">Bill Total:</mat-label>
                                <span class="fw-bold" style="font-size: 25px;">{{netTotal + GstAmount |
                                    number:'1.0-1'}}</span>
                            </div>
                            <div class="d-flex justify-content-between text-center mb-2 " *ngIf="gstFeature">
                                <mat-label style="font-size: 25px;">GST:</mat-label>
                                <span class="fw-bold" style="font-size: 25px;">({{gstValue | number:'1.0-1'}}%)</span>
                            </div>

                            <div class="d-flex justify-content-between text-center mb-2 "
                                *ngIf="paymentType == 'Cash' || paymentType == 'Split' || paymentType == 'Credit'">
                                <mat-label style="font-size: 25px;">Cash:</mat-label>
                                <input type="number" class="text-end" id="cash" style="font-size: 25px;width: 180px;"
                                    (keydown)="this.global.handleNumKeys($event);getTotal();changeFocus('#save1',$event)"
                                    (keyup)="getTotal()" [(ngModel)]="cash" />
                            </div>

                            <div class="d-flex justify-content-between  mb-2"
                                *ngIf="paymentType == 'Bank' || paymentType == 'Split'  || paymentType == 'Credit'">
                                <mat-label style="font-size: 25px;">Bank:</mat-label>
                                <select [(ngModel)]="bankCoaID " style="width: 150px;"
                                    (ngModelChange)="generateGst();getTotal()">
                                    <option *ngFor="let item of bankCoaList" [value]="item.coaID">{{item.coaTitle}}
                                    </option>
                                </select>
                                <!-- [disabled]="paymentType == 'Split' || paymentType == 'Bank'" -->

                                <input type="number" style="font-size: 25px;width: 180px;" id="bank"
                                    [disabled]="paymentType == 'Split' || paymentType == 'Bank'" class="text-end"
                                    (keydown)="this.global.handleNumKeys($event);getTotal();changeFocus('#save1',$event)"
                                    (keyup)="getTotal()" [(ngModel)]="bankCash" />
                            </div>
                            <div class="d-flex justify-content-between text-center mb-2 ">
                                <mat-label style="font-size: 25px;">Change:</mat-label>
                                <span class="fw-bold" style="font-size: 25px;">{{ change | number:'1.0-1'}}</span>
                            </div>
                        </mat-card>
                    </div>


                </div>

                <div class="modal-footer bg-mf-blue">
                    <button class="btn btn-success" [disabled]="isProcessing" id="save1" ondblclick="return false"
                        (click)="save('sale',true)">Save</button>
                    <button class="btn btn-success d-none" id="save2" accesskey="."
                        (click)="save('sale',false)">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="paymentType = 'Cash';cash = 0; bankCash = 0">Close</button>
                </div>


            </div>
        </div>
    </div>

    <!---------------------------------------------------------->


    <!----------------Modal Window for Selecteing New Bill---------->
    <div class="modal fade" id="NewBill" tabindex="-1" aria-labelledby="NewBillLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">
                <form method="post">
                    <div class="modal-body">

                        <div class="d-flex">
                            <div class="col-lg-10" style="height: 50vh;overflow-y: scroll;">
                                <table>
                                    <tbody class="">
                                        <tr style="display: inline-flex; " class="cursorPointer "
                                            *ngFor="let item of tableList ">
                                            <mat-card name="TableNo" class="btblbtn justify-content-center"
                                                *ngIf="item.tableStatus == false"
                                                [ngClass]="item.tableID == tempTableID ? 'bg-primary text-white' : 'bg-white'"
                                                (click)="tempTableID = item.tableID">
                                                <span>{{item.tableTitle}}</span>
                                            </mat-card>
                                            <mat-card name="TableNo"
                                                class="btblbtn justify-content-center bg-warning text-white"
                                                *ngIf="item.tableStatus == true">
                                                <span>{{item.tableTitle}}</span>
                                            </mat-card>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-2 border-start p-1">

                                <mat-radio-group name="orderType" aria-label="Select an option"
                                    [(ngModel)]="tempOrderType">
                                    <mat-radio-button *ngFor="let item of orderTypeList"
                                        [disabled]="invBillNo !== '' || tableData != ''"
                                        (change)="onOrderTypeSelected(item.val)"
                                        [value]="item.val">{{item.title}}</mat-radio-button>
                                </mat-radio-group>

                                <mat-form-field appearance="outline" class="w-100 pt-4 matSmall" *ngIf="coverOfFeature">
                                    <mat-label>Cover</mat-label>
                                    <input name="cover" type="number" (keydown)="this.global.handleNumKeys($event)"
                                        matInput [(ngModel)]="coverOf" />
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-lg-12 matSmall" *ngIf="waiterFeature">
                                    <mat-label>Waiter</mat-label>
                                    <mat-select [(ngModel)]="BookerID" name="waiter">
                                        <mat-option class="d-none"><ngx-mat-select-search #bookerSearch
                                                [placeholderLabel]="'Search...'"
                                                [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                                        <mat-option *ngFor="let item of bookerList | filter:bookerSearch.value"
                                            [value]="item.bookerID">{{item.bookerName}}</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer bg-mf-blue">
                        <button class="btn btn-success" (click)="selectT()">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                </form>


            </div>
        </div>
    </div>

    <!---------------------------------------------------------->


    <!----------------Modal Window for Retrieving Holded Bills ---------->
    <div class="modal fade" id="retrieveBill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-labelledby="retrieveBillLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
            <div class="modal-content " style="background-color: rgb(248, 247, 247);">


                <app-sale-holded-bill (billDetailEmitter)="getBillDetail($event)"
                    [holdBillList]="holdBillList"></app-sale-holded-bill>

                <div class="modal-footer bg-mf-blue">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!---------------------------------------------------------->

    <!------------------------- Modal Window for Saved Bill =----------------->


    <div class="modal fade" id="SavedBillModal" tabindex="-1" aria-labelledby="SavedBillModalLabel">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-xl">
            <div class="modal-content">
                <app-sale-saved-bill (sendToFbrEmitter)="sendToFbr($event)"
                    (printDuplicateEmitter)="printDuplicateBill($event)" (billDetailEmitter)="billDetails($event)"
                    (postBillEmitter)="postSaleBill($event)" [savedbillList]="savedbillList"></app-sale-saved-bill>

                <!-- <div>

                    <div class="text-end p-2">
                        <mat-form-field appearance="outline" class="w-100 matSmall">
                            <mat-label>Search...</mat-label>
                            <input matInput type="text" #searchSavedBill />
                        </mat-form-field>
                    </div>
                    <div class="p-2" style="max-height: 400px;overflow-y: scroll;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S#</th>
                                    <th>Bill #</th>
                                    <th>Order</th>
                                    <th>Date</th>
                                    <th>Table No</th>
                                    <th>Type</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                    <th>Print</th>
                                    <th>Detail</th>
                                    <th *ngIf="postBillFeature">Post</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of savedbillList |filter:searchSavedBill.value index as index">
                                    <td>{{index+1}}</td>
                                    <td>{{item.invBillNo}}</td>
                                    <td>{{item.orderNo}}</td>
                                    <td>{{item.invDate|date:'dd-MM-yyyy'}} ({{item.createdOn|date:'hh:mm:a'}})</td>
                                    <td>{{item.tableTitle}}</td>
                                    <td>{{item.paymentType}}</td>
                                    <td>{{item.partyName}}</td>
                                    <td>{{item.netTotal |number:'1.0-0'}}</td>
                                    <td class="cursorPointer"><mat-icon class="text-primary "
                                            (click)="printDuplicateBill(item)">print</mat-icon>
                                        <mat-icon
                                            *ngIf="gstFeature && !item.fbrStatus && item.paymentType !== 'Complimentary'"
                                            (click)="sendToFbr(item)">send</mat-icon>
                                    </td>
                                    <td class="text-success cursorPointer"><mat-icon
                                            (click)="billDetails(item)">receipt</mat-icon></td>
                                    <td *ngIf="postBillFeature" class="text-success cursorPointer"><mat-icon (click)="postSaleBill(item)">
                                            {{!item.postedStatus ? 'check_box_outline_blank' : 'check_box'}}</mat-icon>
                                    </td>
                                </tr>
                            </tbody>

                        </table>


                    </div>

                    <div class="text-end bg-mf-blue p-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div> -->

                <!------------------------------ Design For Bill Pirnt  --------------------->

                <app-rest-sale-bill-print id="print-bill" class="hide"></app-rest-sale-bill-print>


                <!---------------------------------------------------------------------------------->
                <div class="text-end bg-mf-blue p-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




</div>