
<div >
    <div class="text-end p-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search...</mat-label>
            <input matInput #searchBill  />
        </mat-form-field>
    </div>
    <div class="p-2"  style="max-height: 400px;overflow-y: scroll;">

      

       <table class="table">
           <thead>
               <tr>
                   <th>S#</th>
                   <th>Bill #</th>
                   <th>Date</th>
                   <th>Type</th>
                   <th>Counter</th>
                   <!-- <th>Amount</th> -->
                   <th>Print</th>
                   <th>Detail</th>
               </tr>

           </thead>
           <tbody>
               <tr *ngFor="let item of savedbillList|filter:searchBill.value index as index">
                
                   <td>{{index+1}}</td>
                   <td>{{item.invBillNo}}</td>
                   <td>{{item.invDate|date:'dd-MM-yyyy'}} ({{item.createdOn|date:'hh:mm:a'}})</td>
                   <td>{{item.paymentType}}</td>
                   <td>{{item.entryUser}}</td>
                   <!-- <td>{{item.netTotal |number:'1.0-0'}}</td> -->
                   <td class="text-primary cursorPointer"><mat-icon (click)="printDuplicateBill(item)">print</mat-icon></td>
                   <td class="text-success cursorPointer"><mat-icon (click)="billDetails(item)">receipt</mat-icon></td>
               </tr>
           </tbody>
           
       </table>


    </div>

    <div class="text-end bg-mf-blue p-3">
  
        <button type="button" class="btn btn-secondary"  (click)="closeDialog()">Close</button>
    </div>

</div>




<!------------------------------ Design For Bill Pirnt  --------------------->



<div id="duplicate" class="d-none">
    <div class="text-center">
        <img [src]="companyLogo" [height]="logoHeight" [width]="logoWidth">
        <h2>{{companyName}}</h2>
        <p style="margin-top: -15px;">{{companyAddress}}</p>
        <p style="margin-top: -20px;">{{CompanyMobile}}</p>

    </div>


    <div >
      <table class="table table-logix2">
        <thead>
            <tr>
                <th>Inv #</th>
                <th>Date</th>
                <th>Counter</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>{{myInvoiceNo}}</td>
                <td>{{myInvDate | date:'dd-MM-yyyy hh:mm:a'}}</td>
                <td>{{myCounterName}}</td>
            </tr>
           
        </tbody>
      </table>

      <tr>
        <th>Remarks:-</th>
        <td class="ms-2">{{myRemarks}}</td>
    </tr>
    </div>

    <h2 *ngIf="myPaymentType == 'Complimentary'" class="border border-dark w-100 text-center">Complimentary</h2>
    <h2 *ngIf="myDuplicateFlag == true" class="border border-dark w-100 text-center">Duplicate</h2>

    <div>
        <table class="w-100 table-garment-sale">
            <thead >
                <tr>
                    <th style="width:10% !important;">Qty</th>
                    <th style="width:20% !important;">Price</th>
                    <th style="width:10% !important;">Disc Rs</th>
                    <th style="width:10% !important;">Disc %</th>
                    <th style="width:20% !important;">Total</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of myPrintData index as index" >
                    <td colspan="5" class="text-start">
                        &nbsp;{{index +1}}. <b> {{item.productTitle}}</b>
                        <table class="table-garment-sale-2 w-100">
                            <tr>
                                <td class="text-center" style="width:10% !important;">{{item.quantity |number:'1.0-2'}}</td>
                                <td class="text-end" style="width:20% !important;">{{item.salePrice |number:'1.0-2'}}</td>
                                <td class="text-end" style="width:10% !important;">{{myDiscInR|number:'1.0-2'}}</td>
                                <td class="text-end" style="width:10% !important;">{{myDiscInP|number:'1.0-2'}}</td>
                                <td class="text-end" style="width:20% !important;">{{(item.quantity * item.salePrice) - (myDiscInR * item.quantity) |number:'1.0-2'}}</td>
                            </tr>
                        </table>
                    </td>
                    

                </tr>
                <tr>
                    <td colspan="2">Total Items</td>
                    <td class="fw-bold">{{myQtyTotal | number:'1.0-2'}}</td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>



       <table class="w-100  text-uppercase">
        <tbody>
            <tr class="text-center">
                <td width="40%" rowspan="7" style="font-size: 10px;" >
                    <img [src]="global.thankyouImage" height="80" width="80" /><br />
                    FOR VISITING US.
                </td>
            </tr>
            <tr class="text-end">
              
                <td></td>
                <td class="fw-bold">Sub Total</td>
                <td  class="fs-20 fw-bold">{{mySubTotal |number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end"    *ngIf="myOtherCharges > 0">
                <td></td>
                <td  class="fw-bold" >Other Charges</td>
                <td class="fs-20 fw-bold"> {{myOtherCharges|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myDiscount > 0">
                <td></td>
                <td   class="fw-bold" >Discount</td>
                <td class="fs-20 fw-bold">{{myDiscount|number:'1.0-1'}}</td>
         
            </tr>
         
            <tr class="text-end">
                <td></td>
                <td   class="fw-bold" >Net Total</td>
                <td class="fs-20 fw-bold">{{mySubTotal + myOtherCharges - myDiscount|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myPaymentType == 'Cash' || myPaymentType == 'Split' ">
                <td></td>
                <td   class="fw-bold">Cash</td>
                <td class="fs-20 fw-bold">{{myCash|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myPaymentType == 'Bank' || myPaymentType == 'Split' ">
                <td></td>
                <td   class="fw-bold" >Bank</td>
                <td class="fs-20 fw-bold">{{myBank|number:'1.0-1'}}</td>
         
            </tr>
            <tr class="text-end" *ngIf="myChange > 0">
                <td></td>
                <td   class="fw-bold" >Change</td>
                <td class="fs-20 fw-bold">{{myChange|number:'1.0-1'}}</td>
         
            </tr>
            
        </tbody>
    </table>



        <hr>
        <div>
            <p>Wish to Serve You Again!</p>
        </div>

    </div>

</div>


<!---------------------------------------------------------------------------------->






