@use '@angular/material' as mat;

@import "~@ng-select/ng-select/themes/default.theme.css";
// @import "~@ng-select/ng-select/themes/material.theme.css";

@include mat.core();

// @include mat.form-field-outlined($min-container-height: 60px);

.matSmall {
  @include mat.form-field-density(-3);
  // @include mat.button-density(-1);
  --mat-form-field-container-height: 16px !important;
  --mat-form-field-container-vertical-padding: 8px !important;


  // .mat-mdc-form-field{
  //   height: 80px;
  // }
  .mat-mdc-text-field-wrapper {
    min-height: 30px !important;
  }

  ///////////////////////// setting size of material Input field
  .mat-mdc-form-field-infix {
    // padding-top: 2px !important;
    // padding-bottom: 2px !important;
    min-height: 30px !important;
  }


  /////////////////// setting the size of material Date picker ///////////

  .mdc-icon-button{
     font-size: 40px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .mat-datepicker-toggle-default-icon{
    padding-right: 2px !important;
     font-size: 15px !important;
    width: 20px !important;
    height: 20px !important;
  }



  mat-label {
    font-size: 12px !important;
  }


  mat-icon {
    font-size: 20px !important;
  }



}


.matMini {
  @include mat.form-field-density(-3);
  // @include mat.button-density(-1);
  --mat-form-field-container-height: 10px !important;
  --mat-form-field-container-vertical-padding: 4px !important;


  // .mat-mdc-form-field{
  //   height: 80px;
  // }
  .mat-mdc-text-field-wrapper {
    min-height: 24px !important;
  }

  ///////////////////////// setting size of material Input field
  .mat-mdc-form-field-infix {
    // padding-top: 2px !important;
    // padding-bottom: 2px !important;
    min-height: 24px !important;
  }


  /////////////////// setting the size of material Date picker ///////////

  .mdc-icon-button{
     font-size: 38px !important;
    width: 38px !important;
    height: 38px !important;
  }

  .mat-datepicker-toggle-default-icon{
    padding-right: 2px !important;
     font-size: 10px !important;
    width: 18px !important;
    height: 18px !important;
  }



  mat-label {
    font-size: 10px !important;
  }


  mat-icon {
    font-size: 18px !important;
  }



}




$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),

    ));

$my-theme-dark: mat.define-dark-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),


    ));

//@include mat.all-component-colors($my-theme-dark);
.darkTheme {
  @include mat.all-component-colors($my-theme-dark);
}

.lightTheme {
  @include mat.all-component-colors($my-theme);
}


@import url('./assets/style/navbar.scss');
@import url('./assets/style/common.scss');
@import url('./assets/style/AngularMaterial.scss');
@import url('./assets/style/fonts.scss');
// @import url('./assets/style/logixDesign.css');
@import url('./assets/style/barcode.css');
@import '~material-design-icons/iconfont/material-icons.css';


html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;

  .modal-backdrop {
    display: none;
  }

  .modal {
    background: rgba(0, 0, 0, 0.5);
  }

}

.body {
  padding-top: 65px !important;
  padding-bottom: 50px !important;
}


.swal-top-z {
  z-index: 10000 !important;
  /* higher than Angular Material dialog (default ~1000) */
}