<div >

    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">ADD CITY NAME</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>

    <div class="text-center row container-fluid " >

        <mat-form-field class="col-lg-10 pe-1" appearance="outline">
            <mat-label>Select Country</mat-label>
            <mat-select [(ngModel)]="countryID">
                <mat-option><ngx-mat-select-search [(ngModel)]="countrySearch"
                    [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                    name="search"></ngx-mat-select-search></mat-option>
                <mat-option *ngFor="let item of countryList | filter:countrySearch" [value]="item.countryID">{{item.countryName}}</mat-option>
            </mat-select>
           
            </mat-form-field>
         
            <button class="col-lg-2 btn btn-primary" style="height: 55px;" (click)="addCountry()"><mat-icon>add</mat-icon></button>


        <mat-form-field class="w-100" appearance="outline">
        <mat-label>City Name</mat-label>
        <input matInput type="text" [(ngModel)]="cityName">
        </mat-form-field>

        
    </div>
    <div class="text-end bg-mf p-3" >
        <button class="btnsave m-1" accesskey="s" (click)="addCity()"> {{actionbtn}} </button>
        <button class="btnreset m-1 " (click)="reset()"> Reset </button>
    </div>
</div>

