

<div>
    <div class="text-end p-2">
        <mat-form-field appearance="outline" class="w-100 matSmall">
            <mat-label>Search...</mat-label>
            <input matInput #searchBill name="searchBill" type="text" />
        </mat-form-field>
    </div>
    <div class="p-2" style="max-height: 400px;overflow-y: scroll;">



        <table class="table">
            <thead>
                <tr>
                    <th>S#</th>
                    <th>Bill #</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Counter</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Print</th>
                    <th>Detail</th>
                    <th *ngIf="postBillFeature">Post</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let item of savedbillList|filter:searchBill.value index as index">

                    <td>{{index+1}}</td>
                    <td>{{item.invBillNo}}</td>
                    <td>{{item.invDate|date:'dd-MM-yyyy'}} ({{item.createdOn|date:'hh:mm:a'}})</td>
                    <td>{{item.paymentType}}</td>
                    <td>{{item.entryUser}}</td>
                    <td>{{item.partyName || "Walk In"}}</td>
                    <td>{{item.netTotal |number:'1.0-0'}}</td>
                    <td >
                        <div class="cursorPointer d-flex gap-2">
                            <mat-icon class="text-dark " *ngIf="changePaymentMehtodFeature && crudList.u && !postBillFeature"
                            (click)="changePayment(item)">payment</mat-icon>
                        <mat-icon class="text-primary "
                            (click)="printDuplicateBill(item)">print</mat-icon>
                        <mat-icon class="text-dark" *ngIf="!item.fbrStatus && gstFeature && item.invType == 'S'"
                            (click)="sendToFbr(item)">send</mat-icon>
                        </div>
                    </td>
                    <td class="text-success cursorPointer"><mat-icon
                            (click)="billDetails(item)">receipt</mat-icon></td>
                    <td class="text-success cursorPointer" *ngIf="postBillFeature"><mat-icon 
                            (click)="postSaleBill(item)"> {{!item.postedStatus ? 'check_box_outline_blank' : 'check_box'}}</mat-icon></td>
                </tr>
            </tbody>

        </table>


    </div>

    <div class="text-end bg-mf-blue p-3">

        <button type="button" class="btnclose" data-bs-dismiss="modal">Close</button>
    </div>


    <!------------------------------ Design For Bill Pirnt  --------------------->

    <app-sale-bill-print id="print-bill" class="hide"></app-sale-bill-print>


    <!---------------------------------------------------------------------------------->

</div>

