<div >

    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">ADD COUNTRY NAME</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>

    <div class="text-center container-fluid " >
        <mat-form-field class="w-100" appearance="outline">
        <mat-label>Country Name</mat-label>
        <input matInput type="text" [(ngModel)]="countryName">
        </mat-form-field>

        
    </div>
    <div class="text-end p-3 bg-mf" >
        <button class="btnsave m-1" accesskey="s" (click)="save()"> {{actionbtn}} </button>
        <button class="btnreset m-1 " (click)="reset()">Reset </button>
    </div>
</div>


