<div class="body container p-1">


    <div class="d-flex justify-content-center mt-2">
        <div class="w-40 row">

            <div class="col-md-12">
                <div class="banner ">

                    <!-- <img [src]=""  > -->

                </div>
            </div>


            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>
            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>



            <div class="col-md-12">
                <div class="banner ">

                    <!-- <img [src]=""  > -->

                </div>
            </div>

            <div class="col-md-12">
                <div class="banner ">

                    <!-- <img [src]=""  > -->

                </div>
            </div>
            <div class="col-md-12">
                <div class="banner ">

                    <!-- <img [src]=""  > -->

                </div>
            </div>



            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>

            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>

            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>

            <div class="col-md-6">
                <div class="category">

                    <span class="label">Beverages</span>

                </div>
            </div>



            <div class="col-md-12">
                <div class="banner ">

                    <!-- <img [src]=""  > -->

                </div>
            </div>

            <div class="col-md-12">
                <div class="banner ">

                    <!-- <img [src]=""  > -->

                </div>
            </div>

        </div>
    </div>

</div>




<div class="modal fade" id="changeDetail" tabindex="-1" aria-labelledby="SavedBillModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-sm">
        <div class="modal-content">

            <div class="modal-body justify-content-center">



            </div>

            <div class="modal-footer bg-mf-blue">
                <button class="btnsave">Save</button>
                <button type="button" class="btnclose" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>